{% extends "main/base.html" %}

{% block page_title %}
    О проекте
{% endblock page_title %}

{% block content %}

    <div id="message" class="b-post-item">
        <h3 class="b-post-item__heading">Что такое Tabmaker?</h3>
        <section class="b-post-item__text">
            <p>Tabmaker - это веб-приложение для ведения турниров по парламентским дебатам. Tabmaker создан для замены Tournaman, чтобы избавить организаторов и судей от проблем, связанных с ведением турнира.</p>
        </section>
        <section class="b-post-item__text">
        <h3 class="b-post-item__heading">Пять причин перейти на Tabmaker</h3>
        <ul class="b-post-item__list">
            <li>Теперь Вам не нужно переносить данные о командах и судьях из Google Forms. Все, что вам нужно - это отобрать команды и судей среди тех, кто зарегистрировался на ваш турнир через Tabmaker</li>
            <li>Теперь судьи могут сразу внести результаты своего раунда на сайт с помощью телефона, планшета или компьютера. Для этого нужен только Интернет</li>
            <li>У турнира может быть сразу несколько администраторов, которые могут вносить и проверять командные и спикерские баллы</li>
            <li>Тэб турнира автоматически публикуется на сайте после того, как тэбмейкер завершает турнир</li>
            <li>Регистрация на турниры стала намного проще. Пользователям достаточно один раз зарегистрироваться на сайте, а затем нажать "Участвовать" или "Судить" и дождаться одобрения организаторов</li>
        </ul>
        </section>
    </div>

{% endblock content %}
