{% extends "main/base.html" %}

{% block page_title %}
    О проекте
{% endblock page_title %}

{% block content %}

    <div id="message" class="b-post-item">
        <h3 class="b-post-item__heading">Что такое Tabmaker?</h3>
        <section class="b-post-item__text">
            <p>
                Tabmaker - это веб-приложение от команды разработчиков из <a href="https://vk.com/debates_vl">Клуба Дебатов ДВФУ</a>
                для проведения турниров по парламентским дебатам.
                Наша цель - избавить организаторов и судей от проблем, возникающих при использовании Tournaman.
            </p>
        </section>
        <section class="b-post-item__text">
        <h3 class="b-post-item__heading">Пять причин перейти на Tabmaker:</h3>
        <ul class="b-post-item__list">
            <li>
                Всё необходимое для проведения турнира в одном месте. Больше не нужно вести отдельно регистрацию команд и судей, вручную вносить данные в Tournaman и самостоятельно переносить результаты в Google Таблицу.
            </li>
            <li>
                Регистрация на турниры стала намного проще. Пользователям достаточно один раз зарегистрироваться на сайте. После этого для присоединения к любому турниру достаточно нажать "Участвовать" или "Судить".
            </li>
            <li>Судьи самостоятельно вносят результаты раунда в систему с помощью телефона, планшета или компьютера.</li>
            <li>У турнира может быть сразу несколько администраторов, которые будут управлять им.</li>
            <li>Тэб автоматически публикуется на сайте после завершения турнира.</li>
        </ul>
        </section>
        <h3 class="b-post-item__heading">Мы не стоим на месте и открыты для любых ваших идей по улучшению Tabmaker.</h3>
    </div>

{% endblock content %}
