<!DOCTYPE html>

<html>

<head lang="ru">

{% block head %}
    {% include "main/header.html" %}
{% endblock head %}

</head>

<body>

{% if request.user.is_authenticated %}
    <a href="/accounts/logout/">Logout</a>
    {% if request.user.email %}
        {{ request.user.email }}
    {% endif %}
    {% if request.user.profile.account_verified %} (verified) {% else %} (unverified) {% endif %}

{% else %}
    <a href="/accounts/login/">Login</a>
{% endif %}

{% block body %}
    <p><a href="{% url "tournament:new" %}">Создать новый турнир</a></p>
    {% for tournament in tournaments %}
        <p>
            <a href="{% url 'tournament:show' tournament.id %}">
                {{ tournament.name }}
            </a>
        </p>
    {% endfor %}
{% endblock body %}

</body>
</html>
