<!DOCTYPE html>

<html>
<head lang="ru">

{% block head %}
    {% include "main/head.html" %}
{% endblock head %}

</head>

<body>
<div class="container card-panel">

<div class="row" id="pagewrapper">

{% block sidebar%}
    {% include "main/sidebar.html" %}
{% endblock %}

{% block header %}
    {% include "main/header.html" %}
{% endblock %}

{% block page %}
    {% include "main/create_tournament.html" %}
{% endblock %}

</div>

{% block footer %}
    {% include "main/footer.html" %}
{% endblock footer %}


</body>
</html>
