<form class="page col s9" action="">
	<div class="row">
		<div class="input-field col s6">
			<input id="tournament_name" type="text" class="validate">
			<label for="tournament_name">Название турнира</label>
		</div>
	</div>
	<div class="row">
  		<div class="col s4">
	  		<label>Страна</label>
	  		<select class="col s4">
	    		<option value="1">Россия</option>
	    		<option value="2">Казахстан</option>
	    		<option value="3">Китай</option>
	  		</select>
  		</div>
  		<div class="col s4">
	  		<label>Город</label>
	  		<select class="col s4">
	    		<option value="1">Владивосток</option>
	    		<option value="2">Москва</option>
	    		<option value="3">Казань</option>
	  		</select>
  		</div>
  		<div class="col s4">
	  		<label>Университет</label>
	  		<select class="col s4">
	    		<option value="1">ДВФУ</option>
	    		<option value="2">НИУ ВШЭ</option>
	    		<option value="3">МГУ</option>
	  		</select>
  		</div>
	</div>
	<div class="row">
		<div class="input-field col s4">
			<input id="street" type="text" class="validate">
			<label for="street">Улица</label>
		</div>
		<div class="input-field col s2">
			<input id="house" type="text" class="validate">
			<label for="house">Дом</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s4">
			<input type="date" class="datepicker">
			<label>Начало</label>
		</div>
		<div class="input-field col s2">
			<input id="starttime" type="time" class="timepicker">
			<label for="starttime">Время</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s4">
			<input id="enddate" type="date" class="datepicker">
			<label for="enddate">Окончание</label>
		</div>
		<div class="input-field col s2">
			<input id="endtime" type="time" class="timepicker">
			<label for="endtime">Время</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s4">
			<input id="regdate" type="date" class="datepicker">
			<label for="regdate">Регистрация до</label>
		</div>
		<div class="input-field col s2">
			<input id="regtime" type="time" class="timepicker">
			<label for="regtime">Время</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s4">
			<input id="teams_number" type="text" class="validate">
			<label for="teams_number">Количество команд</label>
    		<p class="card-panel">Количество команд должно быть кратно четырем</p>
		</div>
	</div>
	<div class="row">
		<div class="col s4">
	  		<label>Выход в плэй-офф</label>
	  		<select class="col s4">
	    		<option value="1">В финал</option>
	    		<option value="2">В полуфинал</option>
	    		<option value="3">В 1/4</option>
	    		<option value="3">В 1/8</option>
	    		<option value="3">В 1/16</option>
	  		</select>
  		</div>
	</div>
	<div class="row">
		<div class="input-field col s4">
			<input id="cheir" type="text" class="validate">
			<label for="cheir">Главный судья</label>
		</div>
	</div>
	<div class="row">
		<div class="col s4">
			<input id="contact_person" type="text" class="validate">
			<label for="contact_person">Контактное лицо</label>
		</div>
		<div class="col s4">
			<input id="email_contact_person" type="email" class="validate">
			<label for="email_contact_person">Email</label>
		</div>
		<div class="col s4">
			<input id="phone_contact_person" type="tel" class="validate">
			<label for="phone_contact_person">Номер телефона</label>
		</div>
	</div>
	<div class="row">
		<div class="col s8">
			<textarea id="about_tournament" class="materialize-textarea"></textarea>
			<label for="about_tournament">О турнире</label>
		</div>
	</div>
	<div class="row">
		<div class="col s4">
			<input id="url" type="url" class="validate">
			<label for="url">Cсылка в социальных сетях</label>
		</div>
	</div>
    <div class="row">
    	<button class="waves-effect waves-light btn"><a href="#">Создать турнир</a></button>
    </div>
</form>