<meta charset="UTF-8">
<title>Новый турноман. Мы заставим вас вздачнуть...</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static "main/css/normalize.css" %}">
<link rel="stylesheet" href="{% static "main/css/materialize.css" media="screen,projection" %}">
<link rel="stylesheet" href="{% static "main/css/main.css" media="screen,projection" %}">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static "main/js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "main/js/main.js" %}"></script>


