{% extends "main/base.html" %}

{% block page_title %}
   Как создать и провести турнир с помощью Tabmaker?
{% endblock page_title %}

{% block content %}

<div class="b-post">
    <div class="b-post-item">

        <h1 class="b-post-item__superheading">До турнира</h1>

        <h3 class="b-post-item__heading">1. Зарегистрируйтесь на сайте</h3>
        <section class="b-post-item__text">
            <p>При регистрации укажите свои настоящие данные, чтобы другие участники смогли с вами связаться или принять решение о вашем участии в турнирах. Если вы заполните все правильно, то на e-mail, который вы указали при регистрации, придет ссылка. Нажмите на ссылку, чтобы подтвердить аккаунт. Если вы забудете пароль, то сможете сбросить его на странице «Войти».</p>
        </section>

        <h3 class="b-post-item__heading">2. Создайте турнир</h3>
        <section class="b-post-item__text">
            <p>На главной странице вверху есть кнопка «Создать турнир». Нажмите на нее, заполните данные о турнире и нажмите "Подтвердить". Теперь турнир появился в списке турниров на главной странице, а также в разделе «Мои турниры» в меню «Профиль» (слева). Если вы перейдете на страницу с турниром, то увидите в левом меню блок «Управление турниром» - все, что нужно для ведения турнира, находится там.</p>
        </section>

        <h3 class="b-post-item__heading">3. Добавьте администраторов (тэбмейкеров)</h3>
        <section class="b-post-item__text">
            <p>Если вести тэб будут несколько человек, то вы можете сделать их администраторами турнира в Tabmaker. Для этого:
            <ul class="b-post-item__list">
                <li>Перейдите на страницу турнира</li>
                <li>В меню «Управление турниром» (слева) нажмите "Администраторы"</li>
                <li>Введите e-mail того, кого хотите сделать администратором (Этот человек должен быть зарегистрирован в Tabmaker)</li>
            </ul>
            </p>
        </section>

        <h3 class="b-post-item__heading">4. Подождите, пока команды и судьи зарегистрируются</h3>
        <section class="b-post-item__text">
            <p>Они могут это сделать на странице с турниром, если просто нажмут кнопку «Участвовать» или «Судить». При этом, команды автоматически добавятся в список потенциальных участников, а вам нужно будет отобрать из них реальных участников. Регистрация на турнир возможна до того, как вы её закроете. Потом вы сможете добавлять команды и судей только вручную в меню «Управление турниром».</p>
        </section>

        <h3 class="b-post-item__heading">5. Закройте регистрацию на турнир</h3>
        <section class="b-post-item__text">
            <p>В меню «Управление турниром» нажмите «Закрыть регистрацию». Теперь можно настроить турнир.</p>
        </section>

        <h3 class="b-post-item__heading">6. Отберите судей и команды</h3>
        <section class="b-post-item__text">
            <p>В меню «Управление турниром» нажмите на пункт «Судьи». У каждого человека в списке есть статус:
            <ul class="b-post-item__list">
                <li>Зарегистрирован как судья</li>
                <li>Судья в списке</li>
                <li>Боковой судья</li>
                <li>Судья</li>
            </ul>
            </p>
            <p>
            Тем, кого вы планируете сделать главными судьями в раунде (чеирами) присвойте статус "Судья". Боковые судьи пока не распределяются по комнатам через Tabmaker.
            </p>
            <p>Чтобы отобрать команды, в меню «Управление турниром» нажмите на пункт «Команды» и учажите статус "Участник" для команд, которые будут допущены к участию в турнире.</p>
        </section>

        <h3 class="b-post-item__heading">7. Добавьте аудитории</h3>
        <section class="b-post-item__text">
            <p>В меню «Управление турниром» нажмите на пункт «Аудитории» и введите аудитории или любые места, где будут раунды.
            </p>
        </section>

        <h1 class="b-post-item__superheading">На турнире</h1>

        <h3 class="b-post-item__heading">1. Начните турнир</h3>
        <section class="b-post-item__text">
            <p>В «Управлении турниром» нажмите «Начать турнир». Если число команд кратно 4, а также если никто не участвует в двух командах сразу, то вы сможете создать турнир. В ином случае вы получите сообщения об ошибках. Чтобы исправить ошибки, вам нужно по очереди проверить количество команд (должно быть кратно 4), количество судей (чеиров должно хватить на все комнаты), и количество аудиторий (тоже должно хватать на все комнаты).
            </p>
        </section>

        <h3 class="b-post-item__heading">2. Создавайте новые раунды</h3>
        <section class="b-post-item__text">
            <p>В меню «Управление турниром» нажмите на пункт «Управление раундами». На странице «Управление раундами» вы можете создавать раунды, презентации для раундов, перейти к вводу результатов раундов.
            </p>
        </section>

        <h3 class="b-post-item__heading">3. Создайте первый раунд</h3>
        <section class="b-post-item__text">
            <p>На странице «Управление раундами» нажмите на кнопку «Создать следующий раунд». Введите тему раунда и время начала. По желанию вы можете ввести текст для инфослайда. Обратите внимание, что вы можете сделать раунд закрытым, тогда командные баллы не будут видны участникам турнира до его окончания. После нажатия кнопки «Далее» вы попадете на страницу с выбором команд и судей. На ней вы можете определять судей и аудитории по комнатам, вручную менять позиции команд (по очереди кликните на команды, которые хотите поменять местами). Tabmaker сортирует команды по позициям так же, как tournaman: обеспечивает командам одинаковое количество игр на всех позициях по ходу турнира, а румы формирует по силе команд.
            </p>
        </section>

        <h3 class="b-post-item__heading">4. Объявите тему участникам</h3>
        <section class="b-post-item__text">
            <p>На странице «Управление раундами» нажмите на кнопку «Презентация раунда». Вы попадете на страницу с презентацией, в ней содержатся список комнат для текущего раунда, затем инфослайд и резолюция. Чтобы показать презентацию в полноэкранном режиме, нажмите клавишу F11.
            </p>
        </section>

        <h3 class="b-post-item__heading">5. Опубликуйте тему и комнаты</h3>
        <section class="b-post-item__text">
            <p>После объявления темы на странице «Управление раундами» нажмите на кнопку «Опубликовать тему и румы». После этого участники смогут на сайте посмотреть, где они играют, если нажмут на кнопку «Текущий раунд» на странице турнира.
            </p>
        </section>

        <h3 class="b-post-item__heading">6. Внесите результаты игр во всех комнатах</h3>
        <section class="b-post-item__text">
            <p>Для главных судей комнат на странице турнира будет доступна кнопка "Ввести результаты". При переходе на страницу ввода результатов у нах будет виден только их рум.
            Администраторы турнира могут перейти на эту страницу либо также, либо через кнопку «Ввести/исправить результат» на странице «Управление раундами». При этом для администраторов будут доступны все румы раунда.
            Чтобы внести результат, нужно найти нужный рум по фамилии судьи, нажать на «Ввести результаты игры», ввести командные и спикерские баллы и нажать «Сохранить» внизу страницы.
            Если спикеры выступали в обратном порядке, то вам нужно это отметить.
            </p>
        </section>
        <section class="b-post-item__text">
            <p>По правилам WUDC сумма баллов команд с более высоким местом должна быть выше, чем сумма баллов команды с более низким местом. Если судья не соблюдает это правило, то, когда он нажмет кнопку «Сохранить», то получит сообщение с предупреждением. Судья может проигнорировать правило о суммах баллов и нажать «Продолжить».
            Когда результаты будут введены во всех комнатах, вы сможете создать следующий раунд.
            </p>
        </section>

        <h5 class="b-post-item__subheading">- Если нужно удалить последний раунд</h5>
        <section class="b-post-item__text">
            <p>Если вы создали раунд с неверными параметрами, то Вы можете удалить раунд. Для этого на странице «Управление раундами» нажмите «Удалить последний раунд».  Обратите внимание, что тогда все внесенные результаты будут удалены и придется заново их вносить.
            </p>
        </section>

        <h5 class="b-post-item__subheading">- Если нужно посмотреть результаты игр</h5>
        <section class="b-post-item__text">
            <p>Если вы хотите посмотреть результаты игр на текущий момент, то можете на странице «Управление раундами» нажать на «Показать результаты», либо на "Тэб". Вы сможете посмотреть командные и спикерские баллы, а также резолюции. До окончания турнира эти данные доступны только администраторам турнира.
            </p>
        </section>

        <h3 class="b-post-item__heading">6. Внесите результаты игр во всех комнатах</h3>
        <section class="b-post-item__text">
            <p>Для главных судей комнат на странице турнира будет доступна кнопка "Ввести результаты". При переходе на страницу ввода результатов им будет виден только их рум.
            Администраторы турнира могут перейти на эту страницу либо также, либо через кнопку «Ввести/исправить результат» на странице «Управление раундами». При этом для администраторов будут доступны все комнаты раунда.
            Чтобы внести результат, нужно найти нужную комнату по фамилии судьи, нажать на «Ввести результаты игры», ввести командные и спикерские баллы и нажать «Сохранить» внизу страницы.
            Если спикеры выступали в обратном порядке, то вам нужно это отметить.
            </p>
        </section>

        <h3 class="b-post-item__heading">7. Объявите брейк</h3>
        <section class="b-post-item__text">
            <p>После завершения последнего отборочного раунда вы должны объявить, какие команды выходят в плей-офф. Для этого в меню «Управление турниром» нажмите «Объявить брейк». По умолчанию в таблице будут выбраны команды с максимальными командными баллами, количество команд в брейке определяется числом, указанным в информации о турнире. Среди команд с равными баллами выше команда, у которой больше спикерские баллы. Если вы хотите изменить количество команд, которые выходят в плей-офф, то нажмите соответствующую кнопку внизу страницы.
            </p>
        </section>
         <section class="b-post-item__text">
            <p>Чтобы перейти к стадии плей-офф, нажмите «Далее».
            В плей-офф команды распределяются по комнатам по олимпийской системе. Процесс публикации презентации, введения результатов такой же, как для отборочных раундов.
            Обратите внимание, что вы можете отменить брейк в меню «Управление турниром». Для правильного отображения результатов турнира и статистики участников результаты плей-офф тоже должны вводиться.
            </p>
        </section>

        <h3 class="b-post-item__heading">8. Завершите турнир</h3>
        <section class="b-post-item__text">
            <p>Когда результаты финала будут внесены в Tabmaker, вы сможете завершить турнир, для этого нажмите соответствующую кнопку в меню «Управление турниром». Когда турнир будет завершен, команды смогут посмотреть командные и спикерские баллы на странице турнира. Во время турнира участники не могут увидеть свои спикерские баллы и командные баллы в закрытых раундах.
            Обратите внимание, что после завершения турнира, вы не сможете его редактировать и вносить изменения, поэтому проверьте все результаты и информацию о турнире.
            </p>
        </section>
    </div>
</div>

{% endblock content %}