{% extends "main/base.html" %}

{% block page_title %}
    Турниры
{% endblock page_title %}

{% block content %}
    <section>
    	<ul>
        {% include "tournament/tournament_list.html" %}
        </ul>
    </section>
    <div>

        {% if tournaments.has_previous %}
            <a href="?page={{ tournaments.previous_page_number }}"> Предыдущая </a>
        {% endif %}

        <span>
             {{ tournaments.number }}
        </span>

        {% if tournaments.has_next %}
            <a href="?page={{ tournaments.next_page_number }}"> Следующая </a>
        {% endif %}

    </div>
{% endblock content %}
