{% extends "main/base.html" %}

{% block page_title %}
    {% if is_owner %}
        Мои турниры
    {% else %}
        Турниры
    {% endif %}
{% endblock page_title %}

{% block header_button %}
    <div id="header_button">
        <a class="button" id="create_cup" href="{% url 'tournament:new' %}">Создать турнир</a>
    </div>
{% endblock header_button %}

{% block content %}

    <section>
        <ul class="b-list">
        {% include "tournament/tournament_list.html" %}
        </ul>
    </section>

    {% include 'main/paging.html' with objects=objects %}

{% endblock content %}
