{% extends "main/base.html" %}

{% load profile_extras %}

{% block page_title %}
    Сообщение
{% endblock page_title %}

{% block content %}

    <div id="message" class="formItem full">
        <p>{{ message }}</p>
    </div>

    <div id="message_back" class="formItem full">
        {% if url %}
            <a class="button formItem" href="{{ url }}">Назад</a>
        {% else %}
            <a class="button formItem" href="{% url "main:index" %}">На главную</a>
        {% endif %}
    </div>

{% endblock content %}
