{% extends "main/base.html" %}

{% block page_title %}
   Что у нас нового
{% endblock page_title %}

{% block content %}

<div class="b-post">
    <div class="b-post-item">
        <h3 class="b-post-item__heading">Tabmaker вышел из бета-версии</h3>
        <p class="b-post-item__date">25.12.2015</p>
        <section class="b-post-item__text">
            <p>После тестирования на четырех турнирах во Владивостоке Tabmaker вышел в свет. Чтобы узнать, как провести турнир, пройдите по <a class="b-link"href="http://tabmaker.info/faq/">ccылке</a></p>
        </section>
    </div>
</div>

{% endblock content %}
