{% extends "main/base.html" %}

{% block page_title %}
   Название страницы
{% endblock page_title %}

{% block content %}

<div class="b-post">
    <div class="b-post-item">
        <p class="b-post-item__date">20 декабря 2015 года</p>
        <h3 class="b-post-item__heading">Название поста</h3>
        <section class="b-post-item__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos beatae reiciendis expedita sint tempore molestiae natus sed tempora explicabo quisquam quam, accusantium repellat, quae fuga non recusandae cupiditate molestias provident.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit officia vero, molestiae beatae voluptatibus labore. Culpa aspernatur necessitatibus aperiam aliquid porro ab asperiores assumenda, veniam esse, ipsa dolorem quos sapiente?</p>
        </section>
    </div>
</div>

{% endblock content %}