<form class="col s9" action="">
	<div class="row">
		<div class="input-field col s6">
			<input id="first_name" type="text" class="validate">
			<label for="first_name">Имя</label>
		</div>
		<div class="input-field col s6">
			<input id="last_name" type="text" class="validate">
			<label for="last_name">Фамилия</label>
		</div>
	</div>
	<div class="row">
  		<div class="col s4">
	  		<label>Университет</label>
	  		<select class="col s4">
	    		<option value="1">ДВФУ</option>
	    		<option value="2">НИУ ВШЭ</option>
	    		<option value="3">МГУ</option>
	  		</select>
  		</div>
  		<div class="col s4">
	  		<label>Город</label>
	  		<select class="col s4">
	    		<option value="1">Владивосток</option>
	    		<option value="2">Москва</option>
	    		<option value="3">Казань</option>
	  		</select>
  		</div>
  		<div class="col s4">
	  		<label>Страна</label>
	  		<select class="col s4">
	    		<option value="1">Россия</option>
	    		<option value="2">Казахстан</option>
	    		<option value="3">Китай</option>
	  		</select>
  		</div>
	</div>
	<div class="row">
		<div class="input-field col s4">
			<input id="email" type="email" class="validate">
			<label for="email">E-mail</label>
		</div>
		<div class="input-field col s4">
			<input id="password" type="password" class="validate">
			<label for="password">Пароль</label>
		</div>
		<div class="input-field col s4">
			<input id="password_check" type="password" class="validate">
			<label for="password_check">Повторите пароль</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input id="telephone" type="tel" class="validate">
			<label for="telephone">Номер телефона</label>
		</div>
		<div class="input-field col s6">
			<input id="url" type="url" class="validate">
			<label for="url">Адрес в социальных сетях</label>
		</div>
	</div>
	<div class="row">
      	<div class="input-field col s6">
        	<textarea id="debate_exp" class="materialize-textarea"></textarea>
        	<label for="debate_exp">Опыт в дебатах</label>
     	</div>
      	<div class="input-field col s6">
        	<textarea id="judging_exp" class="materialize-textarea"></textarea>
        	<label for="judging_exp">Судейский опыт</label>
     	</div>
    </div>
    <div class="row">
    	<button class="waves-effect waves-light btn"><a href="#">Зарегистрироваться</a></button>
    </div>
</form>