<aside>
	<div>
		<p>Лого</p>
	</div>
	<div>
		<ul>
			<li>Профиль</li>
			<li>Мои турниры</li>
			<li>Мои заявки</li>
			<li>
				{% if request.user.is_authenticated %}
				    <a href="/accounts/logout/">Logout</a>
				    {% if request.user.email %}
				        {{ request.user.email }}
				    {% endif %}
				    {% if request.user.profile.account_verified %} (verified) {% else %} (unverified) {% endif %}
				{% else %}
				    <a href="/accounts/login/">Login</a>
				{% endif %}
			</li>
		</ul>
	</div>
</aside>