{% extends "main/base.html" %}

{% block page_title %}
   Что мы скоро планируем сделать
{% endblock page_title %}

{% block content %}

<div class="b-post">
    <div class="b-post-item">
        <section class="b-post-item__text">
        <h3 class="b-post-item__heading">Мы планируем сделать:</h3>
        <ul class="b-post-item__list">
            <li>Систему для проведения регулярных игр клубов дебатов</li>
            <li>Рейтинг судей на турнире, а также возможность указать конфликт команды и судьи</li>
            <li>Систему подтверждения регистрации на турниры</li>
            <li>Распределение судей-вингов по комнатам</li>
            <li>Перевод сайта на английский и другие языки</li>
        </ul>
        </section>
        <p>
            Если у вас есть идеи о том, как нам улучшить Tabmaker, пишите нам в
            <a href="https://vk.com/topic-109780691_33036903"> VK </a>
        </p>
    </div>
</div>

{% endblock content %}
