{% extends "main/base.html" %}

{% block page_title %}
   Что мы скоро планируес сделать
{% endblock page_title %}

{% block content %}

<div class="b-post">
    <div class="b-post-item">
        <h3 class="b-post-item__heading">Как быстро прогнать турнир</h3>
        <section class="b-post-item__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos beatae reiciendis expedita sint tempore molestiae natus sed tempora explicabo quisquam quam, accusantium repellat, quae fuga non recusandae cupiditate molestias provident.</p>
        </section>
    </div>
</div>

{% endblock content %}
