{% extends "main/base.html" %}

{% block page_title %}
   Что мы скоро планируес сделать
{% endblock page_title %}

{% block content %}

<div class="b-post">
    <div class="b-post-item">
        <section class="b-post-item__text">
        <h3 class="b-post-item__heading">Мы планируем сделать:</h3>
        <ul class="b-post-item__list">
            <li>Систему подтверждения регистрации на турниры</li>
            <li>Перевод сайта на английский и другие языки</li>
            <li>Распределение судей-вингов по комнатам</li>
            <li>Лиги внутри турниров</li>
            <li>Рейтинг судей, а также возможность указать конфликт команды и судьи</li>
        </ul>
        </section>
    </div>
</div>

{% endblock content %}
