<form class="col s9" action="">
	<div class="row">
		<div class="input-field col s4">
			<input id="command_name" type="text" class="validate">
			<label for="first_name">Название команды</label>
		</div>
	</div>
	<div class="row">
		<div class="col s4">
	  		<label>Город</label>
	  		<select class="col s4">
	    		<option value="1">Владивосток</option>
	    		<option value="2">Москва</option>
	    		<option value="3">Казань</option>
	  		</select>
  		</div>
  	</div>
  	<div class="row">
		<div class="col s4">
	  		<label>Университет</label>
	  		<select class="col s4">
	    		<option value="1">ДВФУ</option>
	    		<option value="2">НИУ ВШЭ</option>
	    		<option value="3">МГУ</option>
	  		</select>
  		</div>
  	</div>
  	<div class="row">
  		<div class="input-field col s4">
			<input id="email_team" type="email" class="validate">
			<label for="email_team">E-mail напарника</label>
		</div>
  	</div>
    <div class="row">
    	<p class="card-panel">У нас на сайте нет такого пользователя. Попросите напарните зарегистрироваться (или имя напарника)</p>
    </div>
    <div class="row">
    	<button class="waves-effect waves-light btn"><a href="#">Отправить заявку</a></button>
    </div>
</form>
