<div>
	<h4>Название турнира</h4>
	<div class="col s9">
		<p>24 апреля - 1 марта</p>
		<p>Москва, ул. Краснопресненская, д.108, ДЕБУ</p>
		<p>Количество команд: 64</p>
		<p>Брейк: в полуфинал</p>
		<p>Главный судья: Иван Иванов</p>
		<p>Ссылка: vk.com/jedi_padawan_fefu</p>
		<article>
			Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
 			Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
			Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
		</article>
		<h5>Регистрация до 15 марта</h5>
		<div>
			<button><a href="#">Участовать</a></button>
			<button><a href="">Судить</a></button>
		</div>
	</div>
</div>