{# страница для элементов интерфейса #}
{# Эта страница нужна? если нет, то нужно удалить #}

<div class="b-banner-red">
    <p class="b-banner__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, harum tempora. Dolor autem distinctio, vitae, temporibus</p>
    <a class="button b-banner__button">Кнопка</a>
    <i class="fa fa-times b-banner__close"></i>
</div>

<div class="b-window-green">
    <i class="fa fa-times b-window__close"></i>
    <p class="b-window__text">Lorem ipsum dolor sit amet, consectetur</p>
</div>
