{% extends "main/base.html" %}

{% block page_title %}
    Страница не найдена
{% endblock page_title %}

{% block content %}

    <div class="content-textpage">
        <div id="message">
            <p>Похоже, такой страницы не существует.</p>
        </div>

        <div id="message_back"">
            <a class="button button--mid button--prime" href="javascript:history.back()">Назад</a>
            <a class="button button--mid button--prime" href="{% url "main:index" %}">На главную</a>
        </div>
    </div>

{% endblock content %}
