{% extends "main/base.html" %}

{% block page_title %}
    Страница не найдена
{% endblock page_title %}

{% block content %}

    <div id="message" class="b-message">
        <p>Похоже, такой страницы не существует.</p>
    </div>

    <div id="message_back" class="b-message__back">
        <a class="button button--min button--prime" href="javascript:history.back()">Назад</a>
        <a class="button button--min button--prime" href="{% url "main:index" %}">На главную</a>
    </div>

{% endblock content %}
