{% extends "main/base.html" %}

{% block page_title %}
    Houston, we’ve had a problem...
{% endblock page_title %}

{% block content %}

    <div class="content-textpage">
        <div id="message">
            <p>
                Похоже, что-то пошло не так.
                {% with vk_title='Вконтакте' %}
                    Отправьте нам email на debate.tabmaker@gmail.com или напишите нам в {% include 'main/vk.html' %}
                {% endwith %}
            </p>
        </div>

        <div id="message_back">
            <a class="button button--min button--prime" href="{% url "main:index" %}">На главную</a>
        </div>
    </div>

{% endblock content %}
