{% load staticfiles %}

<!DOCTYPE html>

<html>
<head lang="ru">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico' %}"/>

<title>
    {% block head_title %} Tabmaker — турниры по парламентским дебатам {% endblock head_title %}
</title>

{% block libs %}
    {% if debug %}

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>

    {% else %}

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    {% endif %}
{% endblock libs %}

{% block extra_head %}
{% endblock extra_head %}

</head>

<body>

    {% if not debug %}
        {# Google Tag Manager #}
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-5H6LKZ"
                    height="0"
                    width="0"
                    style="display:none;visibility:hidden"
            ></iframe>
        </noscript>
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5H6LKZ');
        </script>
        {# End Google Tag Manager #}
        {% include 'LiveInternetCounter.html' %}
    {% endif %}

{% block body %}

    {% block advert %}
    {% endblock %}

    <div class="page_wrapper">

        <header class="header">

            <a class="header__logo" href="/"><span>Tabmaker</span></a>
            <a class="header__logo--mobile" href="/"><span>T</span></a>

            <div class="header__wrapper">

                <div class="header__container">
                    <div class="header__menu">
                        <ul class="menu">
                            {% if request.user.is_authenticated %}
                                <li class="menu-item dropdown">
                                    <p class="dropbtn">Профиль<i class="material-icons">keyboard_arrow_down</i></p>
                                    <div class="dropdown-content">
                                      <a href="{% url 'profile:edit' %}">Обо мне</a>
                                      <a href="{% url 'profile:teams' request.user.id %}">Заявки на участие</a>
                                      <a href="{% url 'profile:adjudicator' request.user.id %}">Заявки на судейство</a>
                                      <a href="{% url 'profile:tournaments' request.user.id %}">Мои турниры</a>
                                    </div>
                                </li>
                            {% endif %}
                            <li class="menu-item dropdown help">
                                <p class="dropbtn">Помощь<i class="material-icons">keyboard_arrow_down</i></p>
                                <div class="dropdown-content">
                                    <a href="{% url 'main:support' %}">Написать нам</a>
                                    <a href="{% url 'main:faq' %}">Инструкция</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="header__buttons">
                    {% if request.user.is_authenticated %}
                        <a class="button button--max button--prime" href="{% url 'account_logout' %}">
                            <i class="material-icons">exit_to_app</i>Выйти
                        </a>
                        <a class="button button--max button--sec" href="{% url 'tournament:new' %}">Создать турнир</a>
                    {% else %}
                        <a class="button button--max button--prime" href="{% url 'account_login' %}">Войти</a>
                        <a class="button button--max button--sec" href="{% url 'account_signup' %}">Зарегистрироваться</a>
                    {% endif %}
                </div>

             </div>

            <div class="burger">
                <i class="material-icons burger__button">menu</i>

                <ul class="burger-menu">
                    {% if request.user.is_authenticated %}
                        <li class="burger-menu__item"><a href="{% url 'account_logout' %}">Выйти</li>
                        <li class="burger-menu__item"><a href="{% url 'tournament:new' %}">Создать турнир</a></li>
                    {% else %}
                        <li class="burger-menu__item"><a href="{% url 'account_login' %}">Войти</a></li>
                        <li class="burger-menu__item"><a href="{% url 'account_signup' %}">Зарегистрироваться</a></li>
                    {% endif %}
                    <li class="burger-menu__item">
                        <a href="{% url 'main:support' %}">Написать нам</a>
                    </li>
                    <li class="burger-menu__item">
                        <a href="{% url 'main:faq' %}">Инструкция</a>
                    </li>
                </ul>

            </div>

        </header>

        <div class="content">

        {% block title %}
            <div class="title">
                <div class="title-container">
                    <h3 class="title__name">
                        {% block page_title %}
                        {% endblock page_title %}
                    </h3>
                </div>
            </div>
        {% endblock title %}

        {% block content %}
        {% endblock content %}

        </div>

        {% block footer %}
        <footer>
            <div class="b-footer">
                <ul class="b-footer__info">
                    <li><a href="{% url 'main:about' %}">О проекте</a></li>
                    <li><a href="{% url 'main:feedback' %}">Обратная связь</a></li>
                    <li>
                        {% with vk_title='Tabmaker Вконтакте' %}{% include 'main/vk.html'%}{% endwith %}
                    </li>
                </ul>
            </div>
        </footer>
        <div class="liveinternet">
            {% include 'LiveInternetImage.html' %}
        </div>
        {% endblock footer %}


    </div>

{% endblock body %}

{% block extra_body %}
{% endblock extra_body %}
</body>
</html>
