{% load staticfiles %}

<!DOCTYPE html>

<html>
<head lang="ru">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico' %}"/>

<title>
    {% block head_title %} Tabmaker — турниры по парламентским дебатам {% endblock head_title %}
</title>

{% block libs %}
    {% if debug %}

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>

    {% else %}

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    {% endif %}
{% endblock libs %}

{% block extra_head %}
{% endblock extra_head %}

</head>

<body>

    {% if not debug %}
        {# Google Tag Manager #}
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5H6LKZ"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5H6LKZ');</script>
        {# End Google Tag Manager #}
        {% include 'LiveInternetCounter.html' %}
    {% endif %}

{% block body %}

{#    {% if is_main_page %}#}
{#        <div class="topbanner">#}
{#            <span class="topbanner__text">Хочешь поддержать Tabmaker или присоединиться к проекту?</span>#}
{#            <a href="/" class="button button--max button--white topbanner__button">Да, хочу!</a>#}
{#        </div>#}
{#    {% endif %}#}

    <div class="page_wrapper">

        <header class="header">

            <a class="header__logo" href="/"><span>Tabmaker</span></a>

            <div class="header__menu">

                <ul class="menu">

                    <li class="menu-item">
                        <a href="/">Турниры</a>
                    </li>

{#                    <li class="menu-item">#}
{#                        <a href="/">Темы</a>#}
{#                    </li>#}

                    <li class="menu-item dropdown">
                        <a href="#}" class="dropbtn">Мои турниры</a>
                        <div class="dropdown-content">
                          <a href="#">Турнир 1</a>
                          <a href="#">Турнир 2</a>
                          <a href="#">Турнир 3</a>
                        </div>
                    </li>

                     {% if request.user.is_authenticated %}
                        <li class="menu-item dropdown">
                            <a href="{% url 'profile:main' request.user.id %}" class="dropbtn">Профиль</a>
                            <div class="dropdown-content">
                              <a href="{% url 'profile:edit' user.id %}">Редактировать</a>
                              <a href="{% url 'profile:teams' request.user.id %}">Заявки на участие</a>
                              <a href="{% url 'profile:adjudicator' request.user.id %}">Заявки на судейство</a>
                              <a href="{% url 'profile:tournaments' request.user.id %}">Мои турниры</a>
                            </div>
                        </li>
                    {% endif %}

                </ul>

            </div>

            <div class="header__buttons">
                {% if request.user.is_authenticated %}
                    <a class="button button--mid button--sec" href="{% url 'tournament:new' %}">Создать турнир</a>
                    <a class="button button--mid button--prime" href="{% url 'account_logout' %}">Выйти</a>
                {% else %}
                    <a class="button button--mid button--prime" href="{% url 'account_login' %}">Войти</a>
                    <a class="button button--mid button--prime" href="{% url 'account_signup' %}">Зарегистрироваться</a>
                {% endif %}
            </div>

        </header>

{#        <div class="pagename">#}
{#            {% block header %}#}
{#                <h3>#}
{#                    {% block page_title %} Название страницы{% endblock page_title %}#}
{#                </h3>#}
{#            {% endblock header %}#}
{#        </div>#}

{#            <aside>#}
{#                <div class="b-sidebar" id="sidebar1">#}
{##}
{#                    {% block sidebar1%}#}
{##}
{#                    {% include 'account/sidebar.html' %}#}
{##}
{#                    {% endblock sidebar1 %}#}
{#                </div>#}
{##}
{#                {% block sidebar2%}#}
{##}
{#                    <a class="button__createcup"#}
{#                       onclick="yaCounter35208810.reachGoal('newBegin'); return true;"#}
{#                       href="{% url 'tournament:new' %}">Создать турнир#}
{#                    </a>#}
{##}
{#                {% endblock sidebar2 %}#}
{#            </aside>#}


        <div class="content">

        {% block content %}
        {% endblock content %}

        </div>

        <footer>
            {% block footer %}
                <div class="b-footer">
                    <ul class="b-footer__info">
                        <li><a href="{% url 'main:about' %}">О проекте</a></li>
                        <li><a href="{% url 'main:faq' %}">Как провести турнир</a></li>
        {#                <li><a href="{% url 'main:soon' %}">Что мы планируем</a></li>#}
        {#                <li><a href="{% url 'main:news' %}">Список изменений</a></li>#}
                        <li><a href="{% url 'main:feedback' %}">Feedback</a></li>
                        <li>
                            {% with vk_title='Tabmaker Вконтакте' %}{% include 'main/vk.html'%}{% endwith %}
                        </li>
                    </ul>
                </div>
                {% include 'LiveInternetImage.html' %}
            {% endblock footer %}
        </footer>


    </div>

{% endblock body %}

{% block extra_body %}
{% endblock extra_body %}
</body>
</html>
