{% load staticfiles %}

<!DOCTYPE html>

<html>
<head lang="ru">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico' %}"/>

<title>
    {% block head_title %} Tabmaker — турниры по парламентским дебатам {% endblock head_title %}
</title>

{% block libs %}
    {% if debug %}

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>

    {% else %}

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    {% endif %}
{% endblock libs %}

{% block extra_head %}
{% endblock extra_head %}

</head>

<body>

    {% if not debug %}
        {# Google Tag Manager #}
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5H6LKZ"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5H6LKZ');</script>
        {# End Google Tag Manager #}
    {% endif %}

{% block body %}
    <div class="page_wrapper">

        <header>

            <div id="logo">
                <a href="/"><img src="{% static 'main/img/logo.svg' %}" alt="tabmaker"></a>
            </div>

            {% block header %}
                <div class="header_container">
                    <a href="/"><i class="fa fa-home fa-2x home-icon"></i></a>
                    <i class="fa fa-bars fa-2x burger-icon"></i>
                    <div id="page_title">
                        <h3>{% block page_title %} Название страницы {% endblock page_title %}</h3>
                    </div>
                    {% block header_button %}
                    {% endblock header_button %}
                </div>
            {% endblock header %}
        </header>

        <section class="content_conteiner">

            <aside>
            <div class="b-sidebar" id="sidebar1">
            {% block sidebar1%}

                {% include 'account/sidebar.html' %}

            {% endblock sidebar1 %}
            </div>

            {% block sidebar2%}
            {% endblock sidebar2 %}

            </aside>

            <div class="content">

            {% block content %}
            {% endblock content %}

            {% if is_main_page %}
                <div class="b-donate">
                    <iframe frameborder="0"
                            allowtransparency="true"
                            scrolling="no"
                            src="https://money.yandex.ru/embed/donate.xml?account=410013865474770&quickpay=donate&payment-type-choice=on&mobile-payment-type-choice=on&default-sum=50&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D1%82%D1%8C+tabmaker.info&target-visibility=on&project-name=&project-site=&button-text=05&successURL=tabmaker.info%2Fthanks.html"
                            width="508"
                            height="90"
                    >
                    </iframe>
                </div>
            {% endif %}

            </div>

        </section>

    </div>

    <footer>
    {% block footer %}
        <div class="b-footer">
            <ul class="b-footer__info">
                <li><a href="{% url 'main:about' %}">О проекте</a></li>
                <li><a href="{% url 'main:faq' %}">Как провести турнир</a></li>
                <li><a href="{% url 'main:soon' %}">Что мы планируем</a></li>
                <li><a href="{% url 'main:news' %}">Список изменений</a></li>
                <li>{% include 'main/vk.html' with vk_title='Tabmaker Вконтакте' %}</li>
            </ul>
        </div>
    {% endblock footer %}
    </footer>

{% endblock body %}

{% block extra_body %}
{% endblock extra_body %}
</body>
</html>
