<div class="content-textpage">
    <h3 class="paragraph__heading">{{ user.name }}</h3>
    <div class="paragraph">
        <p>{{ user.university.country.name}}</p>
        <p>{{ user.university.city.name }}</p>
        <p>{{ user.university.name }}</p>
    </div>

    <h3 class="paragraph__heading">Контакты</h3>
    <div class="paragraph">
        {% if request.user == user or user.is_show_email %}
            <p>{{ user.email }}</p>
        {% endif %}
        {% if request.user == user or user.is_show_phone %}
            <p>{{ user.phone }}</p>
        {% endif %}
            <p><a href="{{ user.link }}">{{ user.link }}</a></p>
    </div>

    <h3 class="paragraph__heading">Опыт в дебатах</h3>
    <div class="paragraph">
        {{ user.player_experience }}
    </div>

    <h3 class="paragraph__heading">Опыт судейства</h3>
    <div class="paragraph">
        {{ user.adjudicator_experience }}
    </div>

    <div class="paragraph">
    {% if request.user == user %}
        <a class="button button--mid utton--prime" href="{% url 'profile:edit' user.id%}">Редактировать</a>
    {% endif %}
    </div>
</div>
