{% load profile_extras %}
{% load tournament_extras %}

<section class="b-profile__section">

<ul>
    {% for object in objects %}
        <li id="message_{{ object.team.id }}"></li>

        <li class="list" id="team_{{ object.team.id }}">

            <div class="list-item">

                <h3 class="list-item__heading">{{ object.team.name }}</h3>

                {% if object.tournament %}
                    <a class="list-item__subheading" href="{% url 'tournament:show' object.tournament.id %}">
                        {{ object.tournament.name }}<span class="nolink"> – {{ object.role.role }}</span>
                    </a>
                {% else %}
                    <span class="nolink list-item__subheading">
                        Эта команда не зарегистрирована в турнире
                    </span>
                {% endif %}

                <ul class="list-item__block">
                    <li class="list-item__block--item">
                         <a href="{% url 'profile:main' object.team.speaker_1.id %}">
                             {{ object.team.speaker_1|name }}
                         </a>
                    </li>
                    <li class="list-item__block--item">
                        <a href="{% url 'profile:main' object.team.speaker_2.id %}">
                            {{ object.team.speaker_2|name }}
                        </a>
                    </li>
                </ul>

                {% if object.tournament|is_status_registration or object.tournament|is_status_preparation %}
                    {% if is_owner %}
                        <button class="list-item__button" onclick="remove_team(
                                '{% url 'profile:team_remove' %}',
                                '{{ object.team.id }}',
                                'team_{{ object.team.id }}',
                                'message_{{ object.team.id }}'
                                )">
                            Удалить команду
                        </button>
                    {% endif %}

{#                            <button class="b-tournamentlist-current__result_tounamentlist">#}
{#                                <span>Подтвердить участие</span>#}
{#                            </button>#}
                {% endif %}

            </div>

        </li>

    {% empty %}
        <p class="b-profile__zero">Не играл ни в одном турнире</p>
    {% endfor %}
</ul>

{% with objects=objects %}
    {% include 'main/paging.html' %}
{% endwith %}

</section>
