<section class="b-profile">
    <ul>
        {% for rel in objects %}

            <div class="errorinlist" id="errors_{{ rel.id }}"></div>

            <li class="list" id="adjudicator_{{ rel.id }}">

                <div class="list-item">

                    <h3 class="list-item__heading"><a href="{% url 'tournament:show' rel.tournament.id %}">{{ rel.tournament.name }}</a></h3>

                    <div class="list-item__block">
                        <span class="nolink">{{ rel.role.role }}</span>
                    </div>

                    {% if is_owner %}
                        <button class="list-item__button" onclick="remove_adjudicator(
                            '{% url 'profile:adjudicator_remove' %}',
                            '{{ rel.id }}',
                            'adjudicator_{{ rel.id }}',
                            'errors_{{ rel.id }}'
                            )">
                            Отказаться от судейства

                        </button>
{#                                <button class="b-tournamentlist-current__result_tounamentlist">#}
{#                                    <span>Подтвердить участие</span>#}
{#                                </button>#}
                    {% endif %}

                </div>
            </li>
        {% empty %}
            <p class="b-profile__zero"> Не судил ни в одном турнире </p>
        {% endfor %}
    </ul>
</section>

{% include 'main/paging.html' with objects=objects %}
