<table class="table content-tablepage">
    <tbody>
        <tr class="table__headrow">
            <th>Судья</th>
            <th>Статус</th>
            {% if is_owner %}
                <th>Действия</th>
            {% endif %}
        </tr>
    {% for rel in objects %}
        <tr class="table__row">
            <td>
                <a class="link" target="_blank" id="adjudicator_{{ rel.id }}" href="{% url 'tournament:show' rel.tournament.id %}">{{ rel.tournament.name }}</a>
            </td>
            <td>
                {{ rel.role.role }}
                <div class="errorinlist" id="errors_{{ rel.id }}"></div>
            </td>
            {% if is_owner %}
                <td>
                    <button class="button button--min button--prime" onclick="remove_adjudicator(
                        '{% url 'profile:adjudicator_remove' %}',
                        '{{ rel.id }}',
                        'adjudicator_{{ rel.id }}',
                        'errors_{{ rel.id }}'
                        )">
                        Отказаться от судейства
                    </button>

                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{#    <div class="content-textpage">#}
{#        <div class="paragraph">#}
{#            <h3>Пока не судил ни на одном турнире</h3>#}
{#        </div>#}
{#    </div>#}
