{% load tournament_extras %}

<div class="content-tablepage">
<table class="table">
    <tbody>
        <tr class="table__headrow">
            <th>Судья</th>
            <th>Статус</th>
            {% if is_owner %}
                <th>Действия</th>
            {% endif %}
        </tr>
    {% for rel in objects %}
        <tr>
            <td colspan="{% if is_owner %}3{% else %}2{% endif %}">
                <span id="errors_{{ rel.id }}"></span>
            </td>
        </tr>
        <tr class="table__row" id="adjudicator_{{ rel.id }}">
            <td>
                <a class="link" target="_blank" href="{% url 'tournament:show' rel.tournament.id %}">
                    {{ rel.tournament.name }}
                </a>
            </td>
            <td>
                {{ rel.role.role }}
            </td>
            {% if is_owner %}
                <td>
                    {% if rel.tournament|is_status_registration or rel.tournament|is_status_preparation %}
                        <button class="button button--min button--prime" onclick="remove_adjudicator(
                            '{% url 'profile:adjudicator_remove' %}',
                            '{{ rel.id }}',
                            'adjudicator_{{ rel.id }}',
                            'errors_{{ rel.id }}'
                            )"
                        >
                            Отказаться от судейства
                        </button>
                    {% else %}
                        -
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{#    <div class="content-textpage">#}
{#        <div class="paragraph">#}
{#            <h3>Пока не судил ни на одном турнире</h3>#}
{#        </div>#}
{#    </div>#}
