{% load profile_extras %}
{% load tournament_extras %}

<div class="content-tablepage">
<table class="table">
    <tbody>
        <tr class="table__headrow">
            <th>Название команды</th>
            <th>Турнир</th>
            <th>Статус</th>
            <th>Первый спикер</th>
            <th>Второй спикер</th>
            {% if is_owner %}
                <th>Действия</th>
            {% endif %}
        </tr>
    {% for object in objects %}
        <tr>
            <td colspan="{% if is_owner %}6{% else %}5{% endif %}">
                <span id="message_{{ object.team.id }}"></span>
            </td>
        </tr>
        <tr class="table__row" id="team_{{ object.team.id }}">
            <td>
                {{ object.team.name }}
            </td>
            <td>
                {% if object.tournament %}
                    <a class="link" target="_blank" href="{% url 'tournament:show' object.tournament.id %}">
                        {{ object.tournament.name }}
                    </a>
                {% endif %}
            </td>
            <td>
                {{ object.role.role }}
            </td>
            <td>
                <a class="link" target="_blank" href="{% url 'profile:main' object.team.speaker_1.id %}">
                    {{ object.team.speaker_1|name }}
                </a>
            </td>
            <td>
                <a class="link" target="_blank" href="{% url 'profile:main' object.team.speaker_2.id %}">
                    {{ object.team.speaker_2|name }}
                </a>
            </td>
            {% if is_owner %}
                <td>
                    {% if object.tournament|is_status_registration or object.tournament|is_status_preparation %}
                        <button class="button button--min button--prime" onclick="remove_team(
                                '{% url 'profile:team_remove' %}',
                                '{{ object.team.id }}',
                                'team_{{ object.team.id }}',
                                'message_{{ object.team.id }}'
                                )"
                        >
                            Удалить команду
                        </button>
                    {% else %}
                        -
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
