{% extends "account/base.html" %}

{% block page_title %}
    Вход на сайт
{% endblock page_title %}

{% block content %}

    <form class="login b-message" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="b-message__section">
            <h3>{{ form.login.label_tag }}</h3>
            {{ form.login }}
            {{ form.login.errors }}
        </div>

        <div class="b-message__section">
            <h3>{{ form.password.label_tag }}</h3>
            {{ form.password }}
            {{ form.password.errors }}
        </div>

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <button id="loginButton" class="primaryAction button b-message__loginbutton" type="submit"> Войти </button>

        <a class="b-message__forgot" href="{% url 'account_reset_password' %}">Забыли пароль?</a>
    </form>

    <div>

    </div>

{% endblock content %}
