{% extends "account/base.html" %}

{% block page_title %}
    Вход на сайт
{% endblock page_title %}

{% block content %}

    <form class="login content-formpage" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-elem form-elem--low">
            <p class="form-elem__label">{{ form.login.label_tag }}</p>
            {{ form.login }}
            {{ form.login.errors }}
        </div>

        <div class="form-elem form-elem--low">
            <p class="form-elem__label">{{ form.password.label_tag }}</p>
            {{ form.password }}
            {{ form.password.errors }}
        </div>

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <div class="form-elem">
            <button id="loginButton" class="button--max button--prime button" type="submit"> Войти </button>

        </div>

        <div class="form-elem">
             <a href="{% url 'account_reset_password' %}">Забыли пароль?</a>
        </div>
    </form>

    <div>

    </div>

{% endblock content %}
