{% extends "account/base.html" %}

{% load i18n %}

{% block page_title %}
    Новый пароль
{% endblock page_title %}


{% block content %}
    <h1> {% if token_fail %} Неправильный ключ {% endif %}</h1>

    {% if token_fail %}

        Ссылка на сброс пароля неверна, скорее всего вы уже использовали ее.
        Для нового сброса пароля перейдите по <a href="{% url 'account_reset_password' %}">ссылке</a>

    {% else %}

        {% if form %}

            <form class="content-formpage" method="POST" action=".">
                {% csrf_token %}
                <div class="form-elem form-elem--low">
                    <p class="form-elem__label">{{ form.password1.label_tag }}</p>
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>
                <div class="form-elem form-elem--low">
                    <p class="form-elem__label">{{ form.password2.label_tag }}</p>
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>

                <div class="form-elem form-elem--low">
                    <button class="button button--max button--prime" type="submit" name="action">Сохранить</button>
                </div>
            </form>

        {% else %}

            <div class="content-textpage--top content-textpage--center">
                <p>Ваш пароль изменён.</p>
            </div>

        {% endif %}

    {% endif %}

{% endblock %}
