{% extends "account/base.html" %}

{% block page_title %}
    Сброс пароля
{% endblock page_title %}

{% block content %}

    <form class="content-formpage" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <h3>Забыли пароль?</h3>
        <p>Введите свой e-mail адрес ниже, и мы вышлем письмо для его сброса</p>
        <div class="form-elem form-elem--low">
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="form-elem form-elem--low">
            <input class="button button--max button--prime" type="submit" value="Сбросить пароль" />
        </div>
    </form>

{% endblock %}
