{% extends "account/base.html" %}

{% block page_title %}
    Создать пароль
{% endblock page_title %}

{% block content %}

    <form class="b-message" method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        <div class="b-message__section">
            <h3>{{ form.password1.label_tag }}</h3>
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>
        <div class="b-message__section">
            <h3>{{ form.password2.label_tag }}</h3>
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>

        <button class="button" type="submit" name="action">Сохранить</button>
    </form>

{% endblock %}
