{% extends "account/base.html" %}

{% block page_title %}
    Сменить пароль
{% endblock page_title %}

{% block content %}

    <form method="POST" action="{% url 'account_change_password' %}" class="content-formpage">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-elem form-elem--low">
            <p class="form-elem__label">{{ form.oldpassword.label_tag}}</p>
            {{ form.oldpassword }}
            {{ form.oldpassword.errors }}
        </div>
        <div class="form-elem form-elem--low">
            <p class="form-elem__label">{{ form.password1.label_tag }}</p>
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>
        <div class="form-elem form-elem--low">
            <p class="form-elem__label">{{ form.password2.label_tag }}</p>
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>

        <div class="form-elem">
            <button class="button button--min button--prime" type="submit" name="action">Сохранить</button>
        </div>
    </form>

{% endblock %}
