{% extends "account/base_include_js.html" %}

{% load profile_extras %}

{% block page_title %}
    {% if is_owner %}
        Мой профиль
    {% else %}
        {{ user|name }}
    {% endif %}
{% endblock page_title %}

{% block content %}

    <ul class="accordion-tabs">

        <li class="tab-header-and-content tab-header-and-content__first">
            <a href="javascript:void(0)" class="is-active tab-link">Информация</a>
            <div class="tab-content">
                {% with user=user %}
                    {% include 'account/content_info.html' %}
                {% endwith %}
            </div>
        </li>

        <li class="tab-header-and-content">
            <a href="javascript:void(0)" class="tab-link">Команды</a>
            <div class="tab-content">
                {% with objects=teams_objects is_owner=is_owner %}
                    {% include 'account/content_teams.html' %}
                {% endwith %}
            </div>
        </li>

        <li class="tab-header-and-content">
            <a href="javascript:void(0)" class="tab-link">Судейство</a>
            <div class="tab-content">
                {% with objects=adjudicators_objects is_owner=is_owner %}
                    {% include 'account/content_adjudicators.html' %}
                {% endwith %}
            </div>
        </li>

        <li class="tab-header-and-content">
            <a href="/analytics/profile/" style="font-weight: 700;">
                <i class="fas fa-chart-area"></i> Аналитика
            </a>
        </li>
    </ul>



{% endblock content %}
