{% load profile_extras %}
{% load staticfiles %}

<ul class="b-sidebar__list">
    {% if request.user.is_authenticated %}

        <h3 class="b-sidebar__heading">Профиль</h3>
        <li class="b-sidebar__listitem">
            <a href="{% url 'profile:main' request.user.id %}"><i class="fa fa-user"></i>Профиль</a>
        </li>
        <li class="b-sidebar__listitem">
            <a href="{% url 'profile:teams' request.user.id %}"><i class="fa fa-trophy"></i>Мои команды</a>
        </li>
        <li class="b-sidebar__listitem">
            <a href="{% url 'profile:adjudicator' request.user.id %}"><i class="fa fa-gavel"></i>Судейство в турнирах</a>
        </li>
        <li class="b-sidebar__listitem">
            <a href="{% url 'profile:tournaments' request.user.id %}"><i class="fa fa-flag"></i>Мои турниры</a></li>
        <li class="b-sidebar__listitem">
            <a href="{% url 'account_logout' %}"><i class="fa fa-sign-out"></i>Выйти</a>
        </li>

    {% else %}

        <li>
            <a href="{% url "facebook_login" %}">
                <img src="{% static "main/img/facebook_2.gif" %}" alt="Facebook" height="25" width="25">
            </a>
            <a><a href="{% url "google_login" %}">
                <img src="{% static "main/img/google_3.png" %}" alt="Google" height="25" width="25">
            </a>
            <a href="{% url "mailru_login" %}">
                <img src="{% static "main/img/mailru_2.ico" %}" alt="Mail.ru" height="25" width="25">
            </a>
            <a href="{% url "vk_login" %}">
                <img src="{% static "main/img/vk_1.png" %}" alt="Вконтакте" height="25" width="25">
            </a>
        </li>

        <li class="b-sidebar__listitem">
            <a href="{% url 'account_login' %}">Войти</a>
        </li>
        <li class="b-sidebar__listitem">
            <a href="{% url 'account_signup' %}">Зарегистрироваться</a>
        </li>

    {% endif %}
</ul>
