{% load profile_extras %}
{% load staticfiles %}

<ul class="b-sidebar__list">
    {% if request.user.is_authenticated %}

        <h3 class="b-sidebar__heading">Профиль</h3>
        <li class="b-sidebar__listitem">
            <a href="{% url 'profile:main' request.user.id %}"><i class="fa fa-user"></i>Профиль</a>
        </li>
        <li class="b-sidebar__listitem">
            <a href="{% url 'profile:teams' request.user.id %}"><i class="fa fa-trophy"></i>Мои команды</a>
        </li>
        <li class="b-sidebar__listitem">
            <a href="{% url 'profile:adjudicator' request.user.id %}"><i class="fa fa-gavel"></i>Судейство в турнирах</a>
        </li>
        <li class="b-sidebar__listitem">
            <a href="{% url 'profile:tournaments' request.user.id %}"><i class="fa fa-flag"></i>Мои турниры</a></li>
        <li class="b-sidebar__listitem">
            <a href="{% url 'account_logout' %}"><i class="fa fa-sign-out"></i>Выйти</a>
        </li>

    {% else %}

        <li class="b-sidebar__listitem">
            <a class="b-sidebar__listitem--icon" href="{% url 'account_signup' %}">Зарегистрироваться</a>
        </li>

        <li class="b-sidebar__listitem">
            <a class="b-sidebar__listitem--icon" href="{% url 'account_login' %}">Войти</a>
        </li>

        <li class="b-sidebar__listitem b-sidebar__listitem--flex">
            <a class="b-sidebar__listitem--icon" href="{% url "facebook_login" %}">
                <i class="fab fa-facebook fa-lg" aria-hidden="true"></i>
            </a>
            <a class="b-sidebar__listitem--icon" href="{% url "google_login" %}">
                <i class="fab fa-google-plus fa-lg" aria-hidden="true"></i>
            </a>
            <a class="b-sidebar__listitem--icon" href="{% url "mailru_login" %}">
                <i class="fas fa-at fa-lg" aria-hidden="true"></i>
            </a>
            <a class="b-sidebar__listitem--icon" href="{% url "vk_login" %}">
                <i class="fab fa-vk fa-lg" aria-hidden="true"></i>
            </a>
        </li>

    {% endif %}
</ul>
