{% extends "account/base.html" %}

{% load staticfiles %}

{% block extra_head %}

    {{ block.super }}
{#    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>#}
    <script type="text/javascript" src="{% static "profile/js/vk_api_.js" %}"></script>

{% endblock extra_head %}

{% block page_title %}
    {% if is_edit_form %}Профиль
    {% else %} Регистрация
    {% endif %}
{% endblock page_title %}

{% block content %}

    <form class="content-formpage" id="signup_form" method="post"
            {% if is_edit_form %} action="{% url 'profile:edit' %}"
            {% else %} action="{% url 'account_signup' %}"
            {% endif %}
    >
        {% if is_success %}
            <div class="disclaimer-green">
                <p>Профиль успешно обновлён</p>
            </div>
        {% endif %}
        {% csrf_token %}
        {{ form.non_field_errors }}

            <div class="form-elem form-elem--mid">
                <label class="form-elem__label">Ваше имя</label>
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </div>
            <div class="form-elem form-elem--mid">
                <label class="form-elem__label">Фамилия</label>
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </div>

            <div class="form-elem form-elem--mid">
                <label class="form-elem__label" for="countries">Страна</label>
                <select class="form-elem__select" id="countries"></select>
                {{ form.country_id }} {# hidden #}
                {{ form.country_name }} {# hidden #}
                {% if not form.country_name.errors %}
                    {{ form.country_id.errors }}
                {% endif %}
                {{ form.country_name.errors }}
            </div>
            <div class="form-elem form-elem--mid">
                <label class="form-elem__label" for="city_list">Город</label>
                <input class="form-elem__input" id="city_list" type="text">
                {{ form.city_id }} {# hidden #}
                {{ form.city_name }} {# hidden #}
                {% if not form.city_name.errors %}
                    {{ form.city_id.errors }}
                {% endif %}
                {{ form.city_name.errors }}
            </div>
            <div class="form-elem form-elem--mid">
                <label class="form-elem__label" for="university_list">Университет</label>
                <input class="form-elem__input" id="university_list" type="text">
                {{ form.university_id }} {# hidden #}
                {{ form.university_name }} {# hidden #}
                {% if not form.university_name.errors %}
                    {{ form.university_id.errors }}
                {% endif %}
                {{ form.university_name.errors }}
            </div>
            <div class="form-elem form-elem--low">
                {% if not is_edit_form %}
                <label class="form-elem__label">E-mail</label>
                {{ form.email }}
                {% endif %}
                {{ form.is_show_email }}
                <span>Показывать email всем</span>
                {{ form.email.errors }}
            </div>
            <div class="form-elem form-elem--low">
                 <label class="form-elem__label">Номер телефона</label>
                {{ form.phone }}
                {{ form.is_show_phone }}
                <span>Показывать номер всем</span>
                {{ form.phone.errors }}
            </div>
            {% if not is_edit_form %}
                <div class="form-elem form-elem--mid">
                    <label class="form-elem__label">Пароль</label>
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>
                <div class="form-elem form-elem--mid">
                    <label class="form-elem__label">Повторите пароль</label>
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>
            {% endif %}
            <div class="form-elem form-elem--max">
                <label class="form-elem__label">Ваша страница с социальных сетях</label>
                <p class="form-elem__description">Указывать не обязательно, но так организаторы турниров и судьи могут с вами связаться</p>
                {{ form.link }}
                {{ form.link.errors }}
            </div>

            <div class="form-elem form-elem--max" id="player_experience">
                <label class="form-elem__label">Игровой опыт</label>
                <p class="form-elem__description">Опишите ваш опыт игры в дебаты, чтобы организаторы турниров могли оценить ваши навыки</p>
                {{ form.player_experience }}
                {{ form.player_experience.errors }}
            </div>
            <div class="form-elem form-elem--max" id="adjudicator_experience">
                <label class="form-elem__label">Судейский опыт</label>
                <p class="form-elem__description">Если собираетесь судить на турнирах, напишите о вашем судейском опыте</p>
                {{ form.adjudicator_experience }}
                {{ form.adjudicator_experience.errors }}
            </div>

            <div class="form-elem form-elem--max" >

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                    <button type="submit" class="button button--min button--prime" onclick="yaCounter35208810.reachGoal('signinConfirmed'); return true;">
                        {% if is_edit_form %}
                            Сохранить
                        {% else %}
                            Вперед!
                        {% endif %}
                    </button>
                {% if is_edit_form %}
                    <button class="button button--min button--prime">
                        <a href="{% url 'account_change_password' %}">Изменить пароль</a>
                    </button>
                {% endif %}

            </div>

    </form>

{% endblock content %}
