{
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "babel-eslint",
        "sourceType": "module",
        "ecmaVersion": 2017,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": [
        "airbnb-base",
        "plugin:vue/strongly-recommended"
    ],
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "./build/webpack.base.js"
            }
        }
    },
    "plugins": [
        "vue"
    ],
    "rules": {
        "import/prefer-default-export": "off",
        "radix": "off",
        "eqeqeq": "off",
        "no-alert": "off",
        "camelcase": "off",
        "no-return-assign": "off",
        "no-param-reassign": "off",
        "no-shadow": "off",
        "func-names": "off",
        "vue/max-attributes-per-line": [2, {
            "singleline": 100,
            "multiline": {
                "max": 1,
                "allowFirstLine": true
            }
        }],
        "vue/require-default-prop": "off",
        "vue/require-v-for-key": "off",
        "prefer-destructuring": "off",
        "max-len": [
            "error",
            {
                "code": 120,
                "ignorePattern": "(path|translate)"
            }
        ],
        "no-console": [
            "error",
            {
                "allow": [
                    "warn",
                    "error",
                    "debug"
                ]
            }
        ],
        "no-underscore-dangle": [
            2,
            {
                "allow": [
                    "_uid"
                ]
            }
        ],
        "linebreak-style": 0
    },
    "overrides": [
        {
            "files": [
                "*.vue"
            ],
            "rules": {
                "indent": "off"
            }
        }
    ]
}
