*.idea
*.iml
__pycache__
*.pyc
*/settings/database.py
*/settings/security.py
*/settings/smtp_email.py
*/settings/static.py
*/settings/telegram_bot.py
*/settings/google_import.py
local_*
*.sublime-project
*.sublime-workspace
*.sass-cache
/logs/
/media/
/static/
.DS_Store
debatetournament
*.codekit
/pgdata/
