*.idea
*.iml
__pycache__
*.pyc
*.env
*/settings/security.py
*/settings/static.py
*/settings/telegram_bot.py
*/settings/google_import.py
*/settings/detact_language.py
*.sublime-project
*.sublime-workspace
*.sass-cache
/logs/
/media/
/static/
.DS_Store
debatetournament
*.codekit
*node_modules/
