[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "*"
django-allauth = "*"
django-modeltranslation = "*"
django-telegrambot = "*"
gspread = "*"
gunicorn = "*"
"oauth2client" = "*"
pipenv = "*"
pip = "*"
wheel = "*"
setuptools = "*"
pew = "*"
"psycopg2-binary" = "*"

[dev-packages]
django-debug-toolbar-template-timings = "*"
ipython = "*"
django-debug-toolbar = "*"
pipdeptree = "*"
pipenv = "*"

[requires]
python_version = "3.7"

[pipenv]
keep_outdated = true
