{% extends "base.html" %}

{% load staticfiles %}

{% block extra_head %}

    <link rel="stylesheet" href="{% static "main/css/main.css" media="screen,projection" %}">
    <link rel="stylesheet" href="{% static "main/css/font-awesome.min.css" media="screen,projection" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="text/javascript" src="{% static "main/js/interface.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/picker.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/picker.date.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/picker.time.js" %}"></script>

{% endblock extra_head %}
