{% extends "main/base.html" %}

{% block page_title %}
    {% if is_owner %}
        Мои турниры
    {% else %}
        Турниры
    {% endif %}
{% endblock page_title %}

{% block content %}
    <div>
{#        {% if is_main_page %}#}
{#            <a href="{% url "main:index" %}{% if is_short %}?list=all{% endif %}">#}
{#                {% if is_short %}#}
{#                    Показать несостоявшиеся турниры#}
{#                {% else %}#}
{#                    Скрыть несостоявшиеся турниры#}
{#                {% endif %}#}
{#            </a>#}
{#        {% endif %}#}
    </div>

    <section>
        <ul>
        {% include "tournament/tournament_list.html" with objects=objects %}
        </ul>
    </section>

    {% include 'main/paging.html' with objects=objects %}

{% endblock content %}
