{% extends "main/base.html" %}

{% block advert %}
    <div class="advert" style="display: none"> {# Проверяем куки и показываем #}
        <i class="material-icons advert__close">close</i>
        <div class="advert-container">
            <p class="advert__text">
                Если Вы хотите поддержать Tabmaker, переведите небольшую сумму на оплату сервера и веб-адреса.
            </p>
            <div class="advert__actions">
                <iframe
                    src="https://money.yandex.ru/quickpay/button-widget?targets=%D0%BD%D0%B0%20%D1%80%D0%B0%D0%B7%D0%B2%D0%B8%D1%82%D0%B8%D0%B5%20tabmaker&default-sum=100&button-text=11&any-card-payment-type=on&button-size=m&button-color=orange&successURL=https%3A%2F%2Ftabmaker.info%2F&quickpay=small&account=410013865474770&"
                    width="184" height="36" frameborder="0" allowtransparency="true" scrolling="no">
                </iframe>
{#                <span class="advert__actions--hide">Больше не показывать</span>#}
            </div>

        </div>
    </div>
{% endblock %}

{% block page_title %}
    {% if is_owner %}
        Мои турниры
    {% else %}
        Турниры
    {% endif %}
{% endblock page_title %}


{% block content %}
{#    <div>#}
{#        {% if is_main_page %}#}
{#            <a href="{% url "main:index" %}{% if is_short %}?list=all{% endif %}">#}
{#                {% if is_short %}#}
{#                    Показать несостоявшиеся турниры#}
{#                {% else %}#}
{#                    Скрыть несостоявшиеся турниры#}
{#                {% endif %}#}
{#            </a>#}
{#        {% endif %}#}
{#    </div>#}

    <div class="content-textpage">
    {% with objects=objects %}
        {% include "tournament/tournament_list.html" %}
    {% endwith %}
    </div>

    {% with objects=objects %}
        {% include 'main/paging.html' %}
    {% endwith %}


{% endblock content %}
