{% extends "main/base.html" %}

{% block page_title %}
    Сообщение
{% endblock page_title %}

{% block content %}

    <div class="content-textpage content-textpage--center content-textpage--top">
        <div id="message">
            <p class="paragraph__heading">{{ message }}</p>
        </div>

        <div id="message_back">
            <a class="button button--mid button--prime" href="{% if url %}{{ url }}{% else %}javascript:history.back(){% endif %}">Назад</a>
        </div>
    </div>

{% endblock content %}
