{% extends "main/base.html" %}

{% block page_title %}
   Что у нас нового
{% endblock page_title %}

{% block content %}

<div class="b-post">
    <div class="b-post-item">
        <h3 class="b-post-item__heading">Скрытая регистрация на турнир</h3>
        <p class="b-post-item__date">01.12.2016</p>
        <section class="b-post-item__text">
            <p>
                Появилась возможнось скрыть информацию о зарегестрировавшихся командах до конца регистрации
            </p>
        </section>
    </div>
    <div class="b-post-item">
        <h3 class="b-post-item__heading">Мы упростили ввод результатов в плейофф</h3>
        <p class="b-post-item__date">01.12.2016</p>
        <section class="b-post-item__text">
            <p>
                Теперь в плейофф не нужно вводить места и спикерские,
                а достаточно просто отметить тех, кто проходит дальше
            </p>
        </section>
    </div>
    <div class="b-post-item">
        <h3 class="b-post-item__heading">Возможность создавать свои формы регистации для команд и судей</h3>
        <p class="b-post-item__date">25.11.2016</p>
        <section class="b-post-item__text">
            <p>Теперь вы можете создавать свои формы для регистрации команд и судей, отправлять их командам</p>
        </section>
    </div>
    <div class="b-post-item">
        <h3 class="b-post-item__heading">Tabmaker вышел из бета-версии</h3>
        <p class="b-post-item__date">25.12.2015</p>
        <section class="b-post-item__text">
            <p>
                После тестирования на четырех турнирах во Владивостоке Tabmaker вышел в свет.
                Чтобы узнать, как провести турнир, пройдите по
                <a class="b-link" href="{% url 'main:faq' %}">ccылке</a>
            </p>
        </section>
    </div>
</div>

{% endblock content %}
