{% load page_extras %}

<div class="section__notop">
    <div class="paging">

    {% if objects.paginator.num_pages > 1 %}

        {% if objects.has_previous %}
            <div class="paging__prev">
                <i class="material-icons">arrow_back</i><a href="?page={{ objects.previous_page_number }}"> Назад </a>
            </div>
        {% endif %}

        <div class="paging__numbers">
            <span><a href="?page=1">1</a></span>
            {% if objects.number|is_split_first %}
                <span>...</span>
            {%endif%}

            {% for n in objects.number|page_range %}
                {% if n > 1 and n <= objects.paginator.num_pages %}
                    <span><a href="?page={{ n }}">{{ n }}</a></span>
                {% endif %}
            {% endfor %}
        </div>

        {% if objects.has_next %}
            <div class="paging__next">
                <a href="?page={{ objects.next_page_number }}">Вперед</a><i class="material-icons">arrow_forward</i>
            </div>
        {% endif %}
    {% endif %}
    </div>
</div>
