{% extends "main/base.html" %}

{% block page_title %}
    Обратная связь на Tabmaker
{% endblock page_title %}

{% block content %}

<form class="b-form content-formpage" action="{% url "main:feedback" %}" method="post">
    {% csrf_token %}
    <div class="form-elem">
        <h3 class="form-elem__heading">Что сделано хорошо?</h3>
        <p class="paragraph">Напишите, что вам понравилось в Tabmaker, чтобы мы знали, за что дебатеры ценят проект.</p>
        <textarea class="form-elem__input" cols="40" rows="5" name="already_good"></textarea>
    </div>
    <div class="form-elem">
        <h3 class="form-elem__heading">Что можно улучшить?</h3>
        <p class="paragraph">
            Расскажите, что можно сделать удобнее и понятнее.
            Или причины, по которым сейчас сложно использовать сайт для ведения турниров.
        </p>
        <textarea class="form-elem__input" cols="40" rows="5" name="can_be_batter"></textarea>
    </div>
    <div class="form-elem">
        <h3 class="form-elem__heading">Предложения или пожелания</h3>
        <p class="paragraph">
            Прислушаемся с любым идеям, советам и предложениям.
        </p>
        <textarea class="form-elem__input" cols="40" rows="5" name="what_you_want"></textarea>
    </div>
    <div class="form-elem">
        <h3 class="form-elem__heading">Посоветуете Tabmaker другим дебатерам?</h3>
        <ul class="paragraph">
            <li><label><input type="radio" name="nps" value="0">0 (ни за что)</label></li>
            <li><label><input type="radio" name="nps" value="1">1</label></li>
            <li><label><input type="radio" name="nps" value="2">2</label></li>
            <li><label><input type="radio" name="nps" value="3">3</label></li>
            <li><label><input type="radio" name="nps" value="4">4</label></li>
            <li><label><input type="radio" name="nps" value="5" checked="checked">5</label></li>
            <li><label><input type="radio" name="nps" value="6">6</label></li>
            <li><label><input type="radio" name="nps" value="7">7</label></li>
            <li><label><input type="radio" name="nps" value="8">8</label></li>
            <li><label><input type="radio" name="nps" value="9">9</label></li>
            <li><label><input type="radio" name="nps" value="10">10 (обязательно посоветую)</label></li>
        </ul>

    </div>
    <button type="submit" class="button button--max button--prime">
        Отправить
    </button>

</form>

{% endblock content %}

