{% extends "main/base.html" %}

{% block page_title %}
    Обратная связь на Tabmaker
{% endblock page_title %}

{% block content %}

<form class="b-form b-feedback">
    <div class="b-form-item">
        <h1>Как нам улучшить Tabmaker?</h1>
        <p>Расскажите нам, как впечатления от сайта, что вам понравилось и что можно улучшить. Нам очень пригодится эта информация, чтобы сделать сайт максимально полезным для дебатеров.</p>
    </div>
    <div class="b-form-item b-feedback-item">
        <h3 class="b-form-item__heading">Что в Tabmaker сделано хорошо?</h3>
        <p>Напишите, что вам понравилось в Tabmaker, чтобы мы сделали это еще лучше =)</p>
        <textarea cols="40" rows="5"></textarea>
    </div>
    <div class="b-form-item b-feedback-item">
        <h3 class="b-form-item__heading">Что в Tabmaker можно улучшить?</h3>
        <p>Расскажите, что можно сделать удобнее и понятнее. Или причины, по которым сейчас сложно использовать сайт для ведения турниров. </p>
        <textarea cols="40" rows="5"></textarea>
    </div>
    <div class="b-form-item b-feedback-item">
        <h3 class="b-form-item__heading">Предложения или пожелания разработчикам</h3>
        <p>Расскажите, что можно сделать удобнее и понятнее. Или причины, по которым сейчас сложно использовать сайт для ведения турниров. </p>
        <textarea cols="40" rows="5"></textarea>
    </div>
    <div class="b-form-item b-feedback-item">
        <h3 class="b-form-item__heading">Посоветуете Tabmaker другим дебатерам?</h3>
        <ul class="b-feedback-item__list">
            <li><label name="nps"></label><input type="radio" name="nps">0 (ни за что)</li>
            <li><label name="nps"></label><input type="radio" name="nps">1</li>
            <li><label name="nps"></label><input type="radio" name="nps">2</li>
            <li><label name="nps"></label><input type="radio" name="nps">3</li>
            <li><label name="nps"></label><input type="radio" name="nps">4</li>
            <li><label name="nps"></label><input type="radio" name="nps">5</li>
            <li><label name="nps"></label><input type="radio" name="nps">6</li>
            <li><label name="nps"></label><input type="radio" name="nps">7</li>
            <li><label name="nps"></label><input type="radio" name="nps">8</li>
            <li><label name="nps"></label><input type="radio" name="nps">9</li>
            <li><label name="nps"></label><input type="radio" name="nps">10 (обязательно посоветую)</li>
        </ul>

    </div>
    <button type="submit" class="button">
        Отправить
    </button>

</form>

{% endblock content %}

