.b-admin {
    padding: 20px;
    box-sizing: border-box;

    &__owner {
        margin-bottom: 20px;
    }

    &__admin {
        margin-bottom: 20px;

        &_name {
            display: inline-block;
            margin-right: 10px;
        }
    }

    &__button {
        background-color: transparent;
        border: 1px solid $grey;
        border-radius: 5px;
        color: $grey;
        cursor: pointer;
        height: 28px;
        line-height: 28px;
        padding: 0 5px;

        &:hover {
            background-color: transparent;
            border: 1px solid $dark;
            border-radius: 5px;
            color: $dark;
        }
    }

    &__input {
        width: 220px;
    }
}