.b-admin {
    padding: 20px;
    box-sizing: border-box;

    &__owner {
        margin-bottom: 20px;
    }

    &__admin {
        margin-bottom: 20px;

        @include respond-to(mobile) {
            p, a {
                display: block;
                margin-bottom: 5px;
                margin-top: 5px;
                text-align: center;
            }
        }

        &_name {
            display: inline-block;
            margin-right: 10px;
        }
    }

    &__input {
        width: 220px;

        @include respond-to(mobile) {
            width: 100%;
        }
    }
}

#new_admin {
    a {
        display: block;
        margin-top: 10px;
        text-align: center;
    }
}