$background-page: #ECEEF1;
$background-block: #ffffff;
$hovergrey: #F6F6F6;
$green: #0D8153;
$dark-green: #055F3B;
$light-green: #189A66;
$deep-dark: #0C152A;
$dark: #58697A;
$grey: #aeb8bc;
$hover: #FEFFD9;
$lightbeige: #FDFDEE;
$buttondark: #424E5A;
$activetab: #FF6301;

$lightbeige: #EBE8E3;
$beige: #E2DFDA;
$darkbeige: #636361;
$backbeige: #7A7A7A;
$disabled_button: #95989a;
$success_message: #188b38;
$error_message: #ff3d4c;
