footer {
	background-color: white;
	padding: 20px 40px;
	display: block;
	height: 10vh;
	@include shadow;

	#footer_info {
		display: inline-block;
		width: 80%;

		li {
			color: $grey;
			display: inline;
			margin-right: 20px;
		}
	}

	#contact {
		display: inline-block;
		width: 15%;
		
		li {
			display: inline;
			color: $grey;
			margin-right: 20px;
		}
	}
}