footer {
	background-color: white;
	padding: 60px 0px;
	display: block;
	@include shadow;
}

.b-footer {
	width: 58%;
	margin: 0 auto;
	
	&__info {
		display: inline-block;
		float: left;

		li {
			color: $grey;
			display: inline;
			margin-right: 20px;
		}
	}

	&__contact {
		display: inline-block;
		float: right;
		
		li {
			display: inline;
			color: $grey;
			margin-right: 20px;
		}
	}

}