input, select, textarea {
	padding: 5px 0px 5px 10px;
	border-radius: 4px;
	line-height: 20px;
	font-size: 14px;
	color: $dark;
	background-color: transparent;
	border: 2px solid $background-page;
	box-sizing: border-box;
	font-family: "PT Sans", Arial, sans-serif;

	&:focus {
		border: 2px solid $dark;
	}
}

select {
	-webkit-appearance: none;
	height: 35px;
	min-width: 170px;
}

label {
	display: block;
}

.b-form {
	margin: 40px auto;
    width: 100%;

    &__createtournament {
    	max-width: 600px;
    }

    @include respond-to(mobile) {
    	max-width: 300px;
    }

	&__button {
		@include button;
	}
}

input[type='time'],
input[type='date'] {
	height: 35px;
}

input[type='date'] {
	max-width: 160px;
}

input[type='time'] {
	max-width: 100px;
}

input[type="checkbox"] {
	width: 15px;
	height: 15px;
}

input[type="number"] {
	max-width: 100px;
}

.b-form-item {
	margin-bottom: 20px;
	@include span(100% no-gutters);

	&__heading {
		@include span(12 of 12 no-gutters);
	}

	.wide {
		input {
			width: 220px;
		}
	}

	input, textarea {
		width: 100%;
		display: inline-block;
		margin-bottom: 10px;
	}

	&__map {
		border: 1px solid $grey;
		display: inline-block;
		margin-top: 10px;
		width: 100%;
	}

	&__wrapper {
		display: block;
		width: 100%;
	}
}

.full {
	@include span(12 of 12);
}

#country, #street, #regdateOpen, #regdateClose, #link, .row {
	clear: both;
}

#player_experience, #adjudicator_experience, .textarea {
	@include span(12 of 12);
}

.errorlist {
	display: block;

	li {
		color: red;
		font-size: 14px;
		width: 180px;
    	display: inline-block;
	}
}

// autocomplete

.ui-autocomplete {
    overflow-y: auto;
	max-height: 300px;
	overflow-x: hidden;
	max-width: 350px;

    @include respond-to(mobile) {
        max-width: 278px;
    }
}

.ui-menu-item {
    font-size: 14px;
    max-width: 100%;
    padding: 10px 1em 10px .4em;
    line-height: 1.4;

    .region {
        font-size: 11px;
        color: $grey;
    }

    a {
        color: #58697A;
        font-size: 14px;
    }
}

.ui-widget-content {
    border: 1px solid $grey;
}


// зарегистрироваться

.b-signup {
    max-width: 350px;

    @include respond-to(mobile) {
        max-width: 280px;
    }

	&__item {

		input, select, textarea {
			min-width: 200px;
			width: 100%;
		}

		input[type="checkbox"] {
			width: 20px;
		}

		span {
			margin-top: 10px;
    		display: inline-block;
		}
	}
}

.b-password-change {
	margin-bottom: 10px !important;

	label {
		margin-bottom: 5px;
		font-weight: 700;
	}

	input {
		width: 25%;
	}
}


// создать турнир

.tournament-new {

    &__count {
        max-width: 190px !important;
    }
}



// custom forms

.question-actions {
    position: absolute;
    top: 0;
    right: 10px;

    @include respond-to(mobile) {
        position: initial;
        margin: 10px 0 0 0;
    }
}

.up, .down, .remove, .edit {
    border: none;
    background-color: transparent;
    padding: 0;
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px;

    i {
        margin: 0 auto;
        font-size: 1.6em;
    }

    i::before {
        color: $buttondark;
    }
}

.question_block, #new_question {
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
    position: relative;
}

.question_block {
    border-bottom: 1px solid #E9EBEC;
}

.edit_block {

    label {
        display: block;

        p, span {
            margin-bottom: 10px;
        }

        input[type="text"], textarea {
            max-width: 80%;
            width: 100%;
            min-width: 280px;
        }

        input, textarea {
            margin-bottom: 20px;
        }

        textarea {
            min-height: 70px;
        }
    }

}

.comment {
    font-size: 14px;
    color: $grey;
    max-width: 90%;
    line-height: 1.3;
    width: 100%;
}

.question {
    max-width: 90%;
    width: 100%;
}

.star {
    color: red;
}