input, select, textarea {
	padding: 5px 0px 5px 10px;
	height: 25px;
	border-radius: 4px;
	line-height: 20px;
	margin: 0 0px 15px 0;
	font-size: 14px;
	color: $dark;
	background-color: white;
	border: 2px solid $background-page;

	&:focus {
		border: 2px solid $green;
	}
}

textarea {
	min-height: 30px;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 14px;
}

select {
	-webkit-appearance: none;
	height: 35px;
	min-width: 170px;
}

label {
	display: block;
}

.b-form {
	@include container(90%);
	padding: 40px 0 40px 0;
	
	&__button {
		@include button;
	}
}

.b-form-item {
	margin-bottom: 20px;
	@include span(100% no-gutters);

	&__heading {
		@include span(12 of 12 no-gutters);
	}

	&__input, &__label {
		display: inline-block;

		&_full {
			@include span(11 of 12 no-gutters);

			&_last {
				@include span(11 of 12);
				@include last;
			}
		}

		&_six {
			@include span(6 of 12 no-gutters);

			&_last {
				@include span(6 of 12);
				@include last;
			}
		}

		&_quarter {
			@include span(3 of 12);

			&_last {
				@include span(3 of 12);
				@include last;
			}
		}

		&_third {
			@include span(4 of 12);

			&_last {
				@include span(4 of 12);
				@include last;
			}
		}

		&_sixth {
			@include span(2 of 12);

			&_last {
				@include span(2 of 12);
				@include last;
			}
		}
		
		&_ten {
			@include span(10%);

			&_last {
				@include span(10%);
				@include last;
			}
		}
	}

	&__map {
		border: 1px solid $grey;
		margin-top: 90px;
	}
}

.full {
	@include span(12 of 12);
}

#university, #adress, #count_teams_in_break, .last {
	// @include last;
}

#country, #street, #regdateOpen, #regdateClose, #link, .row {
	clear: both;
}

// #tournamentName {
// }

// #address {
// 	@include span(11 of 12);

// 	input {
// 		width: 100%;
// 	}
// }

// #street {
// 	@include span(8 of 12);

// 	input {
// 		max-width: 370px;
// 		width: 370px;
// 	}
// }

#player_experience, #adjudicator_experience, .textarea {
	@include span(12 of 12);
}

// #link {
// 	@include span(11 of 12);
	
// 	input {
// 		width: 100%;
// 	}
// }

// .button.formItem {
// 	@include span (4 of 12);
// 	text-align: center;
// }

#loginButton {
	@include span (4 of 12);
}

.errorlist {
	
	li {
		color: red;
		font-size: 14px;
		display: inline;
	}
}