header {
	height: 70px;
	background-color: white;
	vertical-align: middle;
	display: block;
	@include shadow;

	#logo {
		display: inline-block;
		height: 100%;
		vertical-align: middle;

		img {
			display: inline-block;
			height: 40%;
			max-width: none;
			max-height: 80px;
			margin: 20px 30px 0 30px;
		}
		
	}

	.header_container {
		display: inline-block;
		width: 75%;

		#page_title {
			display: inline-block;
			vertical-align: middle;
			margin-left: 55px;
			width: 70%;

			h3 {
				color: $deep-dark;
				font-size: 24px;
				margin-bottom: 0px;
				width: 90%;			}
		}

		#header_button {
			display: inline-block;
		}
	}
}