header {
	height: 70px;
	background-color: white;
	vertical-align: middle;
	display: block;
	@include shadow;

	#logo {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		width: 21%;

		img {
			display: inline-block;
			height: 40%;
			max-width: none;
			max-height: 80px;
			margin: 20px 30px 0 25px;
		}
		
	}

	.header_container {
		display: inline-block;
		width: 56%;

		#page_title {
			display: inline-block;
			vertical-align: middle;
			max-width: 80%;

			h3 {
				color: $dark;
				font-size: 24px;
				margin-bottom: 0px;
			}
		}

		#header_button {
			display: inline-block;
			float: right;
			margin-top: -23px;
		}
	}
}