.b-import {

    &__disclaimer {
        margin-bottom: 20px;
    }

    &__link {
        margin-top: 10px;
        padding-bottom: 5px;
        display: inline-block;
        border-bottom: 1px dashed $dark;
    }

    &__label {
        margin-bottom: 5px;
        font-weight: 700;
    }

    &__team {
        margin-right: 0 !important;
    }

    &__team, &__speaker {
        height: 30px;
        line-height: 30px;
    }

    &__email {
        font-weight: 400;

        &_bold {
            font-weight: 700;
        }
    }

    &__status {
        display: inline-block;
        background-color: #FFEBA0;
        color: white;
        border-radius: 4px;
        box-sizing: border-box;
        margin-right: 10px;
        width: 85px;
        text-align: center;
        height: 20px;
        line-height: 20px;
    }

    &__error {
        display: inline-block;
        color: red;
    }
}