$susy: (
  columns: 12,
  gutters: 1/6,
  container: 100%,
);

body {
	font-family: "PT Sans", Arial, sans-serif;
	background-color: $deep-dark;
}

ul, a {
	margin: 0;
	padding: 0;
	list-style: none;
}

h3, h5, p, a, li, label {
	color: $grey;
}

h1, h2, h3 {
	font-weight: 700;
	margin-bottom: 10px;
}

h1 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

a {
	text-decoration: none;
}

.white {
	color: white;
}


.button {
	@include button;
	background-color: $deep-dark;
	width: 100%;

	a {
		color: white;
	}
}

input, select, textarea {
	max-width: 200px;
	border: 0px;
	padding: 5px 5px 5px 10px;
	height: 25px;
	border-radius: 5px;
	line-height: 20px;
	margin: 0 30px 10px 0;
	font-size: 14px;
	color: $grey;
	background-color: white;
}

textarea {
	min-height: 100px;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 14px;
	margin-bottom: 20px;
}

select {
	-webkit-appearance: none;
	height: 35px;
	min-width: 170px;
}

label {
	display: block;
	padding-right: 10px;
	margin: 0 0 10px 0;
}

.inlineInput {
	display: inline;
}