.fp-section,
.fp-slide,
.fp-tableCell{
    height: 100% !important;
}

.b-presentation {

	&__round, &__room, &__infoslide, &__resolution, &__motion {
		background-color: $dark;

		h3 {
			color: white;
			font-size: 12em;
			text-align: center;
		}

		h5 {
			color: white;
			font-size: 3em;
		}
	}

	&__room {

		&_teams {
			margin: 0 auto;
			height: 80%;
			@include container(75%);
		}

		&_og, &_cg, &_oo, &_co {
			height: 15%;
			padding-top: 7em;
			

			h3, p {
				color: white;
				text-align: left;
			}

			h3 {
				font-size: 3.5em;
				height: auto;
			}

			p {
				font-size: 2em;
				margin-bottom: 0.4em;
			}
		}

		&_og, &_cg {
			@include span(40% no-gutters);
			padding-left: 3em;
		}

		&_oo, &_co {
			@include span(40% last no-gutters);
			padding-right: 3em;
		}

		&_chair {
			@include span(100% no-gutters);
			text-align: center;
			font-size: 2em;
			font-weight: 700;
			margin-top: 1em;

			P {
				color: white;
			}

		}

	}

	&__infoslide {

		h3, p {
			color: white;
		}

		h3 {
			font-size: 3em;
			margin: 0 0 0.5em 0;
		}

		p {
			font-size: 2em;
			color: white;
			text-align: center;
			max-width: 80%;
			margin: 0 auto;
			line-height: 1.2;
		}
	}

	&__motion {
		
		p {
			font-size: 3.5em;
			color: white;
			text-align: center;
			max-width: 80%;
			margin: 0 auto;
			line-height: 1.5;
		}
	}

}