.b-result-room {
	@include container;
	margin-bottom: 20px;

	&__heading {
		@iclude span(100% no-gutters);
		background-color: $beige;
		height: 40px;
		outline: 1px solid $background-page;
		padding: 10px;
    	box-sizing: content-box;
    	display: block;
	}

	&__chair, &__place {
		display: inline-block;
		width: 45%;
		padding-top: 4px;
		vertical-align: top;
		margin: 0;

		h3 {
			display: inline-block;
			margin-right: 5px;
		}
	}

	.chair_select, .place_select {
		margin: 0;
		background-color: white;
		border: 1px solid $dark;
	}

	&__og, &__cg, &__oo, &__co {
		padding: 20px 0 20px 20px;
		border-bottom: 1px solid $background-page;
	}

	&__teamresult, &__speaker1, &__speaker2, &__reverse {

		p, input, label {
			display: inline;
		}

		input {
			height: 15px;
			background-color: transparent;
			min-width: 80px;
		}

	}

}

.b-result-submit {
	padding: 0 0 20px 0;

	button {
		margin: 0 auto;
		display: block;
	}
}