// редактировать раунд

.b-result-room {
	@include container;
	margin-bottom: 20px;

	&__heading {
		@iclude span(100% no-gutters);
		background-color: $beige;
		padding: 10px;
    	box-sizing: content-box;
    	display: block;
    	text-align: center;
	}

	&__chair, &__place {
		display: inline-block;
		width: 45%;
		padding-top: 4px;
		vertical-align: top;
		margin: 0;

		h3 {
			display: inline-block;
			margin-right: 5px;
		}
	}

	.chair_select, .place_select {
		margin: 0;
		background-color: white;
		border: 1px solid $dark;
	}

	&__og, &__cg, &__oo, &__co {
		padding: 20px 0 20px 0;
    	box-sizing: border-box;
    	width: 49%;
    	display: inline-block;

    	@include respond-to(tablets) {
		    width: 100%;
		    display: block;
		}

		h3, .b-result-room__team {
			box-sizing: border-box;
			padding-left: 20px;
		}
	}

	&__teamresult, &__speaker1, &__speaker2, &__reverse {

		p, input, label {
			display: inline;
		}

		input {
			height: 15px;
			background-color: transparent;
			min-width: 80px;
		}

	}

}

.b-result-submit {
	padding: 0 0 20px 0;

	button {
		margin: 0 auto;
		display: block;
	}
}


// внести результаты раунда

.b-result {

	&-enter {
		margin: 0 auto 20px 0;

		&__heading {
			padding: 20px;
			background-color: $beige;
			display: block;

			h3 {
				margin-left: 10px;
				margin-bottom: 0;
				display: inline-block;
			}
		}

		&__checkbox {
			float: right;

			@include respond-to(tablets) {
		    	float: initial;
		    	margin: 10px 0 0 10px;

		    }

			input, p, label {
				display: inline;
			}

			input {
				margin: 0 3px 0 0;
			}
		}

		&__games {
			width: 100%;
		}

		&__og, &__oo, &__cg, &__co {
			box-sizing: border-box;
			display: inline-block;
			padding: 20px 0 0 20px;
		    width: 49%;

		    @include respond-to(tablets) {
		    	width: 100%;
		    }
		}
	}
}