aside {
	display: inline-block;
	width: 20%;
}

.b-sidebar {
	display: block;
	width: 90%;
	background-color: $background-block;
	border-radius: 3px;
	vertical-align: top;
	@include shadow;
	
	&__list {
		text-align: left;
		padding: 20px 0px;
	}

	&__heading {
		margin: 10px 0 15px 20px;
	}

	&__listitem {
		display: block;
		padding: 8px 20px;
		box-sizing: border-box;

		a {
			display: block;
			color: $grey;
			font-weight: 700;
		}

		&:hover {
			background-color: $hover;
			transition: background-color 0.3s ease;
		}

	}

	&__button {
		width: 80%;
		margin: 0 0 20px 20px;
	}

}
	
#sidebar2 {
	margin-top: 30px;
}
