.b-table {
	width: 100%;
	padding: 0 5px;

	&__headrow, &__row {
		margin: 10px 0px;
		color: $grey;
		border-bottom: 1px solid $background-page;
		height: 40px;
	}

	&__headstring, &__string {

		&_half {
			width: 50%;


			.wrap {
				padding-left: 20px;
			}

		}

		&_thirty {
			width: 16%;
			text-align: center;
		}

		&_narrow {
			width: 70px;
			text-align: center;
		}

	}

	&__headrow {	
		background-color: $lightbeige;
		color: $dark;

		th {
			font-weight: 700;
		}

	}

	&__row {

		&:hover {
			background-color: $hovergrey;
		}
	}

}