.b-teamlist {
	padding: 30px 0 30px 0;
	border-bottom: 1px $background-page solid;

	&:hover {
		background-color: $hover;
		transition: background-color 0.2s ease;
	}

	&__listitem {

	}

	&__wrapper {
		margin: 0 20px 0 20px;
	}

	&__heading {
		
		&_mine {
			margin: 0 0 20px 0;
			width: 50%;
		}

		h3 {
			display: inline;
			margin-right: 20px;

			a {
				display: inline;
				border-bottom: 1px dashed $grey;
				padding-bottom: 3px;
			}
		}
	}

	&__status {
		color: $grey;
		margin: 0 0 10px 0;

		a {
			display: inline;
			border-bottom: 1px dashed $grey;
			padding-bottom: 3px;
			color: $grey;
			font-weight: 400;
		}
	}

	&__profile {
		cursor: auto;
		margin: 15px 0 0 0;
		
		a {
			display: inline;
			border-bottom: 1px dashed $grey;
			padding-bottom: 3px;
		}
	}

}