.b-tournament-info {
	padding: 10px 30px 30px 30px;

	&__heading {
		margin-top: 20px;
		margin-bottom: 10px;

		&_first {
			margin-bottom: 10px
		}
	}

	&__status {
		display: block;
		line-height: 1.5;
	}

}

.b-tournament-reg {
	margin-top: 30px;
	min-height: 50px;

	&__regtime {

	}

	&__button {
		@include button;
	}
}

.b-tournament-summary {
	padding: 20px;
}

.b-tournament-summary-status {
	margin: 0 0 20px 0;

	&__info {
		display: block;
		line-height: 1.5;
	}
}

.b-tournament-summary-commands {

	& a, & input {
		display: inline-block;
	}

	&__button {
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
		margin: 0 5px 10px 0;
	}

}