@mixin disclaimer {
    display: block;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;

    @include respond-to(mobile) {
        float: none;
        margin: 10px 0;
        display: block;
        width: 100%;
    }

    p {
        color: white;
    }
}

@mixin disclaimer-red {
    @include disclaimer;
    background-color: orangered;
}

@mixin disclaimer-yellow {
    @include disclaimer;
    background-color: gold;
}

@mixin disclaimer-green {
    @include disclaimer;
    background-color: darkcyan;
}

@mixin notification {
    display: block;
    padding: 4px;
    margin: 4px;
    border-radius: 5px;
    float: left;
    color: white;
}

.notification {

    &-red, &-yellow, &-green {
        @include notification;
    }

    &-red {
        background-color: #ff3d4c;
    }

    &-green {
        background-color: #188b38;
    }

    &-yellow {
        background-color: #ffbf24;
    }
}

@mixin banner {
    box-sizing: border-box;
    display: block;
    width: 100%;

    @include respond-to(large) {
        padding: 40px;
    }
    @include respond-to(tablets) {
        padding: 20px;
    }
    @include respond-to(mobile) {
        padding: 20px;
    }
}

.b-banner {

    &__button {
        display: inline-block;
        margin-top: 10px;
    }

    &__close {
        position: absolute;
        top: 9%;
        right: 3%;
        color: white;
    }

    &-red, &-yellow, &-green {
        @include banner;
        position: relative;

        p {
            color: white;
            line-height: 1.4;
            display: inline-block;

            @include respond-to(large) {
                width: 60%;
            }
            @include respond-to(tablets) {
                width: 100%;
            }
            @include respond-to(mobile) {
                width: 100%;
            }
        }

    }

    &-red {
        background-color: orangered;
    }

    &-green {
        background-color: green;
    }

    &-yellow {
        background-color: gold;
    }
}

@mixin window {
    position: absolute;
    left: 0%;
    bottom: 0px;
    width: 320px;
    box-sizing: border-box;
    padding: 15px;
}

.b-window {

    &__close {
        float: right;
        color: white;
        display: inline;
    }

    &__text {
        color: white;
        width: 90%;
        display: inline-block;
    }

    &-red, &-yellow, &-green {
        @include window;
    }

    &-red {
        background-color: orangered;
    }

    &-green {
        background-color: darkcyan;
    }

    &-yellow {
        background-color: gold;
    }

}

.b-paging {
    display: inline-flex;
    width: 100%;
    justify-content: center;

    &__prev, &__next, &__numbers {
        box-sizing: border-box;
        display: inline-block;
        cursor: pointer;
        padding: 20px 0;

        i, a {
            color: $grey;
        }
    }

    &__next {

        i {
            margin-left: 10px;
        }
    }

    &__prev, &__numbers {
        margin-right: 20px;
    }

    &__numbers {

        span {
            color: $grey;
            margin-right: 10px;
        }

    }
}
