@mixin disclaimer {
    display: block;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.disclaimer {

    &-red, &-yellow, &-green {
        @include disclaimer;

        p {
            color: white;
        }
    }

    &-red {
        background-color: orangered;
    }

    &-green {
        background-color: darkcyan;
    }

    &-yellow {
        background-color: gold;
    }
}


.b-paging {
    display: inline-flex;
    width: 100%;
    justify-content: center;

    &__prev, &__next, &__numbers {
        box-sizing: border-box;
        display: inline-block;
        cursor: pointer;
        padding: 20px 0;

        i, a {
            color: $grey;
        }
    }

    &__next {

        i {
            margin-left: 10px;
        }
    }

    &__prev, &__numbers {
        margin-right: 20px;
    }

    &__numbers {

        span {
            color: $grey;
            margin-right: 10px;
        }

    }
}