{% extends "account/base_include_js.html" %}

{% block page_title %}
    Судейство в турнирах
{% endblock page_title %}

{% block content %}
    <section class="b-profile">
        <ul>
            {% for rel in objects %}
                <li class="tournament_list">
                    <div id="errors_{{ rel.id }}"></div>
                    <div class="list_item" id="adjudicator_{{ rel.id }}">
                        <h3><a href="{% url 'tournament:show' rel.tournament.id %}">{{ rel.tournament.name }}</a></h3>
                        <ul>
                            <li>{{ rel.role.role }}</li>
                        </ul>

                        {% if is_owner %}

                            <button class="b-profile__button" onclick="remove_adjudicator(
                                    '{% url 'profile:adjudicator_remove' %}',
                                    {{ rel.id }},
                                    'adjudicator_{{ rel.id }}',
                                    'errors_{{ rel.id }}'
                                    )">
                                Отказаться от судейства
                            </button>

                            {# TODO Кнопка "Подтвердить участие" #}

                        {% endif %}

                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>

    {% include 'main/paging.html' with objects=objects %}

{% endblock content %}
