{% extends "main/base.html" %}

{% load staticfiles %}

{% block page_title %}
    Судейство в турнирах
{% endblock page_title %}

{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "main/js/cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/ajaxCSRF.js" %}"></script>
    <script type="text/javascript" src="{% static "tournament/js/main.js" %}"></script>
{% endblock extra_head %}

{% block content %}
    <section>
        <ul>
            {% for rel in objects %}
                <li class="tournament_list">
                    <div id="errors_{{ rel.id }}"></div>
                    <div class="list_item" id="adjudicator_{{ rel.id }}">
                        <h3><a href="{% url 'tournament:show' rel.tournament.id %}">{{ rel.tournament.name }}</a></h3>
                        <ul>
                            <li>Статус: {{ rel.role.role }}</li>
                        </ul>

                        {% if is_owner %}

                            <button onclick="remove_adjudicator(
                                    '{% url 'profile:adjudicator_remove' %}',
                                    {{ rel.id }},
                                    'adjudicator_{{ rel.id }}',
                                    'errors_{{ rel.id }}'
                                    )">
                                Удалить команду
                            </button>

                            {# TODO Кнопка "Подтвердить участие" #}

                        {% endif %}

                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>

    {% include 'main/paging.html' with objects=objects %}

{% endblock content %}
