{% extends "base.html" %}

{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "main/css/main.css" media="screen,projection" %}">
{#    <script type="text/javascript" src="{% static "main/js/main.js" %}"></script>#}
{% endblock extra_head %}

{% block header %}
    <div class="header_container">
        <div id="page_title">
            <h3>
                {% block page_title %} Название страницы {% endblock page_title %}
            </h3>
        </div>
    </div>
{% endblock header %}

{% block sidebar%}
    <ul class="side-nav">
        {% if request.user.is_authenticated %}
            <li class="">
                <a href="{% url 'account_logout' %}">Выйти</a>
            </li>
        {% else %}
            <li class="">
                <a href="{% url 'account_login' %}">Войти</a>
            </li>
            <li class="">
                <a href="{% url 'account_signup' %}">Зарегистрироваться</a>
            </li>
        {% endif %}
        </li>
    </ul>
{% endblock sidebar %}

