<section class="b-profile__section">

    <div class="b-profile__wrapper">
        <h3 class="b-profile__heading">{{ user.name }}</h3>

        <div class="b-profile__group">
            <ul>
                <li class="b-profile__listitem"><i class="fa fa-globe"></i>{{ user.university.country.name}}</li>
                <li class="b-profile__listitem"><i class="fa fa-map-marker"></i>{{ user.university.city.name }}</li>
                <li class="b-profile__listitem"><i class="fa fa-university"></i>{{ user.university.name }}</li>
            </ul>
        </div>

        <div class="b-profile__group">
            <h3 class="b-profile__heading">Контакты</h3>
            <ul>
                {% if request.user == user %}
                <li class="b-profile__listitem"><i class="fa fa-envelope-o"></i>{{ user.email }}</li>
                <li class="b-profile__listitem"><i class="fa fa-mobile"></i>{{ user.phone }}</li>
                {% endif %}
                <li class="b-profile__listitem">
                    <i class="fa fa-facebook"></i>
                    <a href="{{ user.link }}">{{ user.link }}</a>
                </li>
            </ul>
        </div>

        <div class="b-profile__group">
            <h3 class="b-profile__heading">Опыт в дебатах</h3>
            <p class="b-profile__item">{{ user.player_experience }}</p>
            <h3 class="b-profile__heading">Опыт судейства</h3>
            <p class="b-profile__item">{{ user.adjudicator_experience }}</p>
        </div>

        {% if request.user == user %}
            <a class="b-profile__button" href="{% url 'profile:edit' user.id%}">Редактировать</a>
        {% endif %}
    </div>
</section>
