{% load profile_extras %}

<section class="b-profile__section">

<ul>
    {% for object in objects %}
        <li id="message_{{ object.team.id }}"></li>

        <li id="team_{{ object.team.id }}" class="b-tournamentlist-item">

            <div class="b-tournamentlist-current">

                <h3 class="b-tournamentlist-current__heading">{{ object.team.name }}</h3>

                <ul class="b-tournamentlist-current__column_third">
                    <li class="b-tournamentlist-current__about_block">
                        <a class="tournamentlist" href="{% url 'profile:main' object.team.speaker_1.id%}">{{ object.team.speaker_1|name }}</a></li>
                    <li class="b-tournamentlist-current__about_block">
                        <a class="tournamentlist" href="{% url 'profile:main' object.team.speaker_2.id%}">{{ object.team.speaker_2|name }}</a>
                    </li>
                </ul>

                <div class="b-tournamentlist-current__column_twothird b-tournamentlist-current__column_rightcolumn">
                    {% if object.rel %}
                    <span><a class="b-tournamentlist-current__registration_mine tournamentlist" href="{% url 'tournament:show' object.rel.tournament.id %}">{{ object.rel.tournament.name }}<span class="nolink"> – {{ object.rel.role.role }}</a></span></span>
                    {% else %}
                    <span><span class="nolink"><p class="b-tournamentlist-current__registration_mine">Эта команда не зарегистрирована в турнире</p></span></span>
                    {% endif %}
                </div>

                <ul class="b-tournamentlist-current__column_twothird">

                    {% if is_owner %}
                    <li class="b-tournamentlist-current__about_block_nomargin">
                        <button class="b-tournamentlist-current__result_tounamentlist" onclick="remove_team(
                                '{% url 'profile:team_remove' %}',
                                '{{ object.team.id }}',
                                'team_{{ object.team.id }}',
                                'message_{{ object.team.id }}'
                                )">
                            <span>Удалить команду</span>
                        </button>

{#                            <button class="b-tournamentlist-current__result_tounamentlist">#}
{#                                <span>Подтвердить участие</span>#}
{#                            </button>#}
                    </li>
                    {% endif %}

                </ul>
            </div>

        </li>

    {% empty %}
        <p class="b-profile__zero">Не играл ни в одном турнире</p>
    {% endfor %}
</ul>

{% include 'main/paging.html' with objects=objects %}

</section>
