<section class="b-profile">
    <ul>
        {% for rel in objects %}
            <li class="b-tournamentlist-item">

                <div class="b-tournamentlist-current">

                    <div class="list_item" id="adjudicator_{{ rel.id }}">
                        <h3 class="b-tournamentlist-current__heading"><a href="{% url 'tournament:show' rel.tournament.id %}">{{ rel.tournament.name }}</a></h3>

                        <div class="b-tournamentlist-current__column_twothird b-tournamentlist-current__column_rightcolumnbigmargin">
                           <span><span class="nolink"><p class="b-tournamentlist-current__registration_mine">{{ rel.role.role }}</p></span></span>
                           <div class="errorinlist" id="errors_{{ rel.id }}"></div>
                        </div>

                        <ul class="b-tournamentlist-current__column_twothird">

                            {% if is_owner %}
                            <li class="b-tournamentlist-current__about_block_nomargin">
                                <button class="b-tournamentlist-current__result_tounamentlist" onclick="remove_adjudicator(
                                    '{% url 'profile:adjudicator_remove' %}',
                                    {{ rel.id }},
                                    'adjudicator_{{ rel.id }}',
                                    'errors_{{ rel.id }}'
                                    )">
                                    Отказаться от судейства

                                </button>
{#                                <button class="b-tournamentlist-current__result_tounamentlist">#}
{#                                    <span>Подтвердить участие</span>#}
{#                                </button>#}
                            </li>
                            {% endif %}

                        </ul>

                    </div>
                </div>
            </li>
        {% empty %}
            <p> Не судил ни в одном турнире </p>
        {% endfor %}
    </ul>
</section>

{% include 'main/paging.html' with objects=objects %}
