{% extends "account/base.html" %}

{% block page_title %}
    Подтверждение
{% endblock page_title %}

{% block content %}

    <div id="email_confirm" class='b-profile__emailconfirm'>

        {% if confirmation %}

            <h3>
                Подтвеждение аккаунта для
                <a href="mailto:{{confirmation.email_address.email}}"> {{ confirmation.email_address.email }}</a>
            </h3>
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
                <button class="button" type="submit">Войти в Tabmaker</button>
            </form>

        {% else %}

            <h3> Что-то не то. Свяжитесть с ними для устранения ошибки debate.tabmaker@gmail.com </h3>
            {# TODO Форма для повторной отправки подтверждения #}

        {% endif %}

    </div>

{% endblock %}
