{% extends "account/base.html" %}

{% block page_title %}
    Уже уходите?
{% endblock page_title %}

{% block content %}

    <h3>Всегда будем ждать вашего возвращения</h3>

    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}

        {% if redirect_field_value %}
            <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
        {% endif %}

        <button type="submit" class="button formItem"> Все, ухожу </button>
    </form>

{% endblock content %}
