{% extends "account/base.html" %}

{% block page_title %}
    Уже уходишь?
{% endblock page_title %}

{% block content %}
<div class="page col s9">
<p> Выйдешь, я тебя по IP вычислю </p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
      {% endif %}
      <button type="submit"> Выйти </button>
    </form>

</div>
{% endblock content %}
