{% extends "account/base.html" %}

{% block page_title %}
    Сброс пароля
{% endblock page_title %}

{% block content %}

    <p>Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем письмо для его сброса.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div>
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <input type="submit" value="Сбросить пароль" />
    </form>

{% endblock %}
