{% extends "account/base.html" %}

{% load i18n %}

{% block page_title %}
    Новый пароль
{% endblock page_title %}


{% block content %}
    <h1> {% if token_fail %} Неправильный ключ {% endif %}</h1>

    {% if token_fail %}

        Ссылка на сброс пароля неверна, скорее всего вы уже использовали ее.
        Для нового сброса пароля перейдите по <a href="{% url 'account_reset_password' %}">ссылке</a>

    {% else %}

        {% if form %}

            <form class="b-message" method="POST" action=".">
                {% csrf_token %}
                <div class="b-message__section">
                    <h3>{{ form.password1.label_tag }}</h3>
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>
                <div class="b-message__section">
                    <h3>{{ form.password2.label_tag }}</h3>
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>

                <button class="button" type="submit" name="action">Сохранить</button>
            </form>

        {% else %}

            <div class="b-message">
                <p>Ваш пароль изменён.</p>
            </div>

        {% endif %}

    {% endif %}

{% endblock %}
