{% extends "account/base.html" %}

{% block page_title %}
    Сброс пароля
{% endblock page_title %}

{% block content %}

    <form class="b-message" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <h3>Забыли пароль?</h3>
        <p class="b-message__article">Введите свой e-mail адрес ниже, и мы вышлем письмо для его сброса</p>
        <div>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <input class="button" type="submit" value="Сбросить пароль" />
    </form>

{% endblock %}
