{% extends "main/base.html" %}

{% load profile_extras %}

{% block page_title %}
    <h3>{{ user|name }}</h3>
{% endblock page_title %}

{% block content %}

    <div class="b-profile">

        <p class="b-profile__item">Страна: {{ user.university.country.name}}</p>

        <p class="b-profile__item">Город: {{ user.university.city.name }}</p>
        
        <p class="b-profile__item">Университет: {{ user.university.name }}</p>
        
        <p class="b-profile__item">Email: {{ user.email }}</p>
        
        <p class="b-profile__item">Телефон: {{ user.phone }}</p>
        
        <p class="b-profile__item">Страница в соц.сети: <a href="{{ user.link }}">{{ user.link }}</a></p>
        
        <p class="b-profile__item">Опыт в дебатах: {{ user.player_experience }}</p>
        
        <p class="b-profile__item">Опыт в судействе: {{ user.adjudicator_experience }}</p>

        {% if request.user == user %}

        <a class="b-profile__button" href="{% url 'profile:edit' user.id%}">Редактировать</a>

        {% endif %}

    </div>

{% endblock content %}
