{% extends "main/base.html" %}

{% load profile_extras %}

{% block page_title %}
    <h3>{{ user|name }}</h3>
{% endblock page_title %}

{% block content %}

    <div class="tournament_info">

        <div>
            <div>Страна: {{ user.university.country.name}}</div>
            <div>Город: {{ user.university.city.name }} </div>
            <div>Университет: {{ user.university.name }}</div>
        </div>

        <div>
            Email: {{ user.email }}
        </div>
        <div>
            Телефон: {{ user.phone }}
        </div>
        <div>
            Страница в соц.сети: <a href="{{ user.link }}">{{ user.link }}</a>
        </div>
        <div>
            Опыт в дебатах: {{ user.player_experience }}
        </div>
        <div>
            Опыт в судействе: {{ user.adjudicator_experience }}
        </div>
        <br>

        {% if request.user == user %}

            <button class="button formItem">
                <a href="{% url 'profile:edit' user.id%}">Редактировать</a>
            </button>

        {% endif %}

    </div>

{% endblock content %}
