{% load profile_extras %}

<ul>
    {% if request.user.is_authenticated %}

        <h3>{{ request.user|name }}</h3>
        <li><a href="{% url 'profile:main' request.user.id %}">Профиль</a></li>
        <li><a href="{% url 'profile:teams' request.user.id %}">Участие в турнирах</a></li>
        <li><a href="{% url 'profile:adjudicator' request.user.id %}">Судейство в турнирах</a></li>
        <li><a href="{% url 'profile:tournaments' request.user.id %}">Мои турниры</a></li>
        <li><a href="{% url 'account_logout' %}">Выйти</a></li>

    {% else %}

        <li class=""><a href="{% url 'account_login' %}">Войти</a></li>
        <li class=""><a href="{% url 'account_signup' %}">Зарегистрироваться</a></li>

    {% endif %}
</ul>
