{% extends "account/base.html" %}

{% load staticfiles %}

{% block extra_head %}

    {{ block.super }}
    <script type="text/javascript" src="{% static "profile/js/vk_api.js" %}"></script>

{% endblock extra_head %}

{% block page_title %}
    {% if is_edit_form %} Профиль
    {% else %} Регистрация
    {% endif %}
{% endblock page_title %}

{% block content %}

    {% if is_success %}
        <div class="disclaimer-green">
            <p>Профиль успешно обновлён</p>
        </div>
    {% endif %}
    <form class="b-form" id="signup_form" method="post"
            {% if is_edit_form %} action="{% url 'profile:edit' user.id %}"
            {% else %} action="{% url 'account_signup' %}"
            {% endif %}
    >
        {% csrf_token %}
        {{ form.non_field_errors }}

            <div class="b-form-item b-signup__item">
                <h3 class="b-form-item__heading">{{ form.first_name.label_tag}}</h3>
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </div>
            <div class="b-form-item b-signup__item">
                <h3 class="b-form-item__heading">{{ form.last_name.label_tag}}</h3>
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </div>

            <div class="b-form-item b-signup__item">
                <h3 class="b-form-item__heading">{{ form.country_id.label_tag }}</h3>
                {{ form.country_id }}
                {{ form.country_id.errors }}
            </div>
            <div class="b-form-item b-signup__item">
                <h3 class="b-form-item__heading">{{ form.city_id.label_tag }}</h3>
                {{ form.city_id }}
                {{ form.city_id.errors }}
            </div>
            <div class="b-form-item b-signup__item">
                <h3 class="b-form-item__heading">{{ form.university_id.label_tag}}</h3>
                {{ form.university_id }}
                {{ form.university_id.errors }}
            </div>
            <div class="b-form-item b-signup__item">
                {% if not is_edit_form %}
                <h3 class="b-form-item__heading">{{ form.email.label_tag }}</h3>
                {{ form.email }}
                {% endif %}
                <span>{{ form.is_show_email }} {{ form.is_show_email.label }}</span>
                {{ form.email.errors }}
            </div>
            <div class="b-form-item b-signup__item">
                <h3 class="b-form-item__heading">{{ form.phone.label_tag }}</h3>
                {{ form.phone }}
                <span>{{ form.is_show_phone }} {{ form.is_show_phone.label }}</span>
                {{ form.phone.errors }}
            </div>
            {% if not is_edit_form %}
                <div class="b-form-item b-signup__item">
                    <h3 class="b-form-item__heading">{{ form.password1.label_tag }}</h3>
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>
                <div class="b-form-item b-signup__item">
                    <h3 class="b-form-item__heading">{{ form.password2.label_tag }}</h3>
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>
            {% endif %}
            <div class="b-form-item b-signup__item">
                <h3 class="b-form-item__heading">{{ form.link.label_tag }}</h3>
                {{ form.link }}
                {{ form.link.errors }}
            </div>

            <div class="b-form-item b-signup__item" id="player_experience">
                <h3 class="b-form-item__heading">Игровой опыт</h3>
                {{ form.player_experience }}
                {{ form.player_experience.errors }}
            </div>
            <div class="b-form-item b-signup__item" id="adjudicator_experience">
                <h3 class="b-form-item__heading">Судейский опыт</h3>
                {{ form.adjudicator_experience }}
                {{ form.adjudicator_experience.errors }}
            </div>

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        {{ form.country_name }}
        {{ form.city_name }}
        {{ form.university_name }}

        <button type="submit" class="button">
            {% if is_edit_form %}
                Сохранить
            {% else %}
                Вперед!
            {% endif %}
        </button>

        {% if is_edit_form %}
            <button class="button">
                <a href="{% url 'account_change_password' %}">Изменить пароль</a>
            </button>
        {% endif %}

    </form>

{% endblock content %}
