{% extends "account/base.html" %}

{% load staticfiles %}

{% block extra_head %}

    {{ block.super }}
    <script type="text/javascript" src="{% static "profile/js/vk_api.js" %}"></script>

{% endblock extra_head %}

{% block page_title %}
    {% if is_edit_form %} Профиль
    {% else %} Регистрация
    {% endif %}
{% endblock page_title %}

{% block content %}
    {% if is_success %}
        <div class="update_profile">
            <h4>Профиль успешно обновлён</h4>
        </div>
    {% endif %}
    <form class="" id="signup_form" method="post"
            {% if is_edit_form %} action="{% url 'profile' user.id %}"
            {% else %} action="{% url 'account_signup' %}"
            {% endif %}
    >
        {% csrf_token %}
        {{ form.non_field_errors }}

            <div class="formItem">
                {{ form.first_name.label_tag}}
                {{ form.first_name }}
                {{ form.first_name.errors  }}
            </div>
            <div class="formItem">
                {{ form.last_name.label_tag}}
                {{ form.last_name }}
                {{ form.last_name.errors  }}
            </div>

            <div class="formItem row">
                {{ form.country_id.label_tag }}
                {{ form.country_id }}
                {{ form.country_id.errors }}
            </div>
            <div class="formItem">
                {{ form.city_id.label_tag }}
                {{ form.city_id }}
                {{ form.city_id.errors }}
            </div>
            <div class="formItem last">
                {{ form.university_id.label_tag}}
                {{ form.university_id }}
                {{ form.university_id.errors }}
            </div>
            {% if not is_edit_form %}
                <div class="formItem row">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
            {% endif %}
            <div class="formItem">
                {{ form.phone.label_tag }}
                {{ form.phone }}
                {{ form.phone.errors }}
            </div>
            {% if not is_edit_form %}
                <div class="formItem row">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>
                <div class="formItem">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>
            {% endif %}
            <div class="formItem row">
                {{ form.link.label_tag }}
                {{ form.link }}
                {{ form.link.errors }}
            </div>

            <div class="formItem row" id="player_experience">
                {{ form.player_experience }}
                {{ form.player_experience.errors }}
            </div>
            <div class="formItem" id="adjudicator_experience">
                {{ form.adjudicator_experience }}
                {{ form.adjudicator_experience.errors }}
            </div>

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        {{ form.country_name }}
        {{ form.city_name }}
        {{ form.university_name }}

        <button type="submit" class="button formItem">
            {% if is_edit_form %}
                Сохранить
            {% else %}
                Вперед!
            {% endif %}
        </button>

    </form>
{% endblock content %}
