@import "compass/reset";
@import "susy";
@import "modules/colors";
@import "modules/shadows";
@import "modules/mixins";
@import "modules/layout";
@import "modules/header";
@import "modules/tournamentlist";
@import "modules/teamlist";
@import "modules/sidebar";
@import "modules/forms";
@import "modules/profile";
@import "modules/tabs";
@import "modules/footer";


// content section

.content_conteiner {
	padding: 30px 15px;
	min-height: 79vh;
}

.content {
	@include container;
	@include shadow;
	display: inline-block;
	width: 55%;
	padding: 20px;
	background-color: $background-block;
	border-radius: 3px;
	vertical-align: top;
	min-height: 190px;
}


.b-tournament-info {

	&__heading {
		margin-top: 25px;
	}

	&__status {
		display: block;
	}

}

.b-tournament-info-reg {
	margin-top: 30px;
	min-height: 80px;
}

// email-confirms


#email_confirm {
	
	h3 {
		text-align: center;
	}
}
