{#{% with tab_data=motions %}#}

<div class="content-textpage">
    {% for motion in tab_data %}
        <div class="paragraph">
            <p>{{ motion.number }}: {{ motion.motion }}
            </p>
            {% if motion.infoslide %}
                <p>{{ motion.infoslide }}</p>
            {% endif %}
        {% if not motion.is_playoff %}
            <a href="/analytics/motion/{{ motion.id }}/">
                <i class="fas fa-chart-area paragraph__analytics_icon" ></i>
            </a>
        {% endif %}
        </div>
    {% endfor %}
</div>
