{% load account %}
{% load profile_extras %}
{% user_display user as user_display %}


<H2>{{ user|name }}, добро пожаловать в <a href='http://tabmaker.info/'> Tabmaker </a></H2>
<br>
<br>
Вы зарегистрировались на сайте <a href='http://tabmaker.info/'> tabmaker.info </a>.
Для завершения регистрации необходимо пройти по <a href='{{ activate_url }}'> ссылке </a>.
<br>
<br>
Если вы не регистрировалиcь на нашем сайте и получили это письмо по ошибке, проигнорируйте его.
<br>
<br>
С Уважением, команда Tabmaker!


