{% load extra_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <title>Tabmaker-analytics</title>
</head>
<body>
<noscript>
    <strong>
        We're sorry but analytics doesn't work properly without JavaScript enabled.
        Please enable it to continue.
    </strong>
</noscript>
<script type="text/javascript">
    window.userData = {{ user_data | safe }};
</script>
<div id=app></div>
{% hmr_script "app.js" %}
{% hmr_script "chunk-vendors.js" %}
</body>
</html>
