/*
Error: Undefined variable: "$grey".
        on line 3 of /Users/user/Dropbox/projects/debatestournament/apps/main/Static/main/sass/modules/teamlist.scss

1: .b-teamlist {
2: 	padding: 30px 0 30px 0;
3: 	border-bottom: 1px $grey solid;
4: 
5: 	&:hover {
6: 		background-color: $hover;
7: 	}
8: 

Backtrace:
/Users/user/Dropbox/projects/debatestournament/apps/main/Static/main/sass/modules/teamlist.scss:3
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/tree/node.rb:50:in `perform'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/tree/list_literal.rb:63:in `block in _perform'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/tree/list_literal.rb:63:in `map'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/tree/list_literal.rb:63:in `_perform'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/script/tree/node.rb:50:in `perform'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:394:in `visit_prop'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `map'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:20:in `render'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/engine.rb:268:in `render'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/listen-2.10.0/lib/listen/listener.rb:291:in `call'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/listen-2.10.0/lib/listen/listener.rb:291:in `_process_changes'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/listen-2.10.0/lib/listen/listener.rb:255:in `block in _wait_for_changes'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/listen-2.10.0/lib/listen/listener.rb:238:in `loop'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/listen-2.10.0/lib/listen/listener.rb:238:in `_wait_for_changes'
/Users/user/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/listen-2.10.0/lib/listen/listener.rb:327:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$grey\".\A         on line 3 of /Users/user/Dropbox/projects/debatestournament/apps/main/Static/main/sass/modules/teamlist.scss\A \A 1: .b-teamlist {\A 2: 	padding: 30px 0 30px 0;\A 3: 	border-bottom: 1px $grey solid;\A 4: \A 5: 	&:hover {\A 6: 		background-color: $hover;\A 7: 	}\A 8: "; }
