{% load profile_extras %}

{% if team_tournament_rels|length > 1 %}

<div class="content-tablepage">
<table class="b-table">
    <tbody>
    <tr class="b-table__headrow">
        <th>Судья</th>
        <th>Статус</th>
    </tr>
    {% for adjudicator in adjudicators %}
        <tr class="b-table__row">
            <td>
                <a href="{% url 'profile:main' adjudicator.user.id%}">
                    {{ adjudicator.user|name }}
                </a>
            </td>
            <td>
                {{ adjudicator.role.role }}
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</div>

{% else %}
<div class="content-textpage">
    <div class="paragraph">
        <h3>Пока никто не зарегистрировался</h3>
        <p>Вы можете стать первым cудьей</p>
    </div>
</div>
{% endif %}



