{% extends "main/base.html" %}

{% load staticfiles %}
{% load profile_extras %}

{% block page_title %}
    Администраторы турнира
{% endblock page_title %}


{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "main/js/ajaxCSRF.js" %}"></script>
    <script type="text/javascript" src="{% static "tournament/js/edit_admins.js" %}"></script>
{% endblock extra_head %}


{% block content %}
<div class="content-formpage">

    <div class="owner form-elem">
        <h3 class="owner_name">Владелец турнира: {{ owner|name }}</h3>
    </div>

    <div class="admin form-elem" id="temp">
        <div class="errors"></div>
        <input id="rel_id" type="hidden">
        <p class="admin_name paragraph__heading"></p>
        <a class="button button--sec button--min" onclick="remove_admin(this, '{% url 'tournament:admin_remove' tournament.id %}')">Удалить</a>
        <a class="button button--sec button--min"
                onclick="improve_to_owner(
                        this,
                        '{% url 'tournament:owner_change' tournament.id %}',
                        '{% url 'tournament:show' tournament.id %}')"
        >
            Передать турнир
        </a>
    </div>

    <script>
    function init() {
        {% for admin in admins %}
        generate_admin_block('{{ admin.user|name }}', '{{ admin.id }}');
        {% endfor %}
    }
    </script>


    <div class="form-elem form-elem--mid" id="new_admin">
        <div class="errors notification-red"></div>
        <input class="" id="add_admin_input" type="email" placeholder="e-mail администратора">
        <a class="button button--min button--prime" onclick="save_admin('{% url 'tournament:admin_add' tournament.id %}')">Добавить администратора</a>
    </div>

</div>
{% endblock content %}
