{% extends "tournament/owner_base.html" %}

{% block page_title %}
    Выход из отборочных
{% endblock page_title %}


{% block content %}
    <div class="b-brake">
        {% if error %}
            <div class="errors">
                {{ error }}
            </div>
        {% endif %}

        <form class="b-brake-table" action="{% url "tournament:break" tournament.id %}" method="post">
            {% csrf_token %}
            <table class="b-table">
                <tr class="b-table__row">
                    <td class="b-table__headstring_narrow">Отобрать</td>
                    {% for td in header  %}
                        <td class="b-table__headstring_narrow">{{ td }}</td>
                    {% endfor %}
                </tr>

                {% for team in teams %}
                    <tr class="b-table__row">
                        <td class="b-table__string_narrow">
                            {{ team.checkbox.is_check }}
                            {{ team.checkbox.id }}
                        </td>
                        {% for td in team.result %}
                            <td class="b-table__string_narrow">{{ td }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            <div class="b-brake__commands">
                <a class="button" href="{% url "tournament:edit" tournament.id %}">Изменить количество команд в плей-офф</a>
                <button type="submit" class="button">Далее</button>
            </div>
        </form>
    </div>
{% endblock content %}
