{% extends "tournament/owner_base.html" %}

{% block content %}

{% block page_title %}
    <div class="title">
        <div class="title-container">
            <h3 class="title__name">Выход из отборочных</h3>
        </div>
    </div>
{% endblock page_title %}

<div class="content-tablepage">
    {% if error %}
        <div class="errors">
            {{ error }}
        </div>
    {% endif %}

    <form action="{% url "tournament:break" tournament.id %}" method="post">
        {% csrf_token %}
        <table class="b-table">
            <tr class="b-table__row">
                <td>Отобрать</td>
                {% for td in header  %}
                    <td>{{ td }}</td>
                {% endfor %}
            </tr>

            {% for team in teams %}
                <tr class="b-table__row">
                    <td>
                        {{ team.checkbox.is_check }}
                        {{ team.checkbox.id }}
                    </td>
                    {% for td in team.result %}
                        <td>{{ td }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <div class="content-textpage content-textpage--bottom">
            <a class="button button--min button--prime" href="{% url "tournament:edit" tournament.id %}">Изменить количество команд play-off</a>
            <button type="submit" class="button button--min button--prime">Далее</button>
        </div>
    </form>
</div>
{% endblock content %}
