{% extends "tournament/owner_base.html" %}

{% block content %}

{% block page_title %}
    <div class="title">
        <div class="title-container">
            <h3 class="title__name">Выход из отборочных</h3>
        </div>
    </div>
{% endblock page_title %}

    {% if error %}
        <div class="errors">
            <div class="banner">
                <div class="notification-red">
                    {{ error }}
                    <i class="material-icons banner__close">close</i>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="section">
        <a class="button button--max button--prime" href="{% url "tournament:edit" tournament.id %}">Изменить количество команд в play-off</a>
        <button type="submit" class="button button--max button--prime">Далее</button>
    </div>

    <form action="{% url "tournament:break" tournament.id %}" method="post">
        {% csrf_token %}
        <div class="content-tablepage">
        <table class="table">
            <tr class="table__row">
                <td>Отобрать</td>
                {% for td in header  %}
                    <td>{{ td }}</td>
                {% endfor %}
            </tr>

            {% for team in teams %}
                <tr class="table__row">
                    <td>
                        {{ team.checkbox.is_check }}
                        {{ team.checkbox.id }}
                    </td>
                    {% for td in team.result %}
                        <td>{{ td }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        </div>
    </form>

{% endblock content %}
