{% extends "tournament/owner_base.html" %}


{% block page_title %}
    Завершение турнира
{% endblock page_title %}


{% block content %}
    <form class="b-message" action="{{ path }}" method="post">
        {% csrf_token %}
        {% include template_body %}
        {% if is_error %}
            <p>Вы ввели неправильное слово. Повторите попытку
        {% else %}
        
            <p>Если вы уверены,
        {% endif %}
        введите слово "{{ need_message }}" </p>
        {{ form.message }}
        <div class="b-message__confirm">
            <button type="submit" class="button"> Подтвердить </button>
            <a class="button" href="{% url 'tournament:play' tournament.id%}"> Отмена </a>
        </div>
    </form>

{% endblock content %}
