{% extends "tournament/owner_base.html" %}


{% block page_title %}
    Завершение турнира
{% endblock page_title %}


{% block content %}
    <form class="content-formpage" action="{{ path }}" method="post">
        {% csrf_token %}
        {% include template_body %}
        {% if is_error %}
            <p>Вы ввели неправильное слово. Повторите попытку
        {% else %}
            <p>Если вы уверены,
        {% endif %}
        введите слово "{{ need_message }}" </p>

        <div class="form-elem">
            {{ form.message }}
        </div>
        <div class="form-elem">
            <button type="submit" class="button button--min button--prime"> Подтвердить </button>
            <a class="button button--min button--prime" href="{% url 'tournament:play' tournament.id%}"> Отмена </a>
        </div>
    </form>

{% endblock content %}
