<div class="content-formpage">
<input id="form_id" type="hidden" value="{{ form.id }}">
<input id="url" type="hidden" value="{% url 'tournament:custom_form_edit_field' tournament.id %}">
<div id="temp">
    <div class="message"></div>
    <div class="show_block">
        <div class="question-name">
            <span class="question"> Вопрос </span>
            <span class="star">*</span>
            <button class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        </div>
        <div class="comment"> Пояснение </div>
        <input class="required" type="hidden">
        <input class="can_remove" type="hidden">
    </div>

    <div class="edit_block">
        <label>
            <p>Название вопроса</p>
            <input type="text" class="question">
        </label>
        <label>
            <p>Комментарий к вопросу</p>
            <textarea class="comment"></textarea>
        </label>
        <label>
            <span>Обязательное поле</span>
            <input class="required" type="checkbox">
        </label>

        <button class="save button button--prime button--max" onclick="save_click(this, '{{ actions.edit_question }}')">Сохранить</button>
        <button class="cancel button button--prime button--max" onclick="cancel_click(this)">Отменить</button>
    </div>

    <div class="actions_buttons question-actions">
        <button class="up"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
        <button class="down"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
        <button class="remove"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
</div>

<script>
    $(document).ready(function(){
        var custom_questions_block = new CustomQuestionsEditor(
            $('{{ parent_id }}'),
            '{{ form.id }}',
            '{% url 'tournament:custom_form_edit_field' tournament.id %}',
            '{{ actions.up_question }}',
            '{{ actions.down_question }}',
            '{{ actions.edit_question }}',
            '{{ actions.remove_question }}'
        );
        {% for question in questions %}
            custom_questions_block.generate_question_block(
                '{{ question.id }}',
                '{{ question.question }}',
                '{{ question.comment }}',
                '{% if question.required %}1{% else %}0{% endif %}',
                '{% if question.alias not in required_aliases %}1{% else %}0{% endif %}'
            );
        {% endfor %}
        custom_questions_block.init();
    });

</script>
<div id="new_question">
    <button class="add button button--prime button--max" onclick="add_question(this)">
        <i class="fa fa-plus-circle"></i>
        Добавить вопрос
    </button>
</div>
</div>
