{% extends "main/base.html" %}


{% load staticfiles %}


{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "main/js/ajaxCSRF.js" %}"></script>
    <script type="text/javascript" src="{% static "tournament/js/edit_registration_form.js" %}"></script>
{% endblock extra_head %}


{% block page_title %}
    {{ title }}
{% endblock page_title %}


{% block content %}

    <div id="questions">
    {% with parent_id='#questions' %}
        {% include "tournament/custom_form_questions.html" %}
    {% endwith %}
    </div>

{% endblock content %}
