{% extends "main/base.html" %}

{% block page_title %}
    Анкеты регистрации на турнир
{% endblock page_title %}

{% block content %}

<div class="content-textpage">
    <div class="paragraph">
        <h3>Формы регистрации на турнир</h3>
        <a href="{% url "tournament:custom_form_edit" tournament.id 'team' %}" class="button">Регистрация команд</a>
        <a href="{% url "tournament:custom_form_edit" tournament.id 'adjudicator' %}" class="button">Регистрация судей</a>
    </div>
    <div class="paragraph">
        <h3>Зарестрированные команды и судьи</h3>
        <a href="{% url "tournament:custom_form_answers" tournament.id 'team' %}" class="button">Ответы команд</a>
        <a href="{% url "tournament:custom_form_answers" tournament.id 'adjudicator' %}" class="button">Ответы судей</a>
    </div>
</div>

{% endblock content %}
