{% extends "main/base.html" %}

{% block page_title %}
    Анкеты регистрации на турнир
{% endblock page_title %}

{% block content %}

<div class="custom-form">
    <div class="custom-form-links">
        <h3>Формы регистрации на турнир</h3>
        <a href="#" class="button">Регистрация команд</a>
        <a href="#" class="button">Регистрация судей</a>
    </div>
    <div class="custom-form-tables">
        <h3>Зарестрированные команды и судьи</h3>
        <a href="#" class="button">Анкеты команд</a>
        <a href="#" class="button">Анкеты судей</a>
    </div>
</div>

{% endblock content %}
