{% extends "tournament/owner_base.html" %}

{% load staticfiles %}
{% load profile_extras %}

{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "tournament/js/swap_block.js" %}"></script>
{% endblock extra_head %}


{% block page_title %}
    Редактировать раунд
{% endblock page_title %}


{% block content %}
    <form class="content-formpage" {% url "tournament:edit_round" tournament.id %} " method="post">

        {% if warning %}
            <div class="notification-red">
                Для некоторых румов уже внесены результаты.
                При их редактировании результаты рума будут удалены.
            </div>
        {% endif %}
        <div class="info notification-green">
            Для перемещения команд между румами нажмите сначала на команду,
            которую хотите переместить, а затем на позицию, куда хотите переместить.
        </div>


        {% csrf_token %}

        {% for form in forms %}
            {{ form.non_field_errors }}
            {{ form.errors }}
        <div class="b-result-edit">

            <div class="b-result-edit__heading">

                <div class="chair">
                    {{ form.chair.errors }}
                    {{ form.chair }}
                    <h3 class="b-result-edit__label">Судья</h3>
                    <select class="chair_select b-result-edit__select">
                        {% for adjudicator in adjudicators %}
                            <option value="{{ adjudicator.user.id }}" {% if adjudicator.user.id ==  form.chair.value%} selected {% endif %} >
                                {{ adjudicator.user|name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="place">
                    {{ form.place_id.errors }}
                    {{ form.place_id }}
                    <h3 class="b-result-edit__label">Аудитория</h3>
                    <select class="place_select b-result-edit__select">
                        {% for place in places %}
                            <option value="{{ place.id }}" {% if place.id ==  form.place_id.value %} selected {% endif %} >
                                {{ place.place }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

            </div>

            <div class="b-result-edit__room">
                <div class="b-result-edit__team team">
                    {{ form.og }}
                    <p>1П: <span class="team_name">{{ form.game.og.name }}</span></p>
                </div>
                <div class="b-result-edit__team team">
                    {{ form.oo }}
                    <p>1O: <span class="team_name">{{ form.game.oo.name }}</span></p>
                </div>
                <div class="b-result-edit__team team">
                    {{ form.cg }}
                   <p>2П: <span class="team_name">{{ form.game.cg.name }}</span></p>
                </div>
                <div class="b-result-edit__team team">
                    {{ form.co }}
                    <p>2O: <span class="team_name">{{ form.game.co.name }}</span></p>
                </div>
            </div>

        </div>
        {% endfor %}

        <div class="form-elem">
            <button type="submit" class="button button--max button--prime">Далее</button>
        </div>

    </form>
{% endblock content %}
