{% extends "tournament/owner_base.html" %}
{% load staticfiles %}

{% block extra_head %}
    {{ block.super }}
    {% include 'lib/yandex-map.html' %}
    <script type="text/javascript" src="{% static "tournament/js/map.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/ajaxCSRF.js" %}"></script>
    <script type="text/javascript" src="{% static "tournament/js/edit_registration_form.js" %}"></script>
{% endblock extra_head %}


{% block page_title %}
    {{ tournament.name }}
{% endblock page_title %}

{% block content %}

    <form class="content-formpage" action="{% url "tournament:edit" tournament.id %}" method="post">
        {% include "tournament/edit_form.html" %}
        <div class="form-elem">
            <button type="submit" class="button button--min button--prime">Сохранить</button>
        </div>
    </form>

{% endblock content %}
