{% extends "tournament/owner_base.html" %}

{% load staticfiles %}
{% load profile_extras %}

{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "main/js/cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/ajaxCSRF.js" %}"></script>
    <script type="text/javascript" src="{% static "tournament/js/edit_roles.js" %}"></script>
{% endblock extra_head %}

{% block content %}

    {% block page_title %}
        <div class="title">
            <div class="title-container">
                <h3 class="title__name">Изменить список участников</h3>
            </div>
        </div>
    {% endblock page_title %}

    <div class="content-textpage">

        {% with statuses=statuses %}
            {% include 'tournament/count_by_role.html' %}
        {% endwith %}
    </div>

    {% if is_check_page %}
        <div id="check_warning" class="notification-red">
            Число команд со статусом "{{ member_role.role }}" должно быть кратно 4
        </div>
        <input id="member_id" value="{{ member_role.id }}" type="hidden">
        <button id="check_button" class="button button--max button--prime" disabled onclick="redirect('{% url 'tournament:check_adjudicator_list' tournament.id %}')">
            Далее
        </button>
    {% endif %}

    {% if team_tournament_rels|length > 1 %}

    <div class="content-tablepage">
    <table class="b-table">
        <tbody>
        <tr class="b-table__headrow">
            <th>Название команды</th>
            <th>Первый спикер</th>
            <th>Второй спикер</th>
            <th>Статус команды</th>
        </tr>

        {% for rel in team_tournament_rels %}
            <div id="message_{{ rel.id }}"></div>
            <div id="team_{{ rel.id }}">
                <tr class="b-table__row">
                    <td>{{ rel.team.name }}</td>
                    <td>
                        <a href="{% url 'profile:main' rel.team.speaker_1.id%}">{{ rel.team.speaker_1|name }}</a>
                    </td>
                    <td>
                        <a href="{% url 'profile:main' rel.team.speaker_2.id%}">{{ rel.team.speaker_2|name }}</a>
                    </td>
                    <td>
                        <select
                            onchange="update_status(
                                    '{% url 'tournament:update_team_role' tournament.id%}',
                                    this,
                                    '{{ rel.id }}',
                                    'message_{{ rel.id }}'
                                    )"
                            onfocus="on_focus(this)"
                            >
                            {% for status in statuses %}
                                <option {% if status.id == rel.role.id %} selected {% endif %} value="{{ status.id }}">
                                    {{ status.role }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </div>
        {% endfor %}

        </tbody>
    </table>
    </div>

    {% else %}
    <div class="content-textpage">
        <div class="paragraph">
            <h3>Пока никто не зарегистрировался</h3>
            <p>Увы, никто не зарегистрировался на турнир. Попробуйте пригласить участников в социальных сетях</p>
        </div>
    </div>
    {% endif %}

{% endblock content %}
