{% extends "tournament/owner_base.html" %}

{% load staticfiles %}
{% load profile_extras %}

{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "main/js/cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/ajaxCSRF.js" %}"></script>
    <script type="text/javascript" src="{% static "tournament/js/edit_roles.js" %}"></script>
{% endblock extra_head %}


{% block page_title %}
    Список команд
{% endblock page_title %}


{% block content %}
<div class="add-teams content-textpage">
    <li class="count-by-role__buttons">
        <a class="button count-by-role__button" href="{% url 'tournament:custom_form_edit' tournament.id 'team' %}">
            <i class="fa fa-pencil"></i>Анкета регистрации
        </a>
        <a class="button count-by-role__button" href="{% url 'tournament:custom_form_answers' tournament.id 'team' %}">
            <i class="fa fa-print"></i>Ответы команд
        </a>
        <a class="button count-by-role__button" href="{% url 'tournament:add_team' tournament.id %}">
            <i class="fa fa-plus-circle"></i>Добавить команду
        </a>
        <a class="button count-by-role__button" href="{% url 'tournament:import_team' tournament.id %}">
            <i class="fa fa-users"></i>Импорт из Google-таблицы
        </a>
        <a class="button count-by-role__button" href="{% url 'tournament:print' tournament.id %}">
            <i class="fa fa-print"></i>Распечатать список команд
        </a>
    </li>

    {% include 'tournament/count_by_role.html' with statuses=statuses %}

    {% for rel in team_tournament_rels %}
        <div id="message_{{ rel.id }}"></div>
        <div class="block">
            <div id="team_{{ rel.id }}" class="b-teamlist">
                <div class="b-teamlist__wrapper">
                    <div class="b-teamlist__heading">
                        <h3>{{ rel.team.name }}</h3>
                    </div>

                    <div class="b-teamlist__select">
                        <select class="roles"
                                onchange="update_status(
                                        '{% url 'tournament:update_team_role' tournament.id%}',
                                        this,
                                        '{{ rel.id }}',
                                        'message_{{ rel.id }}'
                                        )"
                                onfocus="on_focus(this)"
                                >
                            {% for status in statuses %}
                                <option {% if status.id == rel.role.id %} selected {% endif %} value="{{ status.id }}">
                                    {{ status.role }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="b-teamlist__profile">
                        <a href="{% url 'profile:main' rel.team.speaker_1.id%}">{{ rel.team.speaker_1|name }}</a>
                        <span>  и  </span>
                        <a href="{% url 'profile:main' rel.team.speaker_2.id%}">{{ rel.team.speaker_2|name }}</a>
                    </div>

                </div>
            </div>
        </div>
    {% empty %}
        <h3 class="add-teams__no">Пока не команд</h3>
        <p>Увы, никто не зарегистрировался на турнир. Попробуйте пригласить участников в социальных сетях</p>
    {% endfor %}

    {% if is_check_page %}
        <div id="check_warning" class="disclaimer-red">
            <p>Число команд со статусом "{{ member_role.role }}" должно быть кратно 4</p>
        </div>
        <input id="member_id" value="{{ member_role.id }}" type="hidden">
        <button id="check_button" class="button count-by-role__confirm" disabled onclick="redirect('{% url 'tournament:check_adjudicator_list' tournament.id %}')">
            Далее
        </button>
    {% endif %}
</div>
{% endblock content %}
