{% extends "tournament/owner_base.html" %}

{% load staticfiles %}
{% load profile_extras %}

{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "main/js/cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/ajaxCSRF.js" %}"></script>
    <script type="text/javascript" src="{% static "tournament/js/edit_roles.js" %}"></script>
    <script type="text/javascript" src="{% static "tournament/js/add_adjudicators.js" %}"></script>
{% endblock extra_head %}


{% block page_title %}
    Добавить судью
{% endblock page_title %}


{% block content %}

    {% include 'tournament/count_by_role.html' with statuses=statuses %}

    <div id="new_adjudicator" class="b-adjudicators">
        <div class="errors"></div>
        <input class="b-adjudicators__email" id="add_adjudicator_input" type="email" placeholder="e-mail судьи">
        <a class="button" onclick="save_adjudicator('{% url 'tournament:add_adjudicator' tournament.id %}')">Добавить судью</a>
    </div>

    <div class="b-adjudicators__list">
    {% for rel in user_tournament_rels %}
        <div id="message_{{ rel.id }}"></div>
        <div class="block">
            <div id="user_{{ rel.id }}" class="b-teamlist">
                <div class="b-teamlist__wrapper">
                    <div class="b-teamlist__heading">
                        <h3><a href="{% url 'profile:main' rel.user.id%}">{{ rel.user|name }}</a></h3>
                        <select class="roles"
                                onchange="update_status(
                                        '{% url 'tournament:update_adjudicator_role' tournament.id%}',
                                        this,
                                        {{ rel.id }},
                                        'message_{{ rel.id }}'
                                        )"
                                onfocus="on_focus(this)"
                                >
                            {% for status in statuses %}
                                <option {% if status.id == rel.role.id %} selected {% endif %} value="{{ status.id }}">
                                    {{ status.role }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <h3>Нет зарегистрированных судей</h3>
    {% endfor %}
    </div>

    {% if is_check_page %}
        <div id="check_warning">
            <p>Количество участников со статусом "{{ chair_role.role }}"  должно быть не меньше {{ chair_need }}</p>
        </div>
        <input id="chair_id" value="{{ chair_role.id }}" type="hidden">
        <input id="chair_need" value="{{ chair_need }}" type="hidden">
        <button id="check_button" class="button count-by-role__confirm" disabled onclick="redirect('{% url 'tournament:place_check' tournament.id %}')">
            Начать турнир
        </button>
    {% endif %}

{% endblock content %}
