{% extends "tournament/owner_base.html" %}

{% load staticfiles %}
{% load profile_extras %}

{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "main/js/cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/ajaxCSRF.js" %}"></script>
    <script type="text/javascript" src="{% static "tournament/js/main.js" %}"></script>
{% endblock extra_head %}


{% block page_title %}
    Список команд
{% endblock page_title %}


{% block content %}

    <div id="message"></div>
    {% for rel in team_tournament_rels %}
        <div id="message_{{ rel.id }}"></div>
        <div id="team_{{ rel.id }}">
            <div class="b-teamlist">
                <div class="b-teamlist__wrapper">
                    <div class="b-teamlist__heading">
                        <h3>{{ rel.team.name }}</h3>
                        <div class="formItem last">
                            <select
                                    >
                                {% for status in statuses %}
                                    <option {% if status.id == rel.role.id %} selected {% endif %} value="{{ status.id }}">
                                        {{ status.role }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        {% if can_remove_teams %}
                            <button
                                    class="b-profile__button"
                                    type="button"
                                    onclick="remove_team(
                                            '{% url 'tournament:remove_team' tournament.id %}',
                                            {{ rel.team.id }},
                                            'team_{{ rel.team.id }}',
                                            'errors_{{ rel.team.id }}'
                                            )"
                                    value="Удалить"
                                    >
                                Удалить
                            </button>
                        {% endif %}

                    </div>

                    <div class="b-teamlist__profile">
                        <a href="{% url 'profile:main' rel.team.speaker_1.id%}">{{ rel.team.speaker_1|name }}</a>
                        <span>  и  </span>
                        <a href="{% url 'profile:main' rel.team.speaker_2.id%}">{{ rel.team.speaker_2|name }}</a>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}
