{% extends "tournament/owner_base.html" %}

{% load staticfiles %}
{% load profile_extras %}

{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "tournament/js/swap_block.js" %}"></script>
{% endblock extra_head %}


{% block page_title %}
    Редактирование румов
{% endblock page_title %}


{% block content %}
    <form class="b-result" action="{% url "tournament:edit_round" tournament.id %} " method="post">

        {% csrf_token %}

        {% for form in forms %}
            {{ form.non_field_errors }}
            {{ form.errors }}
        <div class="b-result-room">

            <div class="b-result-room__adjudicator chair">
                {{ form.chair.errors }}
                {{ form.chair }}
                <h3 class="b-result-room__adjudicator_heading">Судья: <span class="chair_name">{{ form.game.chair|name }}</span></h3>
            </div>
            <div class="place">
                {{ form.place_id.errors }}
                {{ form.place_id }}
                <h3 class="">Аудитория: <span class="place_name">{{ form.place_name }}</span></h3>
            </div>

            <div class="b-result-room__games">
                <div class="b-result-room__og team">
                    {{ form.og }}
                    <p>1П: <span class="team_name">{{ form.game.og.name }}</span></p>
                </div>
                <div class="b-result-room__oo team">
                    {{ form.oo }}
                    <p>1O: <span class="team_name">{{ form.game.oo.name }}</span></p>
                </div>
                <div class="b-result-room__cg team">
                    {{ form.cg }}
                   <p>2П: <span class="team_name">{{ form.game.cg.name }}</span></p>
                </div>
                <div class="b-result-room__co team">
                    {{ form.co }}
                    <p>2O: <span class="team_name">{{ form.game.co.name }}</span></p>
                </div>
            </div>

        </div>
        {% endfor %}
        <div class="b-result-submit">
            <button type="submit" class="button">Далее</button>
        </div>
    </form>
{% endblock content %}
