{% csrf_token %}
{{ form.non_field_errors }}

<div class="formItem" id="tournamentName">
    {{ form.name }}
    {{ form.name.errors }}
</div>

<h3>Место проведения</h3>

<div class="formItem" id="address">
    {{ form.location }}
    {{ form.location.errors }}
    {{ form.location_lon }} {# Hidden #}
    {{ form.location_lat }} {# Hidden #}
</div>

<h3>Открытие регистрации</h3>

<div class="formItem" id="regdateOpen">
    {{ form.open_reg_date }}
    {{ form.open_reg_date.errors }}
</div>

<div class="formItem" id="regtimeOpen">
    {{ form.open_reg_time }}
    {{ form.open_reg_time.errors }}
</div>


<h3>Закрытие регистрации</h3>

<div class="formItem" id="regdateClose">
    {{ form.close_reg_date }}
    {{ form.close_reg_date.errors }}
</div>

<div class="formItem" id="regtimeClose">
    {{ form.close_reg_time }}
    {{ form.close_reg_time.errors }}
</div>

<h3>Начало турнира</h3>

<div class="formItem" id="tournamentDate">
    {{ form.start_tour_date }}
    {{ form.start_tour_date.errors }}
</div>
<div class="formItem" id="tournamentTime">
    {{ form.start_tour_time }}
    {{ form.start_tour_time.errors }}
</div>

<h3>Параметры турнира</h3>

<div class="formItem">
    {{ form.count_rounds }}
    {{ form.count_rounds.errors }}
</div>
<div class="formItem">
    {{ form.count_teams }}
    {{ form.count_teams.errors }}
</div>
<div class="formItem" id="count_teams_in_break">
    {{ form.count_teams_in_break }}
    {{ form.count_teams_in_break.errors }}
</div>

<div class="formItem" id="aboutTournament">
    {{ form.info }}
</div>

<div class="formItem" id="link">
    {{ form.link }}
    {{ form.link.errors }}
</div>
