{% extends "main/base.html" %}
{% load staticfiles %}

{% block page_title %}
    {{ tournament.name }}
{% endblock page_title %}

{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "tournament/js/imports.js" %}"></script>
{% endblock extra_head %}

{% block content %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form class="content-formpage" action="{% url "tournament:import_team" tournament.id %}" method="post">
        {% csrf_token %}
        <div class="form-elem">
            <p class="form-elem__label">Импорт команд из Google Drive</p>
            <p class="form-elem__description">
                Чтобы Tabmaker смог импортировать данные, вы должны в таблице на Google Drive
                дать доступ с правами на редактирование для пользователя: <span class="link">import@debate-tabmaker.iam.gserviceaccount.com</span>
                Процесс получения данных может занять некоторое время (1-2 минуты). Дождтесь окончания загрузки данных.
            </p>
            <p class="form-elem__description">
                <a class="link" href="https://support.google.com/drive/answer/2494822?hl=ru" >
                Как дать доступ к таблице Google Drive?
                </a>
            </p>
        </div>

        <div class="form-elem">
            <label class="form-elem__label">{{ form.url.label }}</label>
            {{ form.url.errors }}
            {{ form.url }}
        </div>
        <div class="form-elem">
            <label class="form-elem__label">{{ form.team_name.label }}</label>
            {{ form.team_name.errors }}
            {{ form.team_name }}
        </div>
        <div class="form-elem">
            <label class="form-elem__label">{{ form.speaker_1_name.label }}</label>
            {{ form.speaker_1_name.errors }}
            {{ form.speaker_1_name }}
        </div>
        <div class="form-elem">
            <label class="form-elem__label">{{ form.speaker_1_email.label }}</label>
            {{ form.speaker_1_email.errors }}
            {{ form.speaker_1_email }}
        </div>
        <div class="form-elem">
            <label class="form-elem__label">{{ form.speaker_2_name.label }}</label>
            {{ form.speaker_2_name.errors }}
            {{ form.speaker_2_name }}
        </div>
        <div class="form-elem">
            <label class="form-elem__label">{{ form.speaker_2_email.label }}</label>
            {{ form.speaker_2_email.errors }}
            {{ form.speaker_2_email }}
        </div>
        <div class="form-elem">
            <input type="hidden" value="0" name="is_test" id="check_flag">
            <button type="submit" class="button button--mid" id="check_button">Проверить данные</button>
            <button type="submit" class="button button--mid" id="import_button">Импортировать</button>
        </div>
    </form>

{% endblock content %}
