{% extends "main/base.html" %}
{% load staticfiles %}

{% block page_title %}
    Новый турнир
{% endblock page_title %}

{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "tournament/js/tabs_init.js" %}"></script>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% endblock extra_head %}

{% block content %}

    <form action="{% url 'tournament:new' %}" method="post">
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Информация</a></li>
                <li><a href="#tabs-2">Карта</a></li>
            </ul>
            <div id="tabs-1">
                {% include "tournament/edit_form.html" %}
            </div>
            <div id="tabs-2">
                {% include "tournament/map.html" %}
            </div>
        </div>
        <button type="submit" class="button formItem">Подтвердить</button>
    </form>

{% endblock content %}
