{% extends "main/base.html" %}
{% load staticfiles %}

{% block page_title %}
    Новый турнир
{% endblock page_title %}

{% block extra_head %}
    {{ block.super }}
    {% include 'lib/yandex-map.html' %}
    <script type="text/javascript" src="{% static "tournament/js/map.js" %}"></script>
{% endblock extra_head %}

{% block content %}

    <form class="content-formpage" action="{% url 'tournament:new' %}" method="post">
        {% include "tournament/edit_form.html" %}
        <div class="form-elem">
            <button type="submit" class="button button--max">Подтвердить</button>
        </div>
    </form>

{% endblock content %}
