{% extends "main/base.html" %}
{% load staticfiles %}

{% block page_title %}
    Турнир создан
{% endblock page_title %}

{% block content %}

   <div class="content-textpage">
       <h3>Турнир создан!</h3>
       <p>Осталось создать форму регистрации для команд и судей, а затем всех пригласить</p>
       <div class="b-tournament-confirm__buttons">
           <a href="#" class="button">Форма для команд</a>
           <a href="#" class="button">Форма для судей</a>
           <a href="#" class="button">Форма для фидбека</a>
       </div>

   </div>

{% endblock content %}
