{% extends "tournament/owner_base.html" %}

{% block page_title %}
    Тема на новый раунд
{% endblock page_title %}


{% block content %}
    <form class="content-formpage" action="{% url "tournament:next_round" tournament.id %}" method="post">
        {% csrf_token %}
        {{ motion_form.non_field_errors }}
        {{ round_form.non_field_errors }}
        <div class="b-next-block">
            {{ motion_form.motion.errors }}
            <h3>{{ motion_form.motion.label_tag }}</h3>
            {{ motion_form.motion }}
        </div>
        <div class="b-next-block">
            {{ motion_form.infoslide.errors }}
            <h3>{{ motion_form.infoslide.label_tag }}</h3>
            {{ motion_form.infoslide }}
        </div>

        <div class="b-next-block">
            {{ round_form.start_round_time.errors }}
            {{ round_form.start_round_time.label_tag }}
            {{ round_form.start_round_time }}
            {{ round_form.is_closed.errors }}
        <div class="b-next-block__closed">
            {{ round_form.is_closed }}
            {{ round_form.is_closed.label_tag }}
        </div>
        </div>
        <div class="b-next-block__button">
            <button type="submit" class="button button--min button--prime">Далее</button>
        </div>
    </form>
{% endblock content %}
