{% extends "tournament/owner_base.html" %}

{% load staticfiles %}
{% load profile_extras %}

{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "main/js/cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/ajaxCSRF.js" %}"></script>
    <script type="text/javascript" src="{% static "tournament/js/edit_place.js" %}"></script>
{% endblock extra_head %}


{% block content %}

{% block page_title %}
    <div class="title">
        <div class="title-container">
            <h3 class="title__name">Аудитории турнира</h3>
        </div>
    </div>
{% endblock page_title %}

{% if is_check_page %}
    <div class="section">
        <button id="check_button" class="button button--prime button--max" disabled onclick="redirect('{% url 'tournament:show' tournament.id %}')">
            Начать турнир
        </button>
    </div>
{% endif %}

<div class="section" id="new_place">
    <div class="errors notification-red"></div>
        <input class="form-elem form-elem--nomargin form-elem--mid form-elem__input" id="add_place_input" placeholder="Название аудитории" required>
    <a class="button button--mid button--prime" onclick="save_place('{% url 'tournament:place_add' tournament.id %}')">Добавить аудиторию</a>
    {% if is_check_page %}
        <div id="check_warning" class="notification-red notification--top">
            Количество доступных аудиторий должно быть не меньше {{ places_need }}
        </div>
        <input id="places_need" value="{{ places_need }}" type="hidden">
    {% endif %}
</div>

<div class="place list list--min" id="temp">
    <div class="errors"></div>
    <input id="place_id" type="hidden">
    <input class="place_checkbox" type="checkbox">
    <span class="place_name"></span>
    <a class='button button--min button--prime' onclick="remove_place(this, '{% url 'tournament:place_remove' tournament.id %}')">Удалить</a>
</div>

<input id="place_update_url" type="hidden" value="{% url 'tournament:place_update' tournament.id %}">

<script>
function init() {
    {% for place in places %}
    generate_place_block(
            '{{ place.place }}',
            '{{ place.id }}',
            parseBool('{{ place.is_active }}')
    );
    {% endfor %}
}
</script>

{% endblock content %}
