{% extends "tournament/owner_base.html" %}

{% load staticfiles %}

{% block page_title %}
    {{ tournament.name }}
{% endblock page_title %}


{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "tournament/js/confirmation.js" %}"></script>
{% endblock extra_head %}


{% block content %}
<div class="content-datapage__padding">

    <div class="paragraph">
        <h3>Управление раундами</h3>

        <div class="button-group">
            <label class="button-group-label">
                <input class="show_checkbox" type="checkbox" name="button-group" value="item" checked>
                <span class="button-group-item">
                    <a href="{% url 'tournament:next_round' tournament.id%}">Создать следующий раунд </a>
                </span>
            </label>
            <label class="button-group-label">
                <input class="show_checkbox" type="checkbox" name="button-group" value="item" checked>
                <span class="button-group-item">
                    <a href="{% url 'tournament:publish_round' tournament.id%}"> Опубликовать тему и румы </a>
                </span>
            </label>
            <label class="button-group-label">
                <input class="show_checkbox" type="checkbox" name="button-group" value="item" checked>
                <span class="button-group-item">
                    <a href="{% url 'tournament:presentation_round' tournament.id %}"> Презентация раунда </a>
                </span>
            </label>
            {% if tournament.cur_round > 0 %}
            <label class="button-group-label">
                <input class="show_checkbox" type="checkbox" name="button-group" value="item" checked>
                <span class="button-group-item">
                    <a href="{% url 'tournament:result_round' tournament.id%}"> Ввести/исправить результат </a>
                </span>
            </label>
            <label class="button-group-label">
                <input class="show_checkbox" type="checkbox" name="button-group" value="item" checked>
                <span class="button-group-item">
                    <a onclick="confirm_remove_round('{% url 'tournament:remove_round' tournament.id %}')">
                        Удалить последний раунд
                    </a>
                </span>
            </label>
            {% endif %}
        </div>
    </div>

    <div class="paragraph">
        <h3>Статистика</h3>

        <div class="button-group">
            <label class="button-group-label">
                <input class="show_checkbox" type="checkbox" name="button-group" value="item" checked>
                <span class="button-group-item">
                    <a href="{% url 'tournament:result' tournament.id%}"> Показать результаты </a>
                </span>
            </label>
            <label class="button-group-label">
                <input class="show_checkbox" type="checkbox" name="button-group" value="item" checked>
                <span class="button-group-item">
                    <a href="{% url 'tournament:result_all' tournament.id%}"> Подробные результаты </a>
                </span>
            </label>
        </div>

        <p>Количество команд: {{ tournament.count_members }} ({{ tournament.count_registered_teams }} зарегистрировано)</p>
        <p class="">Количество сыграных раундов: {{ tournament.cur_round }}</p>
        <p>Команд делающих брейк: {{ tournament.count_teams_in_break }}</p>
        <p>Статус: {{ tournament.status.name }}</p>

    </div>
</div>
{% endblock content %}
