{% extends "main/base.html" %}

{% load staticfiles %}

{% block page_title %}
    {{ tournament.name }}
{% endblock page_title %}


{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "tournament/js/confirmation.js" %}"></script>
{% endblock extra_head %}


{% block content %}
<div class="page col s9">
    <div class="col s9">
        <p>Количество команд: {{ tournament.count_teams }}</p>
        <p>Команд делающих брейк: {{ tournament.count_teams_in_break }}</p>
        <p>Количество сыграных раундов: {{ tournament.cur_round }}</p>
        <p>Команд делающих брейк: {{ tournament.count_teams_in_break }}</p>
        <p>Статус: {{ tournament.status.name }}</p>
        <br>
        <p><a href="{% url 'tournament:next_round' tournament.id%}"> Создать следующий раунд </a></p>
        {% if tournament.cur_round > 0 %}

            <br>
            <p><a href="{% url 'tournament:result_round' tournament.id%}"> Ввести/исправить результат </a></p>

            <br>
            <p><a href="{% url 'tournament:result' tournament.id%}"> Теб </a></p>

        {% endif %}
        <br>
        <input type="button"
               onclick="confirm_remove_round('{% url 'tournament:remove_round' tournament.id %}')"
               value="Удалить последний раунд"
        >
    </div>
</div>
{% endblock content %}
