{% extends "tournament/owner_base.html" %}

{% load staticfiles %}

{% block page_title %}
    {{ tournament.name }}
{% endblock page_title %}


{% block extra_head %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "tournament/js/confirmation.js" %}"></script>
{% endblock extra_head %}


{% block content %}
<div class="b-tournament-summary">
    <div class="b-tournament-summary-status">
        <p class="b-tournament-summary-status__info">Количество команд: {{ tournament.count_teams }}</p>
        <p class="b-tournament-summary-status__info">Команд делающих брейк: {{ tournament.count_teams_in_break }}</p>
        <p class="b-tournament-summary-status__info">Количество сыграных раундов: {{ tournament.cur_round }}</p>
        <p class="b-tournament-summary-status__info">Команд делающих брейк: {{ tournament.count_teams_in_break }}</p>
        <p class="b-tournament-summary-status__info">Статус: {{ tournament.status.name }}</p>
    </div>

    <div class="b-tournament-summary-commands">
        <a class="button" href="{% url 'tournament:next_round' tournament.id%}"> Создать следующий раунд </a>
        <a class="button" href="{% url 'tournament:publish_round' tournament.id%}"> Опубликовать тему и румы </a>
        {% if tournament.cur_round > 0 %}
            <a class="button" href="{% url 'tournament:result_round' tournament.id%}"> Ввести/исправить результат </a>
            <a class="button" onclick="confirm_remove_round('{% url 'tournament:remove_round' tournament.id %}')">
                Удалить последний раунд
            </a>
        {% endif %}
        <a class="button" href="{% url 'tournament:result' tournament.id%}"> Теб </a>
        <a class="button" href="{% url 'tournament:presentation_round' tournament.id %}"> Презентация раунда </a>
    </div>
</div>
{% endblock content %}
