{% extends "main/base.html" %}

{% block page_title %}
    Регистрация команды
{% endblock page_title %}

{% block content %}

    <form class="b-form b-form-custom" action="{% url "tournament:registration_team_new" tournament.id %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="b-form-item">
        {% for field in form %}
            <h3 class="b-form-item__heading b-registration__heading">{{ field.label }}</h3>
            <div class="b-form-custom__help">{{ field.help_text }}</div>
            <span>{{ field }}</span>
            <span>{{ field.errors }}</span>
        {% endfor %}
        <button type="submit" class="button b-form-custom__button" value="Отправить">
            Участвовать
        </button>
        </div>
    </form>

{% endblock content %}
