{% extends "main/base.html" %}

{% block sidebar2%}
    {% if show_speaker_1 %}
        {% include 'tournament/sidebar.html' %}
    {% endif %}
{% endblock sidebar2 %}

{% block page_title %}
    Регистрация команды
{% endblock page_title %}


{% block content %}

    <form action="{% if show_speaker_1 %}
                        {% url "tournament:add_team" tournament.id %}
                  {% else %}
                        {% url "tournament:registration_team" tournament.id %}
                  {% endif %}
    " method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% if not show_speaker_1 %}
            <br>
            <p> * Для регистрации команды ваш тимейт должен быть зарегистрирован у нас на сайте. </p>
            <br>
        {% endif %}

        {% if saved_team %}
            <p><h5>Команда {{ saved_team }} была успешно добавлена в турнир {{ tournament.name }}</h5></p>
        {% endif %}

        <div class="formItem">
            <label for="id_name">Название</label>
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        <div class="formItem">

            {% if show_speaker_1 %}

                <label for="id_speaker_1">E-mail первого спикера</label>
                {{ form.speaker_1 }}
                {{ form.speaker_1.errors }}
                </div>
                <div class="formItem">
                <label for="id_speaker_2">E-mail второго спикера</label>
            {% else %}

                {{ form.speaker_1 }}
                <label for="id_speaker_2">E-mail вашего напарника</label>

            {% endif %}

            {{ form.speaker_2 }}
            {{ form.speaker_2.errors }}

        </div>


        <div class="textarea">
            <label for="id_info">Описание</label>
            {{ form.info }}
            {{ form.info.errors }}
        </div>
        <button type="submit" class="button formItem" value="Отправить">Отправить</button>
    </form>

{% endblock content %}
