{% extends "main/base.html" %}

{% block page_title %}
    {{ title }}
{% endblock page_title %}

{% block content %}

    <div class="content-formpage">
    <form action="{% url action_url tournament.id %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}


        {% for field in form %}
            <div class="form-elem form-elem--max">
                <span class="form-elem__label">
                    {{ field.label }}
                </span>
                {% if field.field.required %}
                    <span class="star" style="display: inline;">*</span>
                {% endif %}

                <div class="b-form-custom__help">{{ field.help_text }}</div>
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <div class="form-elem">
            <button type="submit" class="button button--prime button--max">
                {{ submit_title }}
            </button>
        </div>
    </form>
    </div>

{% endblock content %}
