{% extends "main/base.html" %}

{% block page_title %}
    Регистрация команды
{% endblock page_title %}


{% block content %}

    <form action="{% url "tournament:registration_team" id %}" method="post">

        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="formItem">
            <label for="id_name">Название</label>
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        <div class="formItem">
            <label for="id_speaker_2">E-mail вашего напарника</label>
            {{ form.speaker_2 }}
            {{ form.speaker_1 }}
            {{ form.speaker_2.errors }}
        </div>
        <div class="textarea">
            <label for="id_info">Описание</label>
            {{ form.info }}
            {{ form.info.errors }}
        </div>
        <input type="submit" class="button formItem" value="Отправить"/>
    </form>

{% endblock content %}
