{% extends "main/base.html" %}

{% load staticfiles %}

{% block extra_head %}
    {{ block.super }}
    {% include 'lib/yandex-map.html' %}
    <script type="text/javascript" src="{% static "tournament/js/map.js" %}"></script>
    <script type="text/javascript" src="{% static "tournament/js/confirmation.js" %}"></script>
{% endblock extra_head %}

{% block title %}
    <div class="title">
        <div class="title-container">
            <h3 class="title__name">{{ tournament.name }}</h3>
        </div>
    </div>
{% endblock title %}

{% block content %}

{#    {% if is_owner %}#}
{##}
{#    {% else %}#}

        <ul class="accordion-tabs">
            {% for tab in tabs %}
                <li class="tab-header-and-content {% if forloop.first %} tab-header-and-content__first {% endif %}">
                    <a href="javascript:void(0)" class="tab-link {% if forloop.first %} is-active {% endif %}">
                        {{ tab.title }}
                    </a>
                    <div class="tab-content">
                        {% if tab.message %}
                            <div class="content-textpage content-textpage--center content-textpage--top">
                                <h3>{{ tab.message }}</h3>
                                {% if tab.comment %}
                                    <p>{{ tab.comment }}</p>
                                {% endif %}
                            </div>
                        {% else %}
                            {% with tab_data=tab.data %}
                                {% include tab.template %}
                            {% endwith %}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>

{#    {% endif %}#}

{% endblock content %}
