{% extends "main/base.html" %}

{% load profile_extras %}

{% block page_title %}
    <h3>{{ tournament.name }}</h3>
{% endblock page_title %}

{% block content %}

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Информация</a></li>
            <li><a href="#tabs-2">Команды</a></li>
            <li><a href="#tabs-3">Судьи</a></li>
        </ul>
        <div id="tabs-1">
            {% include "tournament/tournament_info.html" with tournament=tournament %}
        </div>
        <div id="tabs-2">
            {% include "tournament/team_list.html" with team_tournament_rels=team_tournament_rels %}
        </div>
        <div id="tabs-3">
            {% include "tournament/adjudicator_list.html" with adjudicators=adjudicators %}
        </div>
    </div>

    <script>
        $(function() {
            $( "#tabs" ).tabs();
        });
    </script>

{% endblock content %}
