{% extends "main/base.html" %}

{% load profile_extras %}

{% block page_title %}
    {% if round.is_playoff %}
        {{ round.number }} раунд плейофф
    {% elif not round %}
        Раунд ещё не объявлен
    {% else %}
        Раунд {{ round.number }}
    {% endif %}
{% endblock page_title %}


{% block content %}

    {% if not round %}
        <p> К сожалению, раунд ещё не объявлен </p>
    {% else %}

    <div class="b-tabs">

        <input id="tab1" type="radio" name="tabs" class="b-tabs__input" checked>
        <label for="tab1" class="b-tabs__label" title="Информация">Резолюция</label>

        <input id="tab2" type="radio" name="tabs" class="b-tabs__input">
        <label for="tab2" class="b-tabs__label" title="Команды">Румы</label>

        <section class="b-tabs__one">
        <div class="b-resolution">
            {% if round.motion.infoslide %}
                Инфослайд: <br>
                <p class="b-resolution__infoslide">{{ motion.infoslide }}</p>
                <br><br>
            {% endif %}
            Резолюция: <br>
            <p class="b-resolution__motion">{{ round.motion.motion }}</p>
        </div>
        </section>

        <section class="b-tabs__two">
        <div class="b-rooms">
            <table class="b-table">
                <tbody>
                <tr class="b-table__headrow">
                    <th class="b-table__headstring_thirty"><span class="wrap">Cудья</span></th>
                    <th class="b-table__headstring_thirty">Первое правительство</th>
                    <th class="b-table__headstring_thirty">Первая опозиция</th>
                    <th class="b-table__headstring_thirty">Второе правительство</th>
                    <th class="b-table__headstring_thirty">Вторая опозиция</th>
{#                    <th class="b-table__headstring_thirty">Место</th>#}
                </tr>
                {% for room in rooms %}
                <tr class="b-table__row">
                    <td class="b-table__string_thirty"><span class="wrap">{{ room.game.chair|name }}</span></td>
                    <td class="b-table__string_thirty">{{ room.game.og.name }}</td>
                    <td class="b-table__string_thirty">{{ room.game.oo.name }}</td>
                    <td class="b-table__string_thirty">{{ room.game.cg.name }}</td>
                    <td class="b-table__string_thirty">{{ room.game.co.name }}</td>
{#                    <td class="b-table__string_thirty">404 аудитория</td>#}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </section>
    </div>

    {% endif %}
{% endblock content %}
