{% extends "main/base.html" %}

{% load profile_extras %}
{% load tournament_extras %}
{% load staticfiles %}

{% block extra_head %}
    {{ block.super }}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript" src="{% static "tournament/js/map.js" %}"></script>
    <script type="text/javascript" src="{% static "tournament/js/confirmation.js" %}"></script>
{% endblock extra_head %}

{% block content %}

    {% block page_title %}
        <div class="title">
            <div class="title-container">
                <h3 class="title__name">{{ tournament.name }}</h3>
                <div class="title-container">

                     {% if is_chair %}
                        <a class="button button--max button--sec" href="{% url "tournament:result_round" tournament.id %}">
                            Ввести результаты
                        </a>
                    {% endif %}

                    {% if tournament|is_status_registration %}

                        <a class="button button--max button--prime" href="{% url "tournament:registration_team" tournament.id %}">Играть</a>
                        <a class="button button--max button--prime" href="{% url "tournament:registration_adjudicator" tournament.id %}">Судить</a>

                    {% elif tournament|is_status_preparation %}

                        <h3>Регистрация уже закончилась</h3>

                    {% elif tournament|is_status_started or tournament|is_status_playoff %}

                        <a class="button button--mid button--prime" href="{% url "tournament:show_round" tournament.id %}">Текущий раунд</a>
                        <a class="button button--mid button--prime" href="{% url 'tournament:result' tournament.id%}">Баллы команд и спикеров</a>
                        <a class="button button--mid button--prime" href="{% url 'tournament:result_all' tournament.id%}">Результаты по комнатам</a>

                    {% endif %}

                </div>
            </div>
        </div>
    {% endblock page_title %}

    {% if is_owner %}
        <div class="manage">
            <div class="manage-container">

                <div class="manage-column">
                    <p class="manage-column__name">Регистрация</p>
                    <div class="manage-column__group">
                        <a class="manage-column__elem" href="{% url 'tournament:custom_form_edit' tournament.id 'team' %}">Изменить форму регистрации</a>
                        <a class="manage-column__elem" href="{% url 'tournament:custom_form_answers' tournament.id 'team' %}">Ответы команд</a>
                        <a class="manage-column__elem" href="{% url 'tournament:add_team' tournament.id %}">Добавить команду</a>
                        <a class="manage-column__elem" href="{% url 'tournament:print' tournament.id %}">Печать списка команд</a>
{#                        <a class="manage-column__elem" href="{% url 'tournament:import_team' tournament.id %}">Импорт из Google-таблицы</a>#}
                    </div>
                </div>

                <div class="manage-column">
                    <p class="manage-column__name">Настройки турнира</p>
                    <div class="manage-column__group">

                        {% if not tournament|is_status_finished %}
                            <a class="manage-column__elem" href="{% url "tournament:edit" tournament.id %}">Редактировать турнир</a>
                            <a class="manage-column__elem" href="{% url "tournament:edit_team_list" tournament.id %}">Изменить список игроков</a>
                            <a class="manage-column__elem" href="{% url "tournament:edit_adjudicator_list" tournament.id %}">Изменить список судей</a>
                            <a class="manage-column__elem" href="{% url "tournament:place_list" tournament.id %}">Изменить аудитории</a>
                            <a class="manage-column__elem" href="{% url "tournament:admin_list" tournament.id %}">Администраторы турнира</a>

                        {% endif %}

                        <a class="manage-column__elem" href="{% url "tournament:remove" tournament.id %}">Удалить турнир</a>
                    </div>
                </div>

                <div class="manage-column">
                    <p class="manage-column__name">Управление турниром</p>
                    <div class="manage-column__group">

                        {% if tournament|is_status_registration %}

                            <a class="manage-column__elem" href="{% url "tournament:registration_closing" tournament.id %}">Закрыть регистрацию</a>
{#                            <a class="manage-column__elem" href="{% url "tournament:custom_form_page" tournament.id %}">Анкеты для регистрации</a>#}

                        {% elif tournament|is_status_preparation %}

                            <a class="manage-column__elem" href="{% url "tournament:registration_opening" tournament.id %}">Открыть регистрацию</a>
                            <a class="manage-column__elem" href="{% url "tournament:check_team_list" tournament.id %}">Начать турнир</a>

                        {% elif tournament|is_status_started %}

                            <a class="manage-column__elem" href="{% url "tournament:break" tournament.id %}">Объявить брейк</a>
                            <a class="manage-column__elem" href="{% url "tournament:finished" tournament.id %}">Завершить турнир</a>
                            <a class="manage-column__elem" href="{% url "tournament:registration_closing" tournament.id %}">Отменить начало турнира</a>

                        {% elif tournament|is_status_playoff %}

                            <a class="manage-column__elem" href="{% url "tournament:finished" tournament.id %}">Завершить турнир</a>
                            <a class="manage-column__elem" href="{% url "tournament:start" tournament.id %}">Отменить брейк</a>

                        {% endif %}

                    </div>
                </div>

                {% if tournament|is_status_started or tournament|is_status_playoff %}

                    <div class="manage-column">
                        <p class="manage-column__name">Управление раундами</p>
                        <div class="manage-column__group">
                            <a class="manage-column__elem" href="{% url 'tournament:next_round' tournament.id%}">Создать следующий раунд </a>
                            <a class="manage-column__elem" href="{% url 'tournament:publish_round' tournament.id%}"> Опубликовать тему и румы </a>
                            <a class="manage-column__elem" href="{% url 'tournament:presentation_round' tournament.id %}"> Презентация раунда </a>
                            {% if tournament.cur_round > 0 %}
                                <a class="manage-column__elem" href="{% url 'tournament:result_round' tournament.id%}"> Ввести/исправить результат </a>
                                <a class="manage-column__elem" onclick="confirm_remove_round('{% url 'tournament:remove_round' tournament.id %}')">Удалить последний раунд</a>
                            {% endif %}
                        </div>
                    </div>

                {% endif %}

            </div>
        </div>

        <div class="stats">
            <div class="stats-container">
                <p class="stats__elem">Играющие команды: {{ tournament.count_members }} ({{ tournament.count_registered_teams }} зарегистрировано)</p>
                <p class="stats__elem">Количество сыграных раундов: {{ tournament.cur_round }}</p>
                <p class="stats__elem">Команд делающих брейк: {{ tournament.count_teams_in_break }}</p>
                <p class="stats__elem">Статус: {{ tournament.status.name }}</p>
            </div>
        </div>

    {% else %}

        <ul class="accordion-tabs">
            <li class="tab-header-and-content tab-header-and-content__first">
                <a href="javascript:void(0)" class="is-active tab-link">О турнире</a>
                <div class="tab-content">
                    {% with tournament=tournament is_chair=is_chair %}
                        {% include "tournament/tournament_info.html" %}
                    {% endwith %}
                </div>
            </li>
            <li class="tab-header-and-content">
                <a href="javascript:void(0)" class="tab-link">Участники</a>
                <div class="tab-content">
                    {% if tournament.is_registration_hidden and not is_owner and tournament|is_status_registration %}
                        <div class="content-textpage content-textpage--center content-textpage--top">
                            <h3>Информация закрыта</h3>
                            <p>Организаторы турнира скрыли инфомацию о уже зарегистрированных командах</p>
                        </div>
                    {% else %}
                        {% with team_tournament_rels=team_tournament_rels %}
                            {% include "tournament/team_list.html" %}
                        {% endwith %}
                    {% endif %}
                </div>
            </li>
            <li class="tab-header-and-content">
                <a href="javascript:void(0)" class="tab-link">Судьи</a>
                <div class="tab-content">
                    {% with adjudicators=adjudicators %}
                        {% include "tournament/adjudicator_list.html" %}
                    {% endwith %}
                </div>
            </li>
            <li class="tab-header-and-content">
                <a href="javascript:void(0)" class="tab-link">На карте</a>
                <div class="tab-content">
                    <div id="map" style="width: 100%; height: 400px"></div>
                </div>
            </li>
        </ul>

    {% endif %}

{% endblock content %}
