{% extends "main/base.html" %}

{% load profile_extras %}

{% block page_title %}
    {% if round.is_playoff %}
        {{ round.number }} Раунд play-off
    {% elif not round %}
        Раунд ещё не объявлен
    {% else %}
        Раунд {{ round.number }}
    {% endif %}
{% endblock page_title %}


{% block content %}
    {% if not rooms or not rooms.0.round %}
        <div class="content-textpage content-textpage--center content-textpage--top">
            <p> К сожалению, раунд ещё не объявлен </p>
        </div>
    {% else %}
        {% with tab_data=rooms %}
            {% include 'tournament/tabs/public/round.html' %}
        {% endwith %}
    {% endif %}
{% endblock content %}
