{% extends "main/base.html" %}

{% load profile_extras %}
{% load tournament_extras %}
{% load staticfiles %}

{% block extra_head %}
    {{ block.super }}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript" src="{% static "tournament/js/map.js" %}"></script>
{% endblock extra_head %}

{% block sidebar2%}
    {% if is_owner %}
        {% include 'tournament/sidebar.html' %}
    {% endif %}
{% endblock sidebar2 %}

{% block page_title %}
    {{ tournament.name }}
{% endblock page_title %}

{% block content %}

<div class="b-tabs">

    <input id="tab1" type="radio" name="tabs" class="b-tabs__input" checked>
    <label for="tab1" class="b-tabs__label" title="Информация">Информация</label>

    <input id="tab2" type="radio" name="tabs" class="b-tabs__input">
    <label for="tab2" class="b-tabs__label" title="Команды">Команды</label>

    <input id="tab3" type="radio" name="tabs" class="b-tabs__input">
    <label for="tab3" class="b-tabs__label" title="Судьи">Судьи</label>

    <input id="tab4" type="radio" name="tabs" class="b-tabs__input">
    <label for="tab4" class="b-tabs__label" title="Место">Место</label>

    <section class="b-tabs__one">
        {% with tournament=tournament is_chair=is_chair %}
            {% include "tournament/tournament_info.html" %}
        {% endwith %}
    </section>

    <section class="b-tabs__two">
        {% if tournament.is_registration_hidden and not is_owner and tournament|is_status_registration %}
            <div class="b-message">
                <h3 class="b-teamlist__heading">Информация закрыта</h3>
                <p>Организаторы турнира скрыли инфомацию о уже зарегестрированных командах</p>
            </div>
        {% else %}
            {% with team_tournament_rels=team_tournament_rels %}
                {% include "tournament/team_list.html" %}
            {% endwith %}
        {% endif %}
    </section>

    <section class="b-tabs__three">
        {% with adjudicators=adjudicators %}
            {% include "tournament/adjudicator_list.html" %}
        {% endwith %}
    </section>

    <section class="b-tabs__four">
        <div id="map" style="width: 100%; height: 400px"></div>
    </section>

</div>

{% endblock content %}
