{% load tournament_extras %}

<div class="b-sidebar" id="sidebar2">

    <ul class="b-sidebar__list">
        <h3 class="b-sidebar__heading">Турнир</h3>

        {% if tournament|is_status_registration %}

            <li class="b-sidebar__listitem"><a href="{% url "tournament:registration_closing" tournament.id %}">Закрыть регистрацию</a></li>

        {% elif tournament|is_status_preparation %}

            <li class="b-sidebar__listitem"><a href="{% url "tournament:registration_opening" tournament.id %}">Открыть регистрацию</a></li>
            <li class="b-sidebar__listitem"><a href="{% url "tournament:check_team_list" tournament.id %}"><i class="fa fa-play-circle"></i>Начать турнир</a></li>

        {% elif tournament|is_status_started %}

            <li class="b-sidebar__listitem"><a href="{% url "tournament:play" tournament.id %}"><i class="fa fa-play-circle"></i>Управление раундами</a></li>
            <li class="b-sidebar__listitem"><a href="{% url "tournament:break" tournament.id %}"><i class="fa fa-play-circle"></i>Объявить брейк</a></li>
            <li class="b-sidebar__listitem"><a href="{% url "tournament:finished" tournament.id %}"><i class="fa fa-play-circle"></i>Завершить турнир</a></li>
            <li class="b-sidebar__listitem"><a href="{% url "tournament:registration_closing" tournament.id %}"><i class="fa fa-play-circle"></i>Отменить начало турнира</a></li>

        {% elif tournament|is_status_playoff %}

            <li class="b-sidebar__listitem"><a href="{% url "tournament:play" tournament.id %}"><i class="fa fa-play-circle"></i>Управление раундами</a></li>
            <li class="b-sidebar__listitem"><a href="{% url "tournament:finished" tournament.id %}"><i class="fa fa-play-circle"></i>Завершить турнир</a></li>
            <li class="b-sidebar__listitem"><a href="{% url "tournament:start" tournament.id %}"><i class="fa fa-play-circle"></i>Отменить брейк</a></li>

        {% endif %}

        {% if not tournament|is_status_finished %}
            <li class="b-sidebar__listitem"><a href="{% url "tournament:edit" tournament.id %}"><i class="fa fa-pencil"></i>Редактировать турнир</a></li>
            <li class="b-sidebar__listitem"><a href="{% url "tournament:edit_team_list" tournament.id %}"><i class="fa fa-users"></i>Отобрать команды</a></li>
            <li class="b-sidebar__listitem"><a href="{% url "tournament:edit_adjudicator_list" tournament.id %}"><i class="fa fa-gavel"></i>Отобрать судей</a></li>

        {% endif %}

        <li class="b-sidebar__listitem"><a href="{% url "tournament:remove" tournament.id %}"> <i class="fa fa-trash-o"></i>Удалить турнир</a></li>
    </ul>

</div>
