<a href='{% url 'tournament:show' tournament.id %}'>{{ tournament.name }}</a> скоро начнётся!
<br>
<br>
Мы знаем как иногда сложно точно запомнить тему раунда, а в пылу подготовке не забыть позицию на которой играешь.
И чтобы в последнюю минуту не искать аудиторию, команда разработчиков Tabmaker сделала Telegram бота,
которой сообщит вам всю информацию о раунде, в котором вы играете.
<br>
<br>
Для старта, начните чат с нашим ботом:<br>
https://telegram.me/{{ bot_name }}?start={{ token }}
<br>
* К сожалению, Telegram заблокировал на территории РФ,
поэтому, если ссылка не открыватся, воспользуйтесь VPN или прокси.
Либо отправьте ссылку себе в избраное в приложении Telegram, и перейдите по ней.
<br>
<br>
С Уважением, команда Tabmaker!
