{% load profile_extras %}

{% if team_tournament_rels|length > 1 %}

<div class="content-tablepage">
<table class="table">
    <tbody>
    <tr class="table__headrow">
        <th>Название команды</th>
        <th>Первый спикер</th>
        <th>Второй спикер</th>
        <th>Статус команды</th>
    </tr>
    {% for team_tournament_rel in team_tournament_rels %}
        <tr class="table__row">
            <td>
                {{ team_tournament_rel.team.name }}
            </td>
            <td>
                <a class="link" target="_blank" href="{% url 'profile:main' team_tournament_rel.team.speaker_1.id%}">
                    {{ team_tournament_rel.team.speaker_1|name }}
                </a>
            </td>
            <td>
                <a class="link" target="_blank" href="{% url 'profile:main' team_tournament_rel.team.speaker_2.id%}">
                    {{ team_tournament_rel.team.speaker_2|name }}
                </a>
            </td>
            <td>
                {{ team_tournament_rel.role.role }}
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</div>

{% else %}
<div class="content-textpage">
    <div class="paragraph">
        <h3>Пока никто не зарегистрировался</h3>
        <p>Вы можете стать первым участником</p>
    </div>
</div>
{% endif %}


