{% extends "main/base.html" %}

{% block content %}

    {% block page_title %}
        <div class="title">
            <div class="title-container">
                <h3 class="title__name">Обратная связь на судью</h3>
            </div>
        </div>
    {% endblock page_title %}

    <div class="section section__flex">
        <p>Судья: Иван Иванов</p>
        <select name="" id="" class="form-elem__select">
            <option value="">Раунд 1</option>
            <option value="">Раунд 2</option>
            <option value="">Раунд 3</option>
        </select>
    </div>

    <div class="content-formpage">
        <div class="form-elem">
            <input type="text" class="form-elem__input" placeholder="Здесь должна быть кастомная форма для фидбека">
        </div>
    </div>

{% endblock content %}
