{% load tournament_extras %}

<div class="content-textpage content-textpage--top">
    <h3 class="paragraph__heading">Cтатус</h3>
    <ul class="paragraph">
        <li class="stats__elem">Начало турнира: {{ tournament.start_tour|date:"d M Y"}} в {{ tournament.start_tour|time:"H:i"}} </li>
        <li class="stats__elem">Место проведения: {{ tournament.location }} {# TODO получить адрес по координатам #}</li>
        <li class="stats__elem">Максимум команд: {{ tournament.count_teams }}</li>
        <li class="stats__elem">Раунды: {{ tournament.count_rounds }} отборочных</li>
        <li class="stats__elem">Выходят в плей-офф: {{ tournament.count_teams_in_break }} команд</li>
        <input id="id_location_lon" type="hidden" value={{ tournament.location_lon }}>
        <input id="id_location_lat" type="hidden" value={{ tournament.location_lat }}>
    </ul>

    <h3 class="paragraph__heading">Описание</h3>
    <p class="paragraph">{{ tournament.info }}</p>

    <h3 class="paragraph__heading">Подробности</h3>
    <a class="paragraph" href="{{ tournament.link }}">{{ tournament.link }}</a>

</div>
