{% load tournament_extras %}

{% for tournament in objects %}
    <li class="b-tournamentlist-item">

        <div class="b-tournamentlist-current">
            <h3 class="b-tournamentlist-current__heading">
                <a href="{% url 'tournament:show' tournament.id %}">{{ tournament.name }}</a>
            </h3>
            
            <ul>
                
                {% if tournament|is_status_registration %}
                    <li>
                        <p class="b-tournamentlist-current__registration">Регистрация до {{ tournament.close_reg|date:"d E"}}</p>
                    </li>
                
                {% elif tournament|is_status_preparation %}
                    <li>
                        <p class="b-tournamentlist-current__registration">Регистрация закрыта</p>
                    </li>

                {% else %}
                    <li class="b-tournamentlist-current__result">
                        <a href="{% url "tournament:result" tournament.id %}"><i class="fa fa-trophy"></i>Результаты</a>
                    </li>
                {% endif %}
                
                <li class="b-tournamentlist-current__about"><i class="fa fa-compass"></i>{{ tournament|address }}</li>
                <li class="b-tournamentlist-current__about"><i class="fa fa-calendar"></i>{{ tournament.start_tour|date:"d E Y"}}</li>
                <li class="b-tournamentlist-current__about"><i class="fa fa-users"></i>{{ tournament|registered_users }} заявок</li>
                
            </ul>
        </div>            
       
    </li>
{% endfor %}
