<div class="b-tournament-info">

    <h3>Cтатус</h3>
    <ul>
        <li class="b-tournament-info__status">Начало турнира: {{ tournament.start_tour|date:"M d, Y"}} в {{ tournament.start_tour|time}} </li>
        <li class="b-tournament-info__status">Место проведения: {{ tournament.location }} {# TODO получить адрес по координатам #}</li>
        <li class="b-tournament-info__status">Команды: {{ tournament.count_teams }}</li>
        <li class="b-tournament-info__status">Раунды: {{ tournament.count_rounds }}</li>
        <li class="b-tournament-info__status">Брейк: {{ tournament.count_teams_in_break }}</li>
        <input id="id_location_lon" type="hidden" value={{ tournament.location_lon }}>
        <input id="id_location_lat" type="hidden" value={{ tournament.location_lat }}>
    </ul>
    
    <h3 class="b-tournament-info__heading">Описание</h3>
    <p class="b-tournament-info__description">{{ tournament.info }}</p>

    <h3 class="b-tournament-info__heading">Подробности</h3>
    <a class="b-tournament-info__link" href="{{ tournament.link }}">{{ tournament.link }}</a>
    
    <div class="b-tournament-info-reg">
    {% if tournament.open_reg > now %}
        <h3 class="b-tournament-reg__regtime">Регистрация ещё не открыта</h3>
    {% elif tournament.close_reg < now %}
        <h3 class="b-tournament-reg__regtime">Регистрация уже закончилась</h3>
    {% else %}
        <h3 class="b-tournament-reg__regtime">Регистрация до {{ tournament.close_reg|date:"M d, Y" }}</h3>

        <a class="b-tournament-reg__regbutton button formItem" href="{% url "tournament:registration_team" tournament.id %}">Участовать</a>
        <a class="b-tournament-reg__regbutton button formItem" href="{% url "tournament:registration_adjudicator" tournament.id %}">Судить</a>
    {% endif %}
    </div>

</div>
