<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список участников турнира</title>
    {% include 'lib/jquery.html' %}
    {% include 'lib/tablesorter.html' %}
    <script>$(document).ready(function(){$("#users_list").tablesorter();});</script>
</head>
<body>

<table id="users_list" class="tablesorter">
    <thead>
    <tr>
        <th></th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Команда</th>
        <th>Университет</th>
        <th>Телефон</th>
        <th>Email</th>
    </tr>
    </thead>

    {% for team in teams %}
        <tr>
            <th><input type="checkbox"></th>
            <td>{{ team.speaker_1.first_name }}</td>
            <td>{{ team.speaker_1.last_name }}</td>
            <td>{{ team.name }}</td>
            <td>{{ team.speaker_1.university.name }}</td>
            <td>{{ team.speaker_1.phone }}</td>
            <td>{{ team.speaker_1.email }}</td>
        </tr>
        <tr>
            <th><input type="checkbox"></th>
            <td>{{ team.speaker_2.first_name }}</td>
            <td>{{ team.speaker_2.last_name }}</td>
            <td>{{ team.name }}</td>
            <td>{{ team.speaker_2.university.name }}</td>
            <td>{{ team.speaker_2.phone }}</td>
            <td>{{ team.speaker_2.email }}</td>
        </tr>

    {% endfor %}
</table>

</body>
</html>
