

#new_admin {
    a {
        display: block;
        margin-top: 10px;
        text-align: center;

        @include respond-to(tablets) {
            max-width: 220px;
        }

        @include respond-to(large) {
            max-width: 220px;
        }
    }
}
