.b-feedback {
    max-width: 90%;

    &-item {

        p {
            margin-bottom: 10px;
        }

        &__list {

            li {
                display: inline;

                input {
                    display: inline;
                    width: 30px;
                }
            }
        }
    }
}