footer {
	background-color: $back;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
    justify-content: center;
	width: 100%;
	height: 80px;
	border-top: 1px solid $grey;

	@include respond-to(mobile) {
		padding: 30px 10px;
		box-sizing: border-box;
		height: initial;
	}

	@include respond-to(tablets) {
		padding: 30px 10px;
		box-sizing: border-box;
		height: initial;
	}
}

.b-footer {
	display: flex;
    flex-direction: row;
    justify-content: center;

	&__info {
		display: inline-block;
		float: left;

		li {
			display: inline;
			font-weight: 400;
			font-size: 14px;
			margin-right: 20px;

			a {
				color: darken($grey, 40%);

				&:hover {
					color: darken($grey, 30%);
				}
			}

			@include respond-to(mobile) {
				display: block;
				line-height: 1.7;
			}

			@include respond-to(tablets) {
				line-height: 1.7;
			}
		}
	}

	&__contact {
		display: inline-block;
		float: right;

		@include respond-to(mobile) {
			float: inherit;
		}

		@include respond-to(tablets) {
			float: inherit;
			padding: 0 20px;
		}

		li {
			display: inline;
			color: $grey;
			margin-right: 20px;
		}
	}

}
