footer {
	background-color: $buttondark;
	padding: 30px 0px;
	box-sizing: border-box;
	display: block;
	height: 90px;
	@include shadow;

	@include respond-to(mobile) {
		padding: 30px 10px;
		box-sizing: border-box;
		height: initial;
	}

	@include respond-to(tablets) {
		padding: 30px 10px;
		box-sizing: border-box;
		height: initial;
	}
}

.b-footer {
	width: 58%;
	margin: 0 auto;

	@include respond-to(mobile) {
		width: 100%;
		display: inline-block;
	}

	@include respond-to(tablets) {
		width: 100%;
		display: inline-block;
	}

	&__info {
		display: inline-block;
		float: left;

		li {
			display: inline;
			font-weight: 600;
			margin-right: 20px;
			border-bottom: 1px solid transparent;

			&:hover {
				border-bottom: 1px dashed $grey;
				transition: 0.2s border-bottom;
			}

			a {
				color: $grey;
			}

			@include respond-to(mobile) {
				display: block;
				line-height: 1.7;
			}

			@include respond-to(tablets) {
				line-height: 1.7;
			}
		}
	}

	&__contact {
		display: inline-block;
		float: right;

		@include respond-to(mobile) {
			float: inherit;
		}

		@include respond-to(tablets) {
			float: inherit;
			padding: 0 20px;
		}

		li {
			display: inline;
			color: $grey;
			margin-right: 20px;
		}
	}

}