input, select, textarea {
	padding: 7px;
	line-height: 20px;
	font-size: 14px;
	color: $dark;
	background-color: transparent;
	border: 2px solid $grey;
	box-sizing: border-box;
	font-family: "Roboto", Arial, sans-serif;
	width:100%;
    border-radius: 3px;

	&:focus {
		border: 2px solid $prime;
	}
}

select {
	-webkit-appearance: none;
	height: 35px;
	min-width: 170px;
}

input:focus, textarea:focus {
    outline: 1px solid $dark;
}

input[type='time'],
input[type='date'] {
	height: 35px;
}

input[type='date'] {
	max-width: 160px;
}

input[type='time'] {
	max-width: 100px;
}

input[type="checkbox"], input[type="radio"] {
	width: 15px;
	height: 15px;
    margin-right: 10px;
}




.form {

    &-section {
        margin-bottom: 40px;
    }

    &-elem {
        width:100%;
        margin-top: 20px;
        margin-right: 20px;

        // размеры полей форм

        &--max {
            max-width: 800px;
        }

        &--mid {
            max-width: 420px;
        }

        &--low {
            max-width: 220px;
        }

        &--min {
            max-width: 150px;
        }

        // состояния полей форм

        &--disabled {
            cursor: not-allowed;
            opacity:0.3;
        }

        &--inline {
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
        }

        &--nomargin {
            margin-top: 0px;
        }




        // модификаторы текстов

        &--error {
            color: $error;
        }

        &--success {
            color: $sec;
        }



        // элементы форм

        &__group {
            display: flex;
        }

        &__label, &__input, &__radio, &__description, &__error {
            margin-bottom: 8px;
        }

        &__label, &__input, &__radio {
            display: inline-block;
        }

        &__description, &__error {
            display: block;
            font-size: 14px;
        }

        &__label {
            font-size: 16px;
            font-weight: bold;
            color: $prime;
        }

        &__input, &__select, &__option {
            width: 100%;
            margin-right: 20px;
            min-width: 150px;

            &--short {
                width:50%;
            }
        }

        &__map {
            border: 1px solid $grey;
            margin-top: 10px;
        }

        &__area {
            width:100%;
            height:150px;

            &--short {
                height: 80px;
                width:100%;
            }

            &--long {
                height: 240px;
                width:100%;
            }
        }
    }
}




.errorlist {
	display: block;
	margin-bottom: 20px;

	li {
		color: $error;
		font-size: 14px;
    	display: inline-block;
	}
}




// autocomplete

.ui-autocomplete {
    overflow-y: auto;
	max-height: 300px;
	overflow-x: hidden;
	max-width: 350px;

    @include respond-to(mobile) {
        max-width: 278px;
    }
}




// custom forms

.question-actions {
    position: absolute;
    top: 0;
    right: 10px;

    @include respond-to(mobile) {
        position: initial;
        margin: 10px 0 0 0;
    }
}

.up, .down, .remove, .edit {
    border: none;
    background-color: transparent;
    padding: 0;
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px;

    i {
        margin: 0 auto;
        font-size: 1.6em;
    }

    i::before {
        color: $prime;
    }
}

.question_block, #new_question {
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
    position: relative;
}

.question_block {
    border-bottom: 1px solid #E9EBEC;
}

.edit_block {

    label {
        display: block;

        p, span {
            margin-bottom: 10px;
        }

        input[type="text"], textarea {
            max-width: 80%;
            width: 100%;
            min-width: 280px;
        }

        input, textarea {
            margin-bottom: 20px;
        }

        textarea {
            min-height: 70px;
        }
    }

}

.question {
    max-width: 90%;
    width: 100%;
}

.star {
    color: $error;
}
