header {
	height: 60px;
	background-color: white;
	display: flex;
    align-items: center;
	border-bottom: 1px solid $background-page;

	@include respond-to(mobile) {
		position: fixed;
		width: 100%;
		height: 60px;
		z-index: 1000;
	}

	#logo {
		display: inline-block;
		height: 100%;
		width: 250px;

		@include respond-to(mobile) {
			display: none;
		}

		@include respond-to(tablets) {
			display: none;
		}

		img {
			padding:15px;
		}

	}

    .home-icon, .burger-icon {
        color: $dark;
        font-size: 1.7em;

        @include respond-to(large) {
			display: none;
		}

        @include respond-to(mobile) {
			font-size: 1.2em;
		}
    }

	.header-container {
		display: flex;
		width:100%;
		max-width: 800px;
        align-items: center;

        i {
            margin:0 10px;
        }

		h3 {
            font-size: 24px;
            margin: 0 10px;

            @include respond-to(tablets) {
                font-size: 18px;
            }

            @include respond-to(mobile) {
                font-size: 14px;
            }
		}

		.page-title-short {
			@include respond-to(mobile) {
				height: 35px;
				line-height: 35px;
			}
		}

		#header_button {
			display: inline-block;
			float: right;

			a {
				text-align: center;
				color: white;
			}
		}
	}
}

.b-header {
	&__back {
		position: absolute;
    	top: 24px;
    	left: 8px;
    	color: $dark;
    	font-size: 1.7em;

		@include respond-to(large) {
			display: none;
		}
	}
}