html, body {
  height: 100%;
}

body {
	font-family: "Roboto", Arial, "Helvetica Neue", sans-serif;
}

ul, a {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, h3, h5, p, li, label, span {
	color: $dark;
}

h1, h2, h3 {
	font-weight: 500;
	margin-top: 10px;
    color: $prime;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
    margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: $prime;
}




// responsivness

$small: 375px;
$middle: 768px;
$large: 960px;
$desctop: 1200px;

@mixin respond-to($media) {
	@if $media == mobile {
    	@media only screen and (max-width: $small) { @content; }
  	}
  	@else if $media == tablets {
    	@media only screen and (min-width: $small + 1) and (max-width: $large - 1) { @content; }
  	}
  	@else if $media == large {
    	@media only screen and (min-width: $large) { @content; }
  	}
    @else if $media == desctop {
        @media only screen and (min-width: $desctop) { @content; }
    }
}




// стили шаблонов страниц

.page_wrapper {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.content {
	display: flex;
    flex-direction: column;
	flex: 1;
    margin: 0 auto;
    width: 100%;

	&-textpage {
		padding: 0 20px 20px 20px;
        max-width: 960px;
		margin:0 auto;
        width: 100%;
        min-width: 300px;

		&--top {
			padding-top: 20px;
		}

        &--bottom {
			padding-bottom: 20px;
		}

        &--center {
            text-align: center;
        }
	}

	&-tablepage {
		overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
	}

	&-datapage {
        width: 100%;

		&__padding {
			padding:20px;
		}
	}

    &-formpage {
        margin: 20px auto;
        max-width: 800px;
        width: 100%;
    }
}

// секция на странице

.section {
    padding: 20px;
    width:100%;
    border-bottom: 1px solid $grey;
    box-sizing: border-box;
}




// стили параграфов текста

.paragraph {
	line-height: 1.6;
	margin-bottom: 30px;
    display: block;

	&__link {
		border-bottom: 1px dashed $dark;
		padding-bottom: 3px;
	}

	&__heading {
		padding-bottom: 10px;
		margin-top: 0;
        margin-bottom: 0;
	}
}




// классы для страницы с режимом дебага

.debug {

    &-section {
        margin:20px;
        max-width: 1000px;
        min-width: 300px;
        width:100%;
    }
}
