$susy: (
  columns: 12,
  gutters: 1/6,
  container: 100%,
);

html, body {
  height: 100%;
}

body {
	font-family: "PT Sans", Arial, "Helvetica Neue", sans-serif;
}

ul, a {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, h3, h5, p, li, label, span {
	color: $dark;
}

h1, h2, h3 {
	font-weight: 700;
	margin-top: 10px;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
    margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: $dark;
}

i {
	margin-right: 8px;
	margin-bottom: 2px;
}

.button {
	@include button;
	background-color: $deep-dark;

	a {
		color: white;
	}
}

.page_wrapper {
	display: flex;
    flex-direction: column;
}

.content_conteiner {
	display: flex;
    flex: 1;
    height: 100%;

	@include respond-to(mobile) {
    	padding: 70px 0 0 0 !important;
	}

	@include respond-to(tablets) {
		padding: 0;
		min-height: auto;
	}
}

.content {
	display: inline-block;
	width: calc(100% - 250px);
	min-height: calc(100vh - 160px);
	border-radius: 3px;
	vertical-align: top;

	@include respond-to(large) {
		min-width: 710px;
	}

	@include respond-to(mobile) {
		width: 100%;
		margin: 10px 0;
		overflow-y: auto;
	}

	@include respond-to(tablets) {
		width: 100%;
		margin: 10px 0;
		overflow-y: auto;
	}

	&-textpage {
		padding: 20px 20px 40px 20px;
		max-width: 800px;
	}

	&-tablepage {
		overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
	}

	&-datapage {
        width: 100%;

		&__padding {
			padding:20px;
		}
	}

    &-formpage {
        padding: 20px;
		max-width: 600px;
        width: 100%;
    }
}

.paragraph {
	line-height: 1.4;
	margin-bottom: 30px;

	&__link {
		border-bottom: 1px dashed $dark;
		padding-bottom: 3px;
	}

	&__heading {
		padding-bottom: 10px;
		margin-top: 0;
        margin-bottom: 0;
	}
}