.list {
	padding: 20px 0;
	border-bottom: 1px solid $grey;
    list-style-type: none;

    &-item {
        margin: 0 15px;
        max-width: 800px;

        &__heading {
            margin: 0 20px 8px 0;
            line-height: 1.2;
            font-family: "Roboto Mono";
        }

        &__subheading {
            font-weight: bold;
        }

        &__block {
            margin: 10px 0;
            display: flex;

            &--item {
                color: $dark;
                margin-right: 20px;
            }
        }
    }
}
