.list {
	padding: 25px 0;
	border-bottom: 1px solid $grey;
    list-style-type: none;
    max-width: 860px;
    margin: 0 auto;
    width:100%;

    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__heading {
            margin: 0 20px 8px 0;
            line-height: 1.2;
            font-family: "Roboto";
        }

        &__subheading {
            font-weight: bold;
        }

        &__block {
            margin: 10px 0;
            display: flex;

            &--item {
                color: darken($grey, 20%);
                margin-right: 20px;
            }
        }
    }

    &--min {
        padding: 15px;
    }

    &:last-child {
        margin-bottom: 10px;
    }
}
