.b-post {

    &-item {
        box-sizing: border-box;
        padding: 20px 40px;
        min-height: 255px;

        @include respond-to(mobile) {
            padding: 10px 10px;
        }

        &__date {
            margin: 10px 0;
            font-weight: 700;
        }

        &__superheading {
            margin: 30px 0;
            text-align: center;
            line-height: 1.4;
        }

        &__heading {
            margin-top: 30px;
            line-height: 1.4;
        }

        &__subheading {
            margin: 10px 0;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.4;
        }

        &__text {
            margin-bottom: 10px;

            p {
                line-height: 1.4;
            }
        }

        &__list {
            margin: 5px 0;

            li {
                list-style-type: disc;
                margin-left: 40px;
                line-height: 1.6;

                @include respond-to(mobile) {
                    margin-left: 20px;
                }

                p {
                    padding-bottom: 10px;
                }
            }
        }

        a {
            display: inline;
            border-bottom: 1px dashed $grey;
            padding-bottom: 3px;
        }
    }
}

.b-postlist {

    &-item {

        &__heading {

        }

        &__more {
            @include button;
        }
    }
}
