.b-profile {

	&__wrapper {
		margin: 20px 20px;
	}

	&__group {
		margin: 0 0 20px 0;
	}

	&__listitem {
		display: inline;
		color: $grey;
		margin: 0 20px 0 0;

		@include respond-to(mobile) {
			display: block;
			width: 100%;
			line-height: 1.7;
		}

		a {
			color: $grey;
			padding-bottom: 3px;
			border-bottom: 1px dashed $grey;
		}
	}

	&__heading {
		margin: 0 0 7px 0;
	}

	&__item {
		color: $grey;
		line-height: 1.4;
		margin: 0 0 20px 0;
	}

	&__section {

		.list {
			min-height: 70px;
		}
	}

	&__zero {
		padding: 10px;
		box-sizing: border-box;
	}

	&__emailconfirm {
		box-sizing: border-box;
		padding: 20px;
	}
}
