// показать результаты по румам

.b-result-show {
	margin: 0 0 15px 0;
	@include shadow;

	&__heading {
		background-color: $light-green;
		padding: 10px;
		color: white;
		box-sizing: content-box;
		display: block;
		margin: 0;

		@include respond-to(mobile) {
			font-size: 16px;
		}

		@include respond-to(tablets) {
			font-size: 16px;
		}
	}

	&__room {
		display: flex;
		flex-wrap: wrap;
	}

	&__team {
		flex-grow: 1;
		border-right: 1px solid $background-page;
		border-bottom: 1px solid $background-page;
		width:49%;
		padding: 15px;
		box-sizing: border-box;

		@include respond-to(mobile) {
			width:100%;
		}

		h3 {
			margin: 0 0 5px 0;

			@include respond-to(mobile) {
				font-size: 16px;
			}

			@include respond-to(tablets) {
				font-size: 16px;
			}
		}

		p {
			margin-bottom:5px;
		}
	}
}


// внести результаты раунда

.b-result {

	&-enter {
		margin: 0 0 15px 0;
		@include shadow;

		&__heading {
			background-color: $light-green;
			display: flex;
			align-items: center;

			h3 {
				margin:0 0 0 10px;
				color: white;

				@include respond-to(mobile) {
					font-size: 16px;
				}

				@include respond-to(tablets) {
					font-size: 16px;
				}
			}
		}

		&__checkbox {
			margin: 10px;

			input {
				display: none;
			}

			span {
				color: white;
			}
		}

		&__room {
			display: flex;
			flex-wrap: wrap;
		}

		&__team {
			flex-grow: 1;
			border-right: 1px solid $background-page;
			border-bottom: 1px solid $background-page;
			width:49%;
			padding: 15px;
    		box-sizing: border-box;

			@include respond-to(mobile) {
				width:100%;
				font-size: 14px;
			}

			h3 {
				font-size: 16px;
			}
		}

		&__position {
			margin-bottom: 10px;

			p {
				margin-bottom:5px;
			}

            input[type='number'] {
                width:250px;
            }

            label {
                display: inline-block;
            }
		}
	}

	&__confirm {
		margin: 20px;
		display: inline-block;
	}
}


// редактировать румы при создании раунда

.b-result-edit {
	margin-top: 20px;
	border: 1px solid $background-page;
	box-shadow: 0 2px 10px rgba(0,0,0,0.1);

	&__heading {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px solid $background-page;

		.chair, .place {
			display: flex;
			margin: 10px;
			align-items: center;
		}

		h3 {

			@include respond-to(mobile) {
				font-size: 16px;
			}

			@include respond-to(tablets) {
				font-size: 16px;
			}
		}
	}

	&__label {
		margin-right:10px;
	}

	&__room {
		display: flex;

		flex-wrap: wrap;
	}

	&__team {
		width:50%;
		padding: 20px;
		box-sizing: border-box;
	}

	&__submit {
		margin-top: 20px;
	}

}

.b-edit__swap {
	background-color: $hover;
}