// результаты раунда

.b-result {

	&-enter {
		margin: 0 0 15px 0;

		&__heading {
			display: flex;
			align-items: center;
			border: 1px solid $grey;
			min-height: 50px;

            @include respond-to(mobile) {
				display: block;
                padding:10px 0 0 0;
			}

			h3 {
				margin:0 0 0 10px;
			}
		}

		&__checkbox {
			margin: 10px;

			input {
				display: none;
			}
		}

		&__room {
			display: flex;
			flex-wrap: wrap;
		}

		&__team {
			flex-grow: 1;
			width:49%;
			padding: 15px;
    		box-sizing: border-box;
			line-height: 1.4;
			border-bottom: 1px solid $grey;

			@include respond-to(mobile) {
				width:100%;
				font-size: 14px;
			}

			h3 {
				font-size: 16px;
				margin-top: 0;
			}
		}

		&__team:nth-child(odd) {
			border-right: 1px solid $grey;
			border-left: 1px solid $grey;
		}

		&__team:nth-child(even) {
			border-right: 1px solid $grey;
		}

		&__position {
			margin-bottom: 10px;

			p {
				margin-bottom:5px;
			}

            input[type='number'] {
                width:250px;
            }

            label {
                display: inline-block;
            }
		}
	}

	&__confirm {
		display: inline-block;
        @include respond-to(mobile) {
            margin: 0 15px;
        }
	}
}


// редактировать румы при создании раунда

.b-result-edit {
	margin-top: 20px;
	border-top: 1px solid $grey;
	border-left: 1px solid $grey;

	&__heading {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px solid $grey;
		border-right: 1px solid $grey;

		.chair, .place {
			display: flex;
			margin: 10px;
			align-items: center;
		}

		h3 {

			@include respond-to(mobile) {
				font-size: 16px;
			}

			@include respond-to(tablets) {
				font-size: 16px;
			}
		}
	}

	&__label {
		margin-right:10px;
	}

	&__room {
		display: flex;

		flex-wrap: wrap;
	}

	&__team {
		width:50%;
		padding: 20px;
		box-sizing: border-box;
		border-bottom: 1px solid $grey;
		border-right: 1px solid $grey;

        p, span {
            line-height: 1.4;
        }
	}

	&__submit {
		margin-top: 20px;
	}

}

.b-edit__swap {
	background-color: lighten($sec, 10%);
}
