aside {
	display: inline-block;
	width: 250px;
	vertical-align: top;
	background-color: $green;

	@include respond-to(mobile) {
		width: 100%;
	}

	@include respond-to(tablets) {
		width: 100%;
	}
}

.b-sidebar {
	display: block;
	vertical-align: top;
	box-sizing: border-box;

	@include respond-to(mobile) {
		width: 100%;
	}

	@include respond-to(tablets) {
		width: 100%;
	}

	&__list {
		text-align: left;
		padding: 20px 0px;
	}

	&__heading {
		margin: 10px 0 15px 20px;
        color: white;
	}

	&__listitem {
		display: block;
		padding: 8px 20px;
		box-sizing: border-box;

		@include respond-to(tablets) {
			display: inline-block;
    		padding: 8px 16px;
		}

		a {
			display: block;
			color: $grey;
			font-weight: 700;
		}

		&:hover {
			background-color: $hover;
			transition: background-color 0.3s ease;
		}

	}

	&__button {
		width: 80%;
		margin: 0 0 20px 20px;
	}

}

#sidebar2 {
	margin-top: 30px;

	@include respond-to(mobile) {
		margin: 0;
	}

	@include respond-to(tablets) {
		margin: 0;
	}
}

.aside-right {
	display: none;

	@include respond-to(desctop) {
		display: inline-block;
		background-color: none;
		width: 19%;
		min-width: 250px;
	}
}

.vk-widget {
	display: block;
	background-color: $background-block;
	vertical-align: top;
	padding-left: 30px;
}
