.b-table {
	font-size: 13px;
    width: 100%;

	&__page {
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
    }

    &__headrow, &__row {
		color: $grey;
		border-bottom: 1px solid $background-page;
		min-height: 40px;
	}

	&__headstring {

		&_half, &_thirty, &_narrow {
			background-color: $beige;
			color: $dark;

		}
	}

	&__headstring, &__string {

		&_half, &_thirty, &_narrow {
            padding: 8px 10px;
        }

        &_half {
			width: 50%;
			min-width: 40px;

			.wrap {
				padding-left: 20px;
			}

		}

		&_thirty {
			width: 16%;
			text-align: center;
			min-width: 40px;
		}

		&_narrow {
			text-align: center;
			min-width: 40px;
		}

	}

	&__headrow {
		background-color: $lightbeige;
		color: $dark;

		th {
			font-weight: 700;
		}

	}

	&__row {

		&:hover {
			background-color: $hovergrey;
		}
	}

}