.b-tabs {
	background-color: $buttondark;

	&__label {
		display: inline-block;
  		padding: 15px 20px;
 		font-weight: 600;
  		text-align: center;
  		color: $grey;

        @include respond-to(mobile) {
            padding: 15px 7px;
        }
	}

	&__label:hover {
  		cursor: pointer;
  		color: $dark;
		height: 15px;
  		background-color: $deep-dark;
  		transition: 0.2s ease color background-color;
	}

	&__input:checked + label {
		background-color: $green;
		color: white;
		border-bottom: 1px solid $green;
		height: 15px;
	}

	&__input {
		display: none;
	}

	&__one, &__two, &__three, &__four, &__five, &__common{
		display: none;
  		background: white;
  		float: left;
  		width: 100%;
	}
}

#tab1:checked ~ .b-tabs__one,
#tab2:checked ~ .b-tabs__two,
#tab3:checked ~ .b-tabs__three,
#tab4:checked ~ .b-tabs__four,
#tab5:checked ~ .b-tabs__five {
	display: block;
}
