.b-table {
    font-size: 14px;
    text-align: left;

    &__headrow {
        background-color: $prime;
        color: white;

        th {
            font-weight: 700;
            text-align: left;
            padding:8px;
        }

    }

    &__row {
        border-bottom: 1px solid $grey;
        min-height: 40px;

        &:hover {
            background-color: $back;
        }

        td {
            text-align: left;
            padding:8px;
        }

        &--max {
            width:80%;
        }
    }
}
