// новая верстка табов

.accordion-tabs {
    padding: 0;
    width:100%;

    &::after {
        clear: both;
        content: "";
        display: table;
    }

  .tab-header-and-content {
      list-style: none;
      display: inline;

      &__first {
          margin-left:20px;
      }

      label {
          color: $prime;
      }

      .link-to-analytics {
          font-weight: 700;
      }
  }

  .tab-link {
      display: block;
      padding: 20px 0;
      margin-right: 20px;
      display: inline-block;
      font-weight: 700;
  }

  .is-active {
      color: $sec;
      border-bottom: 2px solid $sec;
  }

  .tab-content {
      display: none;
      width: 100%;
      float: left;
      border-top: 1px solid $grey;
  }
}
