.b-teamlist {
	padding: 30px 0 30px 0;
	border-bottom: 1px $background-page solid;
	position: relative;

	&:hover {
		background-color: $hover;
		transition: background-color 0.2s ease;
	}

	&__wrapper {
		margin: 0 20px 0 20px;
	}

	&__heading {

		select {
			@include respond-to(mobile) {
				float: inherit !important;
				margin: 0 !important;
			    display: block;
			    width: 100% !important;
			}
		}

		&_mine {
			margin: 0 0 20px 0;
			width: 50%;
		}

		h3 {
			display: inline;
			margin-right: 20px;

			@include respond-to(mobile) {
				display: block;
			}

			a {
				display: inline;
				border-bottom: 1px dashed $grey;
				padding-bottom: 3px;
			}
		}
	}

	&__status {
		color: $grey;
		margin: 0 0 10px 0;

		a {
			display: inline;
			border-bottom: 1px dashed $grey;
			padding-bottom: 3px;
			color: $grey;
			font-weight: 400;
		}
	}

	&__profile {
		cursor: auto;
		margin: 15px 0 0 0;

		a {
			display: inline;
			border-bottom: 1px dashed $grey;
			padding-bottom: 3px;
		}
	}

	&__select {
		float: right;

		select {
			@include respond-to(mobile) {
				display: block;
    			width: 100%;
    			margin-top: 10px;
			}
		}

		@include respond-to(mobile) {
			float: inherit;
			margin-top: 10px;
		}
	}

}

.b-teamlist-tournament {
	padding: 20px 0px 20px 0px;
	border-bottom: 1px $background-page solid;
	@include span(100% no-gutters);

	&:hover {
		background-color: $hover;
		transition: background-color 0.2s ease;
	}

	&__wrapper {
		margin: 0 20px;
	}

	&__team {
		@include span(1 of 3 no-gutters);
	}

	&__actions {
		@include span(2 of 3 last);
		margin-top: 20px;
	}

	&__select {
		float: right;
		margin-left: 20px;
	}

	&__button {
		float: right;
	}

	&__save {
		padding: 20px 0 20px 0;
	}

}

.count-by-role {
    box-sizing: border-box;

	&__buttons {
		list-style-type: none;
        display: flex;
        flex-direction: row;

        a {
            font-size: 14px;
            margin-right: 20px;
        }
	}

	&__confirm {
		margin-bottom: 20px;
		margin-top: 20px;
		margin-left: 20px;

        &:disabled {
            background-color: $disabled_button;
        }
	}
}



// список команд в добавлении команд

.add-teams {

	&__no {
        margin-top:30px;
	}

}
