.title {
    padding: 20px 0;
    width:100%;
    border-bottom: 1px solid $grey;

    &-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin:0 20px;

        .button {
            margin-left: 10px
        }
    }

    &__name {
        font-family: "Roboto";
        margin:0;
    }
}

.stats {
    padding: 20px 0;
    background-color: white;
    width:100%;

    &-container {
        display: flex;
        margin:0 20px;
    }

    &__elem {
        line-height: 2;
        margin-right: 25px;
    }
}
