.b-tournament-confirm {
    padding: 20px;

    h3, p {
        text-align: center;
    }

    &__buttons {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        a {
            margin: 0 5px;
        }
    }
}