// buttons

@mixin buttontwo() {
	display: inline-block;
	padding: 6px 12px;
	border-radius: 6px;
	color: $dark;
	font-size: 14px;
	min-height: 20px;
	box-sizing: border-box;
	border: 1px solid $dark;
	background-color: transparent;
    height:30px;

	&:hover {
		border: 1px solid $dark;
		color: $dark;
		transition: color 0.3s ease;
	}
}

.button {
    display: inline-block;
    font-family: "Roboto Mono";
    font-weight: 700;
	border: none;
	color: white;
	background-color: $prime;
	box-sizing: border-box;
    cursor: pointer;

    a {
        color: white;
    }

    &--max {
        height:40px;
        line-height:40px;
        padding: 0 15px;
    }

    &--mid {
        height:35px;
        line-height:35px;
        padding: 0 10px;
    }

    &--upper {
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &--min {
        height:30px;
        line-height:30px;
        padding: 0 10px;
        font-size: 12px;
    }

    &--prime {
        background-color: $prime;
        color: white;
    }

    &--sec {
        background-color: $sec;
        color: white;
    }

    &--white {
        background-color: white;
        color: $prime;
    }

    &__text {

        &--prime {
            color: $prime;
        }

        &--white {
            color: white;
        }
    }

}

.button-group {
    display: flex;
    margin:10px 0;
    font-size: 13px;

    input {
        display: none;
    }

    label {
        font-weight: normal;
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        border-left: 1px solid $grey;
        float: left;
    }

    label:last-child {
        border-right: 1px solid $grey;
    }

    label:first-child {
        border-left: 1px solid $grey;
    }

    .button-group-item {
        cursor: pointer;
        display: inline-block;
        width: auto;
        line-height: 1;
        padding: .75em .8em;
    }

    input:checked + .button-group-item {
        background-color: $prime;
        color: white;

        span {
            color: white;
        }
    }
}

.button-group-reverse {
    display: flex;
    margin:10px 0;
    font-size: 13px;

    input {
        display: none;
    }

    label {
        font-weight: normal;
        float: left;
    }

    .button-group-item {
        cursor: pointer;
        display: inline-block;
        width: auto;
        line-height: 1;
        padding: .75em .8em;
        @include shadow;
        border-radius: 4px;
    }

    input:checked + .button-group-item {
        box-shadow: none;
        opacity:0.5;
    }
}


// dropdowns

.dropdown {

    .dropdown-container {
        display: inline-block;
        position: relative;
        text-align: center;
        margin-bottom: 10px;
    }

    .dropdown-button {
        cursor: pointer;
        float: right;
        position: relative;
        padding: 10px;
        border: 1px solid $grey;
        font-size: 14px;

        i {
            margin: 0 0 0 3px;
            color: $grey;
        }
    }

    .dropdown-button:after {
        display: block;
        position: absolute;
    }

    .dropdown-menu {
        cursor: pointer;
        display: none;
        overflow: show;
        position: absolute;
        text-align: left;
        background-color: white;
        top: 50px;
        width: 200px;
        z-index: 99999;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);

        li {
            padding: 10px;
            font-size: 14px;
        }
    }

    .show-menu {
        display: block;
    }
}


@mixin disclaimer {
    display: block;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;

    @include respond-to(mobile) {
        float: none;
        margin: 10px 0;
        display: block;
        width: 100%;
    }
}

.disclaimer {

    &-red, &-yellow, &-green {

        @include disclaimer;

        p {
            color: white;
        }
    }

    &-red {
        background-color: $error;
    }

    &-yellow {
        background-color: gold;
    }

    &-green {
        background-color: $sec;
    }
}

@mixin notification {
    display: block;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    color: white;
    width:100%;
    max-width: 780px;
    line-height: 1.3;
}

.notification {

    &-red, &-yellow, &-green {
        @include notification;
    }

    &-red {
        background-color: $error;
    }

    &-green {
        background-color: $sec;
    }

    &-yellow {
        background-color: gold;
    }
}

@mixin banner {
    box-sizing: border-box;
    display: block;
    width: 100%;

    @include respond-to(large) {
        padding: 40px;
    }
    @include respond-to(tablets) {
        padding: 20px;
    }
    @include respond-to(mobile) {
        padding: 20px;
    }
}

.b-banner {

    &__button {
        display: inline-block;
        margin-top: 10px;
    }

    &__close {
        position: absolute;
        top: 9%;
        right: 3%;
        color: white;
    }

    &-red, &-yellow, &-green {
        @include banner;
        position: relative;

        p {
            color: white;
            line-height: 1.4;
            display: inline-block;

            @include respond-to(large) {
                width: 60%;
            }
            @include respond-to(tablets) {
                width: 100%;
            }
            @include respond-to(mobile) {
                width: 100%;
            }
        }

    }

    &-red {
        background-color: orangered;
    }

    &-green {
        background-color: green;
    }

    &-yellow {
        background-color: gold;
    }
}

.b-paging {
    display: flex;
    width: 100%;
    justify-content: center;

    &__prev, &__next, &__numbers {
        box-sizing: border-box;
        display: inline-block;
        cursor: pointer;
        padding: 20px 0;

        i, a {
            color: $prime;
        }
    }

    &__next {

        i {
            margin-left: 10px;
        }
    }

    &__prev, &__numbers {
        margin-right: 20px;
    }

    &__numbers {

        span {
            color: $prime;
            margin-right: 10px;
        }

    }
}

.reverse {
    background-color: $grey;
}


// баннер сверху страницы

.topbanner {
    background-color: $prime;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        color: white;
        font-family: "Roboto Mono";
        font-weight: 700;
        letter-spacing: 1px;
    }
}


