// links

.link {
    color: $dark;
    cursor: pointer;
    border-bottom: 1px solid $dark;
}



// buttons


.button {
    display: inline-block;
    font-weight: 500;
	border: none;
	color: white;
	background-color: $prime;
	box-sizing: border-box;
    cursor: pointer;
    border-radius: 2px;

    i {
        margin-right:10px;
        vertical-align: sub;
    }

    &--max {
        height:40px;
        line-height:40px;
        padding: 0 15px;
        font-size: 16px;
    }

    &--mid {
        height:35px;
        line-height:35px;
        padding: 0 10px;
        font-size: 14px;
    }

    &--min {
        height:33px;
        line-height:33px;
        padding: 0 10px;
        font-size: 12px;
    }

    &--inline {
        margin-left: 8px;
        display: inline-block;
    }

    &--upper {
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &--prime {
        background-color: transparent;
        border: 1px solid $prime;
        color: $prime;
    }

    &--sec {
        background-color: $sec;
        color: white;
        transition: 0.2s ease background-color;

        &:hover {
            background-color: darken($sec, 8%);
            transition: 0.2s ease background-color;
        }
    }

    &--white {
        background-color: white;
        color: $prime;
    }

    &--nomarin {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__text {

        &--prime {
            color: $prime;
        }

        &--white {
            color: white;
        }
    }

}

.button-group {
    display: flex;
    margin:10px 0;
    font-size: 14px;

    input {
        display: none;
    }

    label {
        font-weight: normal;
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        border-left: 1px solid $grey;
        float: left;
    }

    label:last-child {
        border-right: 1px solid $grey;
    }

    label:first-child {
        border-left: 1px solid $grey;
    }

    .button-group-item {
        cursor: pointer;
        display: inline-block;
        width: auto;
        line-height: 1;
        padding: .75em .8em;
    }

    input:checked + .button-group-item {
        background-color: $prime;
        color: white;

        span {
            color: white;
        }
    }
}

.button-group-reverse {
    display: flex;
    margin:10px 0;
    font-size: 13px;

    input {
        display: none;
    }

    label {
        font-weight: normal;
        float: left;
    }

    .button-group-item {
        cursor: pointer;
        display: inline-block;
        width: auto;
        line-height: 1;
        padding: .75em .8em;
        border-radius: 4px;
    }

    input:checked + .button-group-item {
        box-shadow: none;
        opacity:0.5;
    }
}


.group {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-item {
        margin-right: 20px;
    }
}



// выпадающее меню

.dropbtn {
    display: flex;
    align-items: center;
    color: $prime;
    cursor: pointer;

    i {
        margin-left: 4px;
        font-size: 22px;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    border: 1px solid $back;
    border-radius: 2px;
    z-index: 999;
    margin: 10px 0 0 0;
}

.dropdown-content a {
    color: $prime;
    padding: 14px 16px;
    display: block;
    text-transform: none;
    max-width: 200px;
    line-height: 1.4;
}

.dropdown-content a:hover {
    background-color: $back;
}

.is-shown {
    display: block;
}




// benners

.banner {
    position: fixed;
    bottom: 0;
    margin:20px;

    .notification-green, .notification-red {
        margin: 0;
    }

    &__action, &__close {
        width:22px;
        height:22px;
        margin-left: 8px;
    }
}




// notifications

@mixin notification {
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 800px;
    line-height: 1.7;
    padding-left: 20px;
    margin-bottom: 20px;
}

.notification {

    &-red, &-yellow, &-green {
        @include notification;
    }

    &-red {
        background-color: lighten($error, 25%);
        border: 2px solid $error;
        color: $error;
    }

    &-green {
        background-color: lighten($submit, 25%);
        border: 2px solid $submit;
        color: $submit;
    }

    &-yellow {
        background-color: lighten($warning, 25%);
        border: 2px solid $warning;
        color: $warning;
    }

    &--top {
        margin-top:20px;
        margin-bottom: 0;
    }
}




// пагинация

.paging {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    &__prev, &__next, &__numbers {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 20px 0;

        i, a {
            color: $prime;
        }

        i {
            font-size: 18px;
        }
    }

    &__next {

        i {
            margin-left: 10px;
        }
    }

    &__prev {

        i {
            margin-right: 20px;
        }
    }

    &__prev {
        margin-right: 20px;
    }

    &__numbers {

        span {
            color: $prime;
            margin-right: 20px;
            font-size: 18px;
        }

    }
}




//

.reverse {
    background-color: $grey;
}

#new_admin {
    a {
        display: block;
        margin-top: 10px;
        text-align: center;

        @include respond-to(tablets) {
            max-width: 220px;
        }

        @include respond-to(large) {
            max-width: 220px;
        }
    }
}

.show_checkbox {
    display: none;
}
