// buttons

.button {
    display: inline-block;
    font-family: "Roboto Mono";
    font-weight: 700;
	border: none;
	color: white;
	background-color: $prime;
	box-sizing: border-box;
    cursor: pointer;

    a {
        color: white;
    }

    &--max {
        height:40px;
        line-height:40px;
        padding: 0 15px;
        font-size: 16px;
    }

    &--mid {
        height:35px;
        line-height:35px;
        padding: 0 10px;
        font-size: 14px;
    }

    &--min {
        height:33px;
        line-height:33px;
        padding: 0 10px;
        font-size: 12px;
    }

    &--inline {
        margin-bottom: 8px;
    }

    &--upper {
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &--prime {
        background-color: $prime;
        color: white;
    }

    &--sec {
        background-color: $sec;
        color: white;
    }

    &--white {
        background-color: white;
        color: $prime;
    }

    &__text {

        &--prime {
            color: $prime;
        }

        &--white {
            color: white;
        }
    }

}

.button-group {
    display: flex;
    margin:10px 0;
    font-size: 14px;

    input {
        display: none;
    }

    label {
        font-weight: normal;
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        border-left: 1px solid $grey;
        float: left;
    }

    label:last-child {
        border-right: 1px solid $grey;
    }

    label:first-child {
        border-left: 1px solid $grey;
    }

    .button-group-item {
        cursor: pointer;
        display: inline-block;
        width: auto;
        line-height: 1;
        padding: .75em .8em;
    }

    input:checked + .button-group-item {
        background-color: $prime;
        color: white;

        span {
            color: white;
        }
    }
}

.button-group-reverse {
    display: flex;
    margin:10px 0;
    font-size: 13px;

    input {
        display: none;
    }

    label {
        font-weight: normal;
        float: left;
    }

    .button-group-item {
        cursor: pointer;
        display: inline-block;
        width: auto;
        line-height: 1;
        padding: .75em .8em;
        @include shadow;
        border-radius: 4px;
    }

    input:checked + .button-group-item {
        box-shadow: none;
        opacity:0.5;
    }
}



// выпадающее меню

.dropbtn {
    display: flex;
    align-items: center;

    &:hover {
        color: $prime;
    }

    i {
        margin-left: 4px;
        font-size: 22px;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    border: 1px solid $back;
    z-index: 999;
    margin:10px 0 0 0;
}

.dropdown-content a {
    color: $prime;
    padding: 14px 16px;
    display: block;
    text-transform: none;
}

.dropdown-content a:hover {
    background-color: $sec;
    color: white;
}

.is-shown {
    display: block;
}


// notifications

@mixin notification {
    display: block;
    padding: 10px;
    max-width: 800px;
    margin: 10px auto;
    line-height: 1.7;
    padding-left: 20px;
}

.notification {

    &-red, &-yellow, &-green {
        @include notification;
    }

    &-red {
        background-color: lighten($error, 25%);
        border: 2px solid $error;
        color: $error;
    }

    &-green {
        background-color: lighten($sec, 25%);
        border: 2px solid $sec;
        color: $sec;
    }

    &-yellow {
        background-color: lighten($warning, 25%);
        border: 2px solid $warning;
        color: $warning;
    }
}

@mixin banner {
    box-sizing: border-box;
    display: block;
    width: 100%;

    @include respond-to(large) {
        padding: 40px;
    }
    @include respond-to(tablets) {
        padding: 20px;
    }
    @include respond-to(mobile) {
        padding: 20px;
    }
}




// benners

.b-banner {

    &__button {
        display: inline-block;
        margin-top: 10px;
    }

    &__close {
        position: absolute;
        top: 9%;
        right: 3%;
        color: white;
    }

    &-red, &-yellow, &-green {
        @include banner;
        position: relative;

        p {
            color: white;
            line-height: 1.4;
            display: inline-block;

            @include respond-to(large) {
                width: 60%;
            }
            @include respond-to(tablets) {
                width: 100%;
            }
            @include respond-to(mobile) {
                width: 100%;
            }
        }

    }

    &-red {
        background-color: orangered;
    }

    &-green {
        background-color: green;
    }

    &-yellow {
        background-color: gold;
    }
}


// баннер сверху страницы

.topbanner {
    background-color: $prime;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        color: white;
        font-family: "Roboto Mono";
        font-weight: 700;
        letter-spacing: 1px;
    }
}




// пагинация

.paging {
    display: flex;
    width: 100%;
    justify-content: center;

    &__prev, &__next, &__numbers {
        box-sizing: border-box;
        display: inline-block;
        cursor: pointer;
        padding: 20px 0;

        i, a {
            color: $prime;
        }
    }

    &__next {

        i {
            margin-left: 10px;
        }
    }

    &__prev, &__numbers {
        margin-right: 20px;
    }

    &__numbers {

        span {
            color: $prime;
            margin-right: 10px;
        }

    }
}

.reverse {
    background-color: $grey;
}
