{% load staticfiles %}

<!DOCTYPE html>

<html>
<head lang="ru">
<meta charset="UTF-8">

<title>
    {% block head_title %} Новый турноман. Мы заставим вас вздачнуть... {% endblock head_title %}
</title>

{% block libs %}
    <link rel="stylesheet" href="{% static 'main/css/normalize.css' media='screen,projection' %}">
    <link rel="stylesheet" href="{% static 'main/css/materialize.css' media='screen,projection' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'main/js/materialize.min.js' %}"></script>
{% endblock libs %}

{% block extra_head %}
{% endblock extra_head %}

</head>


<body>
{% block body %}
    <div class="container card-panel">
        <div class="row" id="pagewrapper">

            <header class="header col s12">
                <div id="logo" class="col s3">
                    <img src="{% static 'main/img/logo.png' %}" alt="">
                </div>
                <div class="col s9">
                {% block header %}
                    <h3>
                        {% block page_title %} Название страницы {% endblock page_title %}
                    </h3>
                    <div id="button-wrapper">
                        <button class="waves-effect waves-light btn">
                            <a href="{% url 'tournament:new' %}"><i class="mdi-content-add left"></i>Создать турнир</a>
                        </button>
                    </div>
                </div>
                {% endblock header %}
            </header>
            
            <aside class="col s3">
            {% block sidebar%}
                
                <ul class="side-nav">
                    <li class=""><a href="#">Профиль</a></li>
                    <li class=""><a href="#">Мои турниры</a></li>
                    <li class=""><a href="#">Мои заявки</a></li>
                    <li class="">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'account_logout' %}">Выйти</a>
                        {% else %}
                            <a href="{% url 'account_login' %}">Войти</a>
                        {% endif %}
                    </li>
                </ul>
                {% if request.user.is_authenticated %}
                    {% else %}
                        <button class="btn" id="registration_btn"><a href="{% url 'account_signup' %}">Зарегистрироваться</a></button>
                    {% endif %}
            {% endblock sidebar %}
            </aside>
            
            {% block content %}
            {% endblock content %}
            
        </div>

        <footer class="page-footer col s12">
        {% block footer %}
            <ul>
                <li>О проекте</li>
                <li>Список изменений</li>
                <li>Помощь</li>
                <li>Обратная связь</li>
                <li>ВК</li>
            </ul>
        {% endblock footer %}
        </footer>

    </div>
{% endblock body %}

{% block extra_body %}
{% endblock extra_body %}
</body>
</html>
