{% load staticfiles %}

<!DOCTYPE html>

<html>
<head lang="ru">
<meta charset="UTF-8">

<title>
    {% block head_title %} Новый турноман {% endblock head_title %}
</title>

{% block libs %}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/mootools/1.5.1/mootools-yui-compressed.js">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>

{% endblock libs %}

{% block extra_head %}
{% endblock extra_head %}

</head>

{% if debug %}
    {# скрипт liveReload #}
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
{% endif %}

<body>
{% block body %}
    <div class="page_wrapper">

        <header>
            <div id="logo">
                <a href="/"><img src="{% static 'main/img/logo.png' %}" alt=""></a>
            </div>

            {% block header %}
            <div class="header_container">
                <div id="page_title">
                    <h3>
                    {% block page_title %} Название страницы {% endblock page_title %}
                </h3>
                </div>
                <div id="header_button">
                    <a id="create_cup" class="button" href="{% url 'tournament:new' %}">Создать турнир</a>
                </div>
            </div>
            {% endblock header %}
        </header>

        <section class="content_conteiner">

            <aside>
            <div class="sidebar" id="sideba1">
            {% block sidebar1%}
                <ul>
                    {% if request.user.is_authenticated %}

                        <h3><a href="#">Профиль</a></h3>
                        <li><a href="#">Мои турниры</a></li>
                        <li><a href="#">Мои заявки</a></li>
                        <li><a href="{% url 'account_logout' %}">Выйти</a></li>

                    {% else %}

                        <li class=""><a href="{% url 'account_login' %}">Войти</a></li>
                        <li class=""><a href="{% url 'account_signup' %}">Зарегистрироваться</a></li>

                    {% endif %}
                </ul>
            {% endblock sidebar1 %}
            </div>
            
            {% if is_owner %}
            <div class="sidebar" id="sidebar2">
            {% block sidebar2%}
                <ul>
                    <h3>Турнир</h3>
                    <li><a href="{% url "tournament:check_team_list" tournament.id %}"> Начать </a></li>
                    <li><a href="{% url "tournament:edit" tournament.id %}"> Параметры </a></li>
                    <li><a href="{% url "tournament:edit_team_list" tournament.id %}"> Команды </a></li>
                    <li><a href="{% url "tournament:edit_adjudicator_list" tournament.id %}"> Судьи</a></li>
                    <li><a href="{% url "tournament:remove" tournament.id %}"> Удалить </a></li>
                </ul>
            {% endblock sidebar2 %}
            </div>
            {% endif %}
            </aside>

            <div class="content">
            {% block content %}
            {% endblock content %}
            </div>

        </section>

    <footer class="">
    {% block footer %}
        <ul id="footer_info">
            <li>О проекте</li>
            <li>Список изменений</li>
            <li>Помощь</li>
            <li>Обратная связь</li>
        </ul>
        <ul id="contact">
            <li>BK</li>
            <li>FB</li>
        </ul>
    {% endblock footer %}
    </footer>

    </div>
{% endblock body %}

{% block extra_body %}
{% endblock extra_body %}
</body>
</html>
