{% load staticfiles %}

<!DOCTYPE html>

<html>
<head lang="ru">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="{% static 'main/img/favicon.ico'%}"/>

<title>
    {% block head_title %} Tabmaker {% endblock head_title %}
</title>

{% block libs %}
    {% if debug %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css">

    {% else %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% endif %}
{% endblock libs %}

{% block extra_head %}
{% endblock extra_head %}

</head>

{% if debug %}
    {# скрипт liveReload #}
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
{% endif %}

<body>

    {% if not debug %}
        {# Google Tag Manager #}
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5H6LKZ"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5H6LKZ');</script>
        {# End Google Tag Manager #}
    {% endif %}

{% block body %}
    <div class="page_wrapper">

        <header>

            <div id="logo">
                <a href="/"><img src="{% static 'main/img/logo.png' %}" alt=""></a>
            </div>

            {% block header %}
                <div class="header_container">
                    <i class="fa fa-bars fa-2x burger-icon"></i>
                    <div id="page_title">
                        <h3>
                        {% block page_title %} Название страницы {% endblock page_title %}
                    </h3>
                    </div>
                    {% block header_button %}
                    {% endblock header_button %}
                </div>
            {% endblock header %}
        </header>

        <section class="content_conteiner">

            <aside>
            <div class="b-sidebar" id="sidebar1">
            {% block sidebar1%}

                {% include 'account/sidebar.html' %}

            {% endblock sidebar1 %}
            </div>

            {% block sidebar2%}
            {% endblock sidebar2 %}

            </aside>

            <div class="content">
            {% block content %}
            {% endblock content %}
            </div>

        </section>

    <footer>
    {% block footer %}
        <div class="b-footer">
            {# <ul class="b-footer__info"> #}
                {# <li>Tabmaker, 2015</li> #}
            {# </ul> #}
            <ul class="b-footer__contact">
                {# <li>BK</li> #}
                {# <li>FB</li> #}
                <li>Tabmaker, 2015</li>
            </ul>
        </div>
    {% endblock footer %}
    </footer>

    </div>
{% endblock body %}

{% block extra_body %}
{% endblock extra_body %}
</body>
</html>
