/* line 5, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/modules/_layout.scss */
body {
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #0C152A;
}

/* line 12, ../sass/modules/_layout.scss */
ul, a {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 18, ../sass/modules/_layout.scss */
h3, h5, p, a, li, label {
  color: #58697A;
}

/* line 22, ../sass/modules/_layout.scss */
h1, h2, h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

/* line 27, ../sass/modules/_layout.scss */
h1 {
  font-size: 24px;
}

/* line 31, ../sass/modules/_layout.scss */
h2 {
  font-size: 20px;
}

/* line 35, ../sass/modules/_layout.scss */
h3 {
  font-size: 18px;
}

/* line 39, ../sass/modules/_layout.scss */
a {
  text-decoration: none;
}

/* line 44, ../sass/modules/_layout.scss */
.button {
  margin: 20px 10px 5px 0px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  min-height: 20px;
  background-color: #0C152A;
  box-sizing: border-box;
  background-color: #0C152A;
  width: 100%;
}
/* line 49, ../sass/modules/_layout.scss */
.button a {
  color: white;
}

/* line 54, ../sass/modules/_layout.scss */
.page_wrapper {
  width: 1024px;
  margin: 0 auto;
  background-color: #ECEEF1;
}

/* line 1, ../sass/modules/_header.scss */
header {
  height: 100px;
  background-color: #189A66;
  vertical-align: middle;
  display: block;
}
/* line 7, ../sass/modules/_header.scss */
header #logo {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 12, ../sass/modules/_header.scss */
header #logo img {
  display: inline-block;
  vertical-align: middle;
  height: 60%;
  max-width: none;
  max-height: 80px;
  margin: 15px 30px 0 10px;
}
/* line 23, ../sass/modules/_header.scss */
header .header_container {
  display: inline-block;
  width: 75%;
}
/* line 27, ../sass/modules/_header.scss */
header .header_container #page_title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 55px;
  width: 70%;
}
/* line 33, ../sass/modules/_header.scss */
header .header_container #page_title h3 {
  color: white;
  font-size: 24px;
  margin-bottom: 0px;
  width: 90%;
}
/* line 40, ../sass/modules/_header.scss */
header .header_container #header_button {
  display: inline-block;
}

/* line 1, ../sass/modules/_sidebar.scss */
aside {
  display: inline-block;
  width: 25%;
}

/* line 6, ../sass/modules/_sidebar.scss */
.sidebar {
  display: block;
  width: 90%;
  background-color: #ffffff;
  border-radius: 3px;
  vertical-align: top;
}
/* line 13, ../sass/modules/_sidebar.scss */
.sidebar ul {
  text-align: left;
  padding: 20px;
}
/* line 17, ../sass/modules/_sidebar.scss */
.sidebar ul h3 {
  margin: 10px 0 20px 0;
}
/* line 21, ../sass/modules/_sidebar.scss */
.sidebar ul li {
  display: block;
  width: 100%;
  height: 25px;
  vertical-align: middle;
  margin: 0 0 3px 0;
}
/* line 28, ../sass/modules/_sidebar.scss */
.sidebar ul li a:hover {
  border-bottom: 2px solid #0D8153;
}
/* line 34, ../sass/modules/_sidebar.scss */
.sidebar #registration_btn {
  width: 80%;
  margin: 0 0 20px 20px;
}

/* line 3, ../sass/modules/_forms.scss */
input, select, textarea {
  max-width: 200px;
  padding: 5px 5px 5px 10px;
  height: 25px;
  border-radius: 5px;
  line-height: 20px;
  margin: 0 30px 10px 0;
  font-size: 14px;
  color: #58697A;
  background-color: white;
  border: 2px solid #ECEEF1;
}
/* line 15, ../sass/modules/_forms.scss */
input:focus, select:focus, textarea:focus {
  border: 2px solid #0D8153;
}

/* line 20, ../sass/modules/_forms.scss */
textarea {
  min-height: 100px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 14px;
  margin-bottom: 20px;
}

/* line 27, ../sass/modules/_forms.scss */
select {
  -webkit-appearance: none;
  height: 35px;
  min-width: 170px;
}

/* line 33, ../sass/modules/_forms.scss */
label {
  display: block;
  padding-right: 10px;
  margin: 0 0 10px 0;
}

/* line 39, ../sass/modules/_forms.scss */
form {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 660px;
}
/* line 12, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
form:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 43, ../sass/modules/_forms.scss */
form h3 {
  clear: both;
}

/* line 48, ../sass/modules/_forms.scss */
.formItem {
  margin: 0 30px 20px 0;
  width: 32.53012%;
  float: left;
  margin-right: 1.20482%;
}
/* line 52, ../sass/modules/_forms.scss */
.formItem > input, .formItem > label {
  display: inline-block;
}

/* line 57, ../sass/modules/_forms.scss */
#university, #adress, #count_teams_in_break, .last {
  float: right;
  margin-right: 0;
}

/* line 61, ../sass/modules/_forms.scss */
.full {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 65, ../sass/modules/_forms.scss */
#country, #street, #regdateOpen, #regdateClose, #link, .row {
  clear: both;
}

/* line 69, ../sass/modules/_forms.scss */
#tournamentName {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 72, ../sass/modules/_forms.scss */
#tournamentName input {
  max-width: 660px;
  width: 600px;
}

/* line 78, ../sass/modules/_forms.scss */
#street {
  width: 66.26506%;
  float: left;
  margin-right: 1.20482%;
}
/* line 81, ../sass/modules/_forms.scss */
#street input {
  max-width: 370px;
  width: 370px;
}

/* line 87, ../sass/modules/_forms.scss */
#aboutTournament, #player_experience, #adjudicator_experience, .textarea {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 90, ../sass/modules/_forms.scss */
#aboutTournament textarea, #player_experience textarea, #adjudicator_experience textarea, .textarea textarea {
  max-width: 660px;
  width: 600px;
  min-height: 100px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 14px;
}

/* line 99, ../sass/modules/_forms.scss */
#link {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 102, ../sass/modules/_forms.scss */
#link input {
  width: 100%;
}

/* line 107, ../sass/modules/_forms.scss */
.button.formItem {
  width: 32.53012%;
  float: left;
  margin-right: 1.20482%;
}

/* line 111, ../sass/modules/_forms.scss */
#loginButton {
  width: 32.53012%;
  float: left;
  margin-right: 1.20482%;
}

/* line 117, ../sass/modules/_forms.scss */
.errorlist li {
  color: red;
  font-size: 14px;
  display: inline;
  margin: -5px 0 0 5px;
}

/* line 3, ../sass/modules/_profile.scss */
.b-profile__item {
  line-height: 1.4;
}
/* line 7, ../sass/modules/_profile.scss */
.b-profile__button {
  margin: 20px 10px 5px 0px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  min-height: 20px;
  background-color: #0C152A;
  box-sizing: border-box;
}

/* line 1, ../sass/modules/_footer.scss */
footer {
  background-color: #189A66;
  height: 100px;
  padding: 20px 40px;
  display: block;
}
/* line 7, ../sass/modules/_footer.scss */
footer #footer_info {
  display: inline-block;
  width: 80%;
}
/* line 11, ../sass/modules/_footer.scss */
footer #footer_info li {
  color: white;
  display: inline;
  margin-right: 20px;
}
/* line 18, ../sass/modules/_footer.scss */
footer #contact {
  display: inline-block;
  width: 15%;
}
/* line 22, ../sass/modules/_footer.scss */
footer #contact li {
  display: inline;
  color: white;
  margin-right: 20px;
}

/* line 18, ../sass/main.scss */
.content_conteiner {
  padding: 30px 15px;
}

/* line 22, ../sass/main.scss */
.content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 70%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 3px;
  vertical-align: top;
  min-height: 190px;
}
/* line 12, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.content:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 35, ../sass/main.scss */
.content section ul {
  margin: 10px 0 0 0;
}
/* line 40, ../sass/main.scss */
.content .tournament_list {
  display: block;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 70px;
  margin: 0 0 20px 0;
}
/* line 46, ../sass/main.scss */
.content .tournament_list .list_item {
  display: inline-block;
  width: 75%;
  padding-right: 20px;
}
/* line 51, ../sass/main.scss */
.content .tournament_list .list_item h3 {
  display: block;
}
/* line 55, ../sass/main.scss */
.content .tournament_list .list_item ul {
  margin: 5px 0 0 0;
}
/* line 58, ../sass/main.scss */
.content .tournament_list .list_item ul li {
  display: inline;
  margin: 0px 30px 0 0;
  max-width: 200px;
}
/* line 66, ../sass/main.scss */
.content .tournament_list .reg_date {
  display: inline-block;
  width: 100px;
  vertical-align: top;
  font-weight: bold;
}
/* line 79, ../sass/main.scss */
.content .tournament_info h3 {
  margin-bottom: 20px;
}
/* line 83, ../sass/main.scss */
.content .tournament_info ul {
  margin: 0 0 20px 0;
}
/* line 86, ../sass/main.scss */
.content .tournament_info ul li {
  display: inline;
  margin: 5px 20px 20px 0;
}
/* line 92, ../sass/main.scss */
.content .tournament_info article {
  max-width: 600px;
  margin-bottom: 30px;
}
/* line 97, ../sass/main.scss */
.content .tournament_info #details {
  margin-bottom: 20px;
}
/* line 101, ../sass/main.scss */
.content .tournament_info .low-margin {
  margin: 0 0 5px 0;
}
/* line 107, ../sass/main.scss */
.content .tournament_info .actives li {
  display: inline-block;
  background-color: #189A66;
  margin: 0 10px 10px 0;
  color: white;
  padding: 5px;
  border-radius: 6px;
  line-height: 1;
}
/* line 118, ../sass/main.scss */
.content .tournament_info .button_wrapper {
  height: 70px;
}

/* line 131, ../sass/main.scss */
#team_in_list {
  margin-bottom: 20px;
}
/* line 134, ../sass/main.scss */
#team_in_list ul {
  margin: 5px 0 5px 0;
}
/* line 137, ../sass/main.scss */
#team_in_list ul li {
  display: inline;
}

/* line 149, ../sass/main.scss */
#email_confirm h3 {
  text-align: center;
}
