/* line 5, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/modules/_layout.scss */
body {
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #0C152A;
}

/* line 12, ../sass/modules/_layout.scss */
ul, a {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 18, ../sass/modules/_layout.scss */
h3, h5, p, a, li, label {
  color: #58697A;
}

/* line 22, ../sass/modules/_layout.scss */
h1, h2, h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

/* line 27, ../sass/modules/_layout.scss */
h1 {
  font-size: 24px;
}

/* line 31, ../sass/modules/_layout.scss */
h2 {
  font-size: 20px;
}

/* line 35, ../sass/modules/_layout.scss */
h3 {
  font-size: 18px;
}

/* line 39, ../sass/modules/_layout.scss */
a {
  text-decoration: none;
}

/* line 44, ../sass/modules/_layout.scss */
.button {
  margin: 20px 10px 5px 0px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  min-height: 20px;
  background-color: #0C152A;
  box-sizing: border-box;
  background-color: #0C152A;
  width: 100%;
}
/* line 49, ../sass/modules/_layout.scss */
.button a {
  color: white;
}

/* line 54, ../sass/modules/_layout.scss */
.page_wrapper {
  width: 1024px;
  margin: 0 auto;
  background-color: #ECEEF1;
}

/* line 1, ../sass/modules/_header.scss */
header {
  height: 100px;
  background-color: #189A66;
  vertical-align: middle;
  display: block;
}
/* line 7, ../sass/modules/_header.scss */
header #logo {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 12, ../sass/modules/_header.scss */
header #logo img {
  display: inline-block;
  vertical-align: middle;
  height: 60%;
  max-width: none;
  max-height: 80px;
  margin: 15px 30px 0 10px;
}
/* line 23, ../sass/modules/_header.scss */
header .header_container {
  display: inline-block;
  width: 75%;
}
/* line 27, ../sass/modules/_header.scss */
header .header_container #page_title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 55px;
  width: 70%;
}
/* line 33, ../sass/modules/_header.scss */
header .header_container #page_title h3 {
  color: white;
  font-size: 24px;
  margin-bottom: 0px;
  width: 90%;
}
/* line 40, ../sass/modules/_header.scss */
header .header_container #header_button {
  display: inline-block;
}

/* line 1, ../sass/modules/_tournamentlist.scss */
.b-tournamentlist-item {
  display: block;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 70px;
  margin: 0 0 20px 0;
}

/* line 8, ../sass/modules/_tournamentlist.scss */
.b-tournamentlist-current {
  display: inline-block;
  width: 66%;
  padding-right: 20px;
  vertical-align: top;
}
/* line 14, ../sass/modules/_tournamentlist.scss */
.b-tournamentlist-current__heading {
  display: block;
  font-weight: bold;
}
/* line 19, ../sass/modules/_tournamentlist.scss */
.b-tournamentlist-current__about {
  display: inline;
  margin: 0px 30px 0 0;
  max-width: 200px;
}

/* line 27, ../sass/modules/_tournamentlist.scss */
.b-tournamentlist-status {
  max-width: 26%;
  float: right;
  margin-top: 10px;
}
/* line 32, ../sass/modules/_tournamentlist.scss */
.b-tournamentlist-status__reg {
  margin-right: 30px;
}
/* line 36, ../sass/modules/_tournamentlist.scss */
.b-tournamentlist-status__button {
  margin: 20px 10px 5px 0px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  min-height: 20px;
  background-color: #0C152A;
  box-sizing: border-box;
  display: inline;
  margin-right: 30px;
}

/* line 1, ../sass/modules/_sidebar.scss */
aside {
  display: inline-block;
  width: 25%;
}

/* line 6, ../sass/modules/_sidebar.scss */
.sidebar {
  display: block;
  width: 90%;
  background-color: #ffffff;
  border-radius: 3px;
  vertical-align: top;
}
/* line 13, ../sass/modules/_sidebar.scss */
.sidebar ul {
  text-align: left;
  padding: 20px;
}
/* line 17, ../sass/modules/_sidebar.scss */
.sidebar ul h3 {
  margin: 10px 0 20px 0;
}
/* line 21, ../sass/modules/_sidebar.scss */
.sidebar ul li {
  display: block;
  width: 100%;
  height: 25px;
  vertical-align: middle;
  margin: 0 0 3px 0;
}
/* line 28, ../sass/modules/_sidebar.scss */
.sidebar ul li a:hover {
  border-bottom: 2px solid #0D8153;
}
/* line 34, ../sass/modules/_sidebar.scss */
.sidebar #registration_btn {
  width: 80%;
  margin: 0 0 20px 20px;
}

/* line 40, ../sass/modules/_sidebar.scss */
#sidebar2 {
  margin-top: 30px;
}

/* line 1, ../sass/modules/_forms.scss */
input, select, textarea {
  padding: 5px 5px 5px 10px;
  height: 25px;
  border-radius: 5px;
  line-height: 20px;
  margin: 0 30px 10px 0;
  font-size: 14px;
  color: #58697A;
  background-color: white;
  border: 2px solid #ECEEF1;
}
/* line 12, ../sass/modules/_forms.scss */
input:focus, select:focus, textarea:focus {
  border: 2px solid #0D8153;
}

/* line 17, ../sass/modules/_forms.scss */
textarea {
  min-height: 100px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 14px;
  margin-bottom: 20px;
}

/* line 24, ../sass/modules/_forms.scss */
select {
  -webkit-appearance: none;
  height: 35px;
  min-width: 170px;
}

/* line 30, ../sass/modules/_forms.scss */
label {
  display: block;
  padding-right: 10px;
  margin: 0 0 10px 0;
}

/* line 36, ../sass/modules/_forms.scss */
form {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 660px;
}
/* line 12, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
form:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 40, ../sass/modules/_forms.scss */
form h3 {
  clear: both;
}

/* line 45, ../sass/modules/_forms.scss */
.formItem {
  margin: 0 30px 20px 0;
  width: 32.53012%;
  float: left;
  margin-right: 1.20482%;
}
/* line 49, ../sass/modules/_forms.scss */
.formItem > input, .formItem > label {
  display: inline-block;
}

/* line 54, ../sass/modules/_forms.scss */
.full {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 58, ../sass/modules/_forms.scss */
#university, #adress, #count_teams_in_break, .last {
  float: right;
  margin-right: 0;
}

/* line 62, ../sass/modules/_forms.scss */
#country, #street, #regdateOpen, #regdateClose, #link, .row {
  clear: both;
}

/* line 66, ../sass/modules/_forms.scss */
#tournamentName {
  width: 91.56627%;
  float: left;
  margin-right: 1.20482%;
}
/* line 69, ../sass/modules/_forms.scss */
#tournamentName input {
  width: 100%;
}

/* line 74, ../sass/modules/_forms.scss */
#address {
  width: 91.56627%;
  float: left;
  margin-right: 1.20482%;
}
/* line 77, ../sass/modules/_forms.scss */
#address input {
  width: 100%;
}

/* line 82, ../sass/modules/_forms.scss */
#street {
  width: 66.26506%;
  float: left;
  margin-right: 1.20482%;
}
/* line 85, ../sass/modules/_forms.scss */
#street input {
  max-width: 370px;
  width: 370px;
}

/* line 91, ../sass/modules/_forms.scss */
#aboutTournament, #player_experience, #adjudicator_experience, .textarea {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 94, ../sass/modules/_forms.scss */
#aboutTournament textarea, #player_experience textarea, #adjudicator_experience textarea, .textarea textarea {
  max-width: 660px;
  width: 600px;
  min-height: 100px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 14px;
}

/* line 103, ../sass/modules/_forms.scss */
#link {
  width: 91.56627%;
  float: left;
  margin-right: 1.20482%;
}
/* line 106, ../sass/modules/_forms.scss */
#link input {
  width: 100%;
}

/* line 111, ../sass/modules/_forms.scss */
.button.formItem {
  width: 32.53012%;
  float: left;
  margin-right: 1.20482%;
  text-align: center;
}

/* line 116, ../sass/modules/_forms.scss */
#loginButton {
  width: 32.53012%;
  float: left;
  margin-right: 1.20482%;
}

/* line 122, ../sass/modules/_forms.scss */
.errorlist li {
  color: red;
  font-size: 14px;
  display: inline;
  margin: -5px 0 0 5px;
}

/* line 3, ../sass/modules/_profile.scss */
.b-profile__item {
  line-height: 1.4;
}
/* line 7, ../sass/modules/_profile.scss */
.b-profile__button {
  margin: 20px 10px 5px 0px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  min-height: 20px;
  background-color: #0C152A;
  box-sizing: border-box;
}

/* line 3, ../sass/modules/_tabs.scss */
.b-tabs__label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 1px solid #ddd;
  background: #f1f1f1;
  border-radius: 3px 3px 0 0;
}
/* line 15, ../sass/modules/_tabs.scss */
.b-tabs__label:hover {
  color: #888;
  cursor: pointer;
}
/* line 20, ../sass/modules/_tabs.scss */
.b-tabs__input:checked + label {
  color: #0D8153;
  border: 1px solid #ddd;
  border-top: 2px solid #0D8153;
  border-bottom: 1px solid #fff;
  background: #fff;
}
/* line 28, ../sass/modules/_tabs.scss */
.b-tabs__input {
  display: none;
}
/* line 32, ../sass/modules/_tabs.scss */
.b-tabs__one, .b-tabs__two, .b-tabs__three, .b-tabs__four {
  display: none;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
}

/* line 41, ../sass/modules/_tabs.scss */
#tab1:checked ~ .b-tabs__one,
#tab2:checked ~ .b-tabs__two,
#tab3:checked ~ .b-tabs__three,
#tab4:checked ~ .b-tabs__four {
  display: block;
}

/* line 1, ../sass/modules/_footer.scss */
footer {
  background-color: #189A66;
  height: 100px;
  padding: 20px 40px;
  display: block;
}
/* line 7, ../sass/modules/_footer.scss */
footer #footer_info {
  display: inline-block;
  width: 80%;
}
/* line 11, ../sass/modules/_footer.scss */
footer #footer_info li {
  color: white;
  display: inline;
  margin-right: 20px;
}
/* line 18, ../sass/modules/_footer.scss */
footer #contact {
  display: inline-block;
  width: 15%;
}
/* line 22, ../sass/modules/_footer.scss */
footer #contact li {
  display: inline;
  color: white;
  margin-right: 20px;
}

/* line 18, ../sass/main.scss */
.content_conteiner {
  padding: 30px 15px;
}

/* line 22, ../sass/main.scss */
.content {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 70%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 3px;
  vertical-align: top;
  min-height: 190px;
}
/* line 12, ../../../../../../../../.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/susy-2.2.5/sass/susy/output/support/_clearfix.scss */
.content:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 35, ../sass/main.scss */
.content section ul {
  margin: 10px 0 0 0;
}

/* line 44, ../sass/main.scss */
.b-tournament-info__heading {
  margin-top: 25px;
}
/* line 48, ../sass/main.scss */
.b-tournament-info__status {
  display: block;
}

/* line 54, ../sass/main.scss */
.b-tournament-info-reg {
  margin-top: 30px;
  min-height: 80px;
}

/* line 61, ../sass/main.scss */
#team_in_list {
  margin-bottom: 20px;
}
/* line 64, ../sass/main.scss */
#team_in_list ul {
  margin: 5px 0 5px 0;
}
/* line 67, ../sass/main.scss */
#team_in_list ul li {
  display: inline;
}

/* line 79, ../sass/main.scss */
#email_confirm h3 {
  text-align: center;
}
